body {background-color:#FEFEFE; }
body, div, th, td, p, layer, input, select, textarea {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
}
a {
	color:#036;
}
a:hover {}
a.object {font-weight:bold; }
a.object:hover {}
span.object {font-weight:bold; }
a.button {}
a.button:hover {}
td.pageHeader {font-family:Arial, Helvetica, Sans-Serif; font-size:14px; font-weight:bold; color:#1a1a1a; }
td.pageBorder {background-color:#003366; }
th.sub {text-align:Left; color:White; background-color:#999999; }
tr.odd {background-color:#F0F0F0; }
tr.even {background-color:#FFFFFF; }

td.label { text-align: left; background-color: #dadada; color: black; height: 24px; }
td.inputField { text-align: left; background-color: #eeeeee; font-size: 11px; }
th.IEFGlobalPrefHdr { text-align: left; color: black; background-color: #B9B9B9; font-weight: bold }
th.category { text-align: left; color: black; background-color: #B9B9B9; } 

th.sorted {border-color: #98BEDE !important; border-width:0 1px 1px 0; text-align: left; color: #1A1A1A;background: -moz-linear-gradient(center top , #DEEFFF 0%, #98BEDE 100%) repeat-x scroll 0 2px; background-color:#DEEFFF;border-bottom: 1px solid #DCDCDC;  border-right: 1px solid #ADCAED; font-size: 11px; height: 26px; padding: 3px 5px; font-family: Verdana,Arial,Helvetica; font-weight: bold; border-style:none solid solid} th{color: black; font-weight: bold;} 
td.node {border-right: 1px solid #B7C9E2; border-width:0 1px 1px 0; }

/* -------------------------------------------------------------------------
   Tab Settings
   ------------------------------------------------------------------------- */

.pv-channel-tabs {
	background:-moz-linear-gradient(top, #b5b5b5 0%, #d6d6d6 93%, #b5b5b5 100%); /* FF3.6+ */
	background-color:#b5b5b5;
}

.pv-channel-tabs table {
	float:left;
}

.pv-channel-tabs div.window-size {
	position:absolute;
	display:block;
	right:4px;
	top:1px;
	height:19px;
	width:19px;
	background-color:yellow;
	cursor:pointer;
}

.pv-channel-tabs div.window-size.btn-maximize {
	background:url("../images/utilPowerviewMinmax.png") 0 0 no-repeat;
}

.pv-channel-tabs div.window-size.btn-minimize {
	background:url("../../common/images/utilPowerviewMinmax.png") -19px 0 no-repeat;
}

.tabset-button {
	cursor:pointer;
	cursor:hand;
	padding:0 5px;
}

.tabset-background {
	height:100px;
	border:10px solid #000;
}

/* The tab-header class is for the div that displays the tab header. 16 Aug 2007 */   
.tab-header {
	color:#990000;
	font-weight:bold;
	font-size:12px;	    
	background-color:#FFFFFF;
	border-bottom:1px solid #B4B4B0;
	border-right:1px solid #B4B4B0;
	border-top:1px solid #B4B4B0;
	border-left:1px solid #B4B4B0;
}

td.tab-buttons {
	cursor:pointer;
	cursor:hand;
}

td.corner {
	width:4px !important;
}

td.corner img {
	display:none;
}

/* -------------------------------------------------------------------------
   Active Tab Settings
   ------------------------------------------------------------------------- */

/* Inner Table */
.tab-active table {
	cursor:pointer;
	cursor:hand;
	height:24px;
}

/* Tab Text */
.tab-active .text {
	background:#fff;
	font-weight:bold;
	color:#333;
	padding:7px 8px 0 10px;
	vertical-align:top;
	white-space:nowrap !important; 
	overflow:hidden;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topRight: 4px;
}

td:first-child.tab-active .text {
	background-position:left -4px;
	padding-left:10px;
}

/* Tab Corner */
.tab-active .corner {
	width:1px;
}

/* -------------------------------------------------------------------------
   Inactive Tab Settings
   ------------------------------------------------------------------------- */

/* Inner Table */
.tab-inactive table {
	cursor:pointer;
	cursor:hand;
	height:24px;
}

/* Tab Text */
.tab-inactive .text {
	font-weight:bold;
	color:#5f5f5f;
	padding:6px 6px 0 6px;
	vertical-align:top; 
	white-space:nowrap !important; 
	overflow:hidden;
	}

td:first-child.tab-inactive .text {
	padding-left:16px;
}

/* Tab Corner */
.tab-inactive .corner {
    background:-moz-linear-gradient(top, #b5b5b5 0%, #d6d6d6 93%, #b5b5b5 100%); /* FF3.6+ */
	background-color:#b5b5b5;
	width:18px;
}
