body { 
  background-color:  #8DA2C6;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

#header {
  background-color: #8DA2C6;
  margin:           10px;
  height:           108px;
}

#main {
  background:       #ECECEC;
  font-size:        105%;
  padding:          15px;
  margin:           0px 10px 10px 10px;
}

#sidebar {
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  margin:           0px 10px 10px 10px;
}

#footer {
  background-color:#ECECEC;
  color:           #333;
  text-align:       center;
  padding:          15px;
  margin:           10px;
  font-size:        90%;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

h2 { font-size: 110%; }

table {
  margin-left:      20px;
  margin-right:     20px;
  border:           thin solid black;
  caption-side:     bottom;
  border-collapse:  collapse;
}

td, th {
  border:           thin dotted gray;
  padding:          5px;
}

th {
  background-color: #cc6600;
}

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}
