.cfg-cr-composition-versionexplorerview {
  height: 100%; }
  .cfg-cr-composition-versionexplorerview .version-subway-canvas {
    border: 1px solid #d4d4d4; }

/*  if the title of the product is too long, then in the CR composition dialog, the title will be cut, to make it ellipsis, the following code is written */
.wux-windows-modalDialog div[wux-identifier*="CfgCRComposition"] .wux-windows-window-header-title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 0px); }
