.cfg-rev-instance-main-view-container {
  height: 100%; }
  .cfg-rev-instance-main-view-container .cfgcr-instance-summary-view-container {
    height: 100%; }
    .cfg-rev-instance-main-view-container .cfgcr-instance-summary-view-container .cfgcr-instance-objectlistview-container {
      position: relative;
      height: 100%; }
      .cfg-rev-instance-main-view-container .cfgcr-instance-summary-view-container .cfgcr-instance-objectlistview-container .cfgcr-instancelist-toolbarcontainer {
        display: flex;
        height: 38px;
        align-items: center; }
        .cfg-rev-instance-main-view-container .cfgcr-instance-summary-view-container .cfgcr-instance-objectlistview-container .cfgcr-instancelist-toolbarcontainer.cfgcr-instancelist-toolbar-border-top {
          border-top: 1px solid #d4d4d4; }
        .cfg-rev-instance-main-view-container .cfgcr-instance-summary-view-container .cfgcr-instance-objectlistview-container .cfgcr-instancelist-toolbarcontainer .wux-tweakers.wux-tweakers-string-label {
          font-size: 12px;
          font-weight: bold;
          padding-left: 0px; }
        .cfg-rev-instance-main-view-container .cfgcr-instance-summary-view-container .cfgcr-instance-objectlistview-container .cfgcr-instancelist-toolbarcontainer .wux-tweakers.wux-tweakers-string-label[touch-mode] {
          font-size: 14px;
          font-weight: bold;
          padding-left: 0px; }
      .cfg-rev-instance-main-view-container .cfgcr-instance-summary-view-container .cfgcr-instance-objectlistview-container .cfgcr-instancelist-gridviewcontainer {
        position: relative;
        height: calc(100% - 38px); }
      .cfg-rev-instance-main-view-container .cfgcr-instance-summary-view-container .cfgcr-instance-objectlistview-container .cfgcr-instancelist-gridviewcontainer-no-toolbar {
        position: relative;
        height: 100% !important;
        /* vmn8-rnd-for-links */
        border-top: 1px solid #d4d4d4; }

.cfg-rev-caselection-main-view-container {
  height: 100%; }
