
/* To avoid the default BPS style */
.cke_wysiwyg_frame {
    position: relative !important;
}

.form span {
    min-height:0 !important;
    margin-right:0 !important;
	float: none !important;  /* ++VMA10 ZUD :: added IR-735577-3DEXPERIENCER2021x */
}

@supports (-ms-ime-align: auto) {
  #RichTextEditor_html .cke_inner.cke_reset{
	float:none !important;
  }
  
  #RichTextEditor_html .cke_contents.cke_reset {
	float:none !important;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #RichTextEditor_html .cke_inner.cke_reset{
	float:none !important;
  }
  
  #RichTextEditor_html .cke_contents.cke_reset {
	float:none !important;
  }
}

/* Center Edit in Word button */
#NewRichTextEditor button {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* overrider UIKIT css */
#NewRichTextEditor p span {
	float: none !important; /* !important added ++VMA10 ZUD ::  IR-735577-3DEXPERIENCER2021x */
}

#NewRichTextEditor .cke_chrome
{
	border:1px solid #b6b6b6;
}

/*  ++VMA10 ZUD : added IR-723406-3DEXPERIENCER2021x */
#NewRichTextEditor td span 
{
	float: none;
}

