/* RCO widget display in view mode */
figure.rcowidget > span {
	float: none;
}

figure.rcowidget
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
/* 	background: rgba(0,0,0,0.05); */
	padding: 10px;
	margin: 10px 20px;
}

figure.rcowidget:hover
{
	outline: 2px solid yellow;
}

figure.rcowidget figcaption
{
	text-align: center;
}

/* clearing rcowidget for rich text expand on SB*/
div.cke_contents:after
{
  content: "";
  display: table;
  clear: both;
}
/* RICHTEXT CONTAINER CUSTOMIZATION */

.richTextPlaceHolderIE {
	display: none;
}
.richTextContainer {
	padding: 5px 0px 5px 5px; 
	background-color: #FCFCFF;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
    white-space:normal;
}

.richTextContainer a {
    color: #007EFC !important;
}

.richTextContainer ul li {
    list-style:disc inside none !important;
	display:list-item;
    border:none;
	padding:0;
}

.richTextContainer table, .richTextContainer tr, .richTextContainer td {
    border: solid 1px black !important;
}

.richTextContainer ul li {
    list-style:circle inside none !important;
}


.richTextContainer ol li {
    list-style:decimal inside none !important;
}

.richTextContainer ol, ul, dl {
    padding: 0 40px;
}

.richTextContainer table{
  -webkit-border-vertical-spacing: 1px !important;  
    -webkit-border-horizontal-spacing: 1px !important;
    border-collapse: separate !important;
	font-size : 13px;

}

.richTextContainer td {
    	padding: 1px !important;
	font-size:13px;
	box-sizing: content-box;
	white-space: normal !important;
}
