.sch-graph-test-drawer {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #f1f1f1;
  border: 1px solid #d1d4d4;
  border-radius: 5px; }
  .sch-graph-test-drawer:hover {
    background: #368ec4;
    border-color: #005686; }
  .sch-graph-test-drawer.sch-graph-inputtest-drawer {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }
  .sch-graph-test-drawer.sch-graph-outputref-drawer {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; }
  .sch-graph-test-drawer .sch-graph-drawer-title {
    box-sizing: border-box;
    flex-grow: 1;
    font-family: "eps3dsFont", Arial, sans-serif;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 11px; }
