.sch-graph-control-button-container {
  box-sizing: border-box;
  position: absolute; }
  .sch-graph-control-button-container .sch-graph-control-button {
    box-sizing: border-box;
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid #c5c6c7;
    background: #dcdddf;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2px; }
    .sch-graph-control-button-container .sch-graph-control-button:hover {
      background: #368ec4;
      border-color: #005686; }
    .sch-graph-control-button-container .sch-graph-control-button > span {
      box-sizing: border-box;
      line-height: 18px;
      pointer-events: none; }
      .sch-graph-control-button-container .sch-graph-control-button > span.wux-ui-fa-caret-right {
        font-size: 24px; }
      .sch-graph-control-button-container .sch-graph-control-button > span.wux-ui-fa-plus {
        font-size: 8px;
        position: absolute;
        left: 12px;
        top: 5px; }
      .sch-graph-control-button-container .sch-graph-control-button > span.wux-ui-fa-wifi {
        font-size: 12px; }
      .sch-graph-control-button-container .sch-graph-control-button > span.wux-ui-fa-bullhorn {
        font-size: 12px;
        position: absolute;
        top: 0px;
        left: 2px; }
  .sch-graph-control-button-container.sch-graph-input-control-button-container {
    transform: translate(-22.5px, 20px); }
    .sch-graph-control-button-container.sch-graph-input-control-button-container .sch-graph-control-button {
      border-radius: 5px 0px 0px 5px;
      border-right-width: 0px; }
  .sch-graph-control-button-container.sch-graph-output-control-button-container {
    transform: translate(2.5px, 20px); }
    .sch-graph-control-button-container.sch-graph-output-control-button-container .sch-graph-control-button {
      border-radius: 0px 5px 5px 0px;
      border-left-width: 0px; }
