/* Shortcut style configuration*/
.sch-node-shortcut {
  position: absolute;
  box-sizing: border-box;
  border: 0px solid black;
  background: #d1d4d4;
  width: 20px;
  height: 5px;
  cursor: move; }
  .sch-node-shortcut:hover {
    background: #368ec4;
    border-color: #005686; }
  .sch-node-shortcut.selected {
    background: #31afff;
    border-color: #005686; }
