.sch-debug-cursor {
  box-sizing: border-box;
  position: absolute;
  border: 3px solid red;
  border-radius: 5px;
  color: red;
  pointer-events: none; }
  .sch-debug-cursor > span {
    /*position: relative;
        left: 9px;
        top: 0px;*/
    transform: scale(1.1) translate(9px, -0.5px); }
  .sch-debug-cursor.sch-debug-cursor-parent {
    border-style: double;
    border-width: 4px; }
    .sch-debug-cursor.sch-debug-cursor-parent > span {
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: red; }
