.xapp-related-item-container {
  /*@media screen and (max-width: $screen-sm){
        	flex-direction: column;
        }*/ }
  .xapp-related-item-container .modal-wrap {
    /*display: table;*/
    position: relative; }
  .xapp-related-item-container .content-section-single {
    max-width: 600px; }
  .xapp-related-item-container .content-section-multiple {
    display: flex;
    flex-direction: row;
    max-width: 900px; }
  .xapp-related-item-container .validate-section {
    width: 100%;
    margin: 5px; }
    .xapp-related-item-container .validate-section .selected-item-header {
      display: flex;
      font-weight: bold; }
    .xapp-related-item-container .validate-section .selected-item-scroll-section {
      min-height: 300px; }
    .xapp-related-item-container .validate-section .item-scroll-section-content {
      position: relative;
      width: 100%;
      height: 100%; }
    .xapp-related-item-container .validate-section .empty-list-view {
      font-weight: bold;
      text-align: center;
      word-break: break-word;
      position: relative;
      /*padding-top: 30%;*/
      align-items: center;
      /*  margin-top: 110px; */ }
    .xapp-related-item-container .validate-section .validate-masked-section {
      display: flex;
      flex-direction: column; }
    .xapp-related-item-container .validate-section.droppable {
      z-index: 99;
      background-color: #fff;
      border: 3px dashed #368ec4;
      color: #368ec4; }
      .xapp-related-item-container .validate-section.droppable .validate-masked-section {
        opacity: 0.2; }
      .xapp-related-item-container .validate-section.droppable .drop-invite-multiple {
        position: absolute;
        font-size: 14px;
        width: 45%;
        height: 320px;
        text-align: center;
        line-height: 2100%;
        font-weight: bold; }
      .xapp-related-item-container .validate-section.droppable .drop-invite-single {
        position: absolute;
        font-size: 14px;
        width: 100%;
        text-align: center;
        line-height: 700%;
        font-weight: bold; }
  .xapp-related-item-container .divider-section {
    border: 1px solid #E2E4E3;
    margin-left: 25px;
    margin-right: 18px;
    /*@media screen and (max-width: $screen-sm){
        	border-bottom: 0 0 1px 0;
        }*/ }
  .xapp-related-item-container .reference-section {
    width: 100%;
    margin: 5px 5px; }
  .xapp-related-item-container .search-section {
    padding: 5px; }
  .xapp-related-item-container .suggestion-section {
    padding: 5px;
    min-height: 260px;
    font-weight: bold; }
    .xapp-related-item-container .suggestion-section .suggestion-scroll-section {
      min-height: 230px;
      font-weight: normal; }
  .xapp-related-item-container .translucent {
    background: transparent;
    color: #368ec4;
    padding: 0;
    min-width: inherit;
    border: none;
    margin-left: auto; }
  .xapp-related-item-container .autocomplete-suggests .autocomplete-item:not(.autocomplete-parent-item):hover, .xapp-related-item-container .autocomplete-suggests .js-selected:not(.autocomplete-parent-item), .xapp-related-item-container .autocomplete-suggests .autocomplete-parent-item.clickable:hover, .xapp-related-item-container .autocomplete-suggests .js-selected.autocomplete-parent-item.clickable {
    background-color: #42a2da; }
  .xapp-related-item-container .searchResImage {
    height: 30px;
    width: 30px;
    float: left;
    margin: 5px; }
  .xapp-related-item-container .autocomplete-suggests .autocomplete-item:not(.disabled):hover > .item-label, .xapp-related-item-container .autocomplete-suggests .js-selected:not(.disabled) > .item-label {
    color: white !important; }
