<div id="cardc{{index}}" class="card real-card drop-target {{#if hasProgress}}has-progress{{/if}} {{#if color}}tag-color{{/if}}">
      <div class="drop-zone-mask"></div>
      <div class="tag-color-chip" style="background-color:{{color}}"></div>
      <div class="card-content" data-id="{{id}}" oncontextmenu="return false" draggable="true">{{{cardContent}}}</div>
      <div class="card-menu">
            <button type="button" id="menu-card" class="btn-link btn btn-root btn-without-label btn-with-icon" title="">
                  <span class="fonticon fonticon-open-down"></span>
            </button>
      </div>
</div>
