{{~#if lData~}}
<div class="grid-object-thumbnail">
  <img src="{{lData.image}}" title="{{lData.title}}"></img>
</div>
<label class="grid-object-label">{{lData.title}}</label>
{{~else}}
<div class="grid-object-thumbnail">
</div>
{{~/if~}}
