.r3mDataGridView .r3mtweaker {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  word-break: normal;
}

.r3mDataGridView .r3mstatus {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-left: 0;
}

.r3mDataGridView .r3mstatuscolored {
  border-radius: 5px;
  color: white;
  padding: 0.2em 10px 0.2em 10px;
}

.r3mDataGridView .r3mprivate {
  background-color: rgb(155, 44, 152);
}

.r3mDataGridView .r3minwork {
  background-color: rgb(0, 125, 163);
}

.r3mDataGridView .r3mfrozen {
  background-color: rgb(1, 131, 8);
}

.r3mDataGridView .r3mreleased {
  background-color: rgb(117, 117, 117);
}

.r3mDataGridView .r3mobsolete {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(180, 182, 186);
}

.r3mDataGridView .r3mdefault {
  background-color: rgb(117, 117, 117);
}

.r3mDataGridView .r3mexists {
  background-color: rgb(117, 117, 117);
}

.r3mDataGridView .r3minprogress {
  background-color: rgb(0, 125, 163);
}

.r3mDataGridView .r3mfailed {
  background-color: rgb(204, 9, 47);
}

.r3mDataGridView .r3mpassed {
  background-color: rgb(1, 131, 8);
}

.r3mDataGridView .r3mdonenoko {
  background-color: rgb(1, 131, 8);
}

.r3mDataGridView .r3mstartedwithko {
  background-color: rgb(232, 123, 0);
}

.r3mDataGridView .r3mstartednoko {
  background-color: rgb(0, 125, 163);
}

.r3mDataGridView .r3mcomputed {
  background-color: rgb(0, 157, 219);
}

.r3mDataGridView .r3mdonewithko {
  background-color: rgb(204, 9, 47);
}

.r3mDataGridView .r3mnotcomputed {
  background-color: rgb(154, 42, 151);
}

.r3mDataGridView .r3merror {
    background-color: rgb(0, 0, 0);
}

.r3mDataGridView .r3mwarningcolor {
  color: rgb(232, 123, 0);
}

.r3mDataGridView .r3miconcolor {
  color: #77797c;
}

.r3mDataGridView .r3mwarning {
  width: 100%;
  padding-left: 7px;
}

.r3mDataGridView .r3mwarningtext {
  padding-left: 7px;
}

.r3mDataGridView .r3mimg {
  border-radius: 50%;
}

.r3mDataGridView .r3mpeople {
  width: 100%;
  padding-left: 7px;
}

.r3mDataGridView .r3mpeopleid {
  border-radius: 50%;
  padding-left: 7px;
}

.r3mPanel .wux-windows-window-header {
  padding: 0px;
}

.r3mPanel.wux-windows-window-maincontent {
  border: 0;
}

.r3mPanel .r3mInfoColor .wux-ui-3ds-info {
  color: rgb(66, 162, 218);
}

.r3mWelcome {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 40%;
  left: 0px;
  right: 0px;
}

.r3mWelcome .r3mWelcomeText {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 2px;
}

.wux-layouts-datagridview .wux-collectionview-statusBar .wux-controls-progressbar {
  width: 150px;
}
