@CHARSET "UTF-8";

/* reset every browser specific parameters */
* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, "Lucida Grande", Lucida, Tahoma,
		"Trebuchet MS", Geneva, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

body {
	width: 250px;
}

div.clear {
	clear: both;
	font-size: 1px;
	line-height: 1px;
}

div.leftColumn {
	float: left;
	padding: 0px 10px;
}

div.middleColumn {
	float: left;
	width: 190px;
}

div.rightColumn {
	float: right;
	padding-right: 5px;
}

h1 {
	font-weight: bold;
	font-size: 1.5em;
	color: #316ac5;
}

a.help {
	display: block;
	width: 17px;
	height: 17px;
	background-image: url("rsc/DMCHelp_help.gif");
	font-size: 1px;
}

div.title span {
	font-weight: bold;
}

div.title span:hover {
	text-decoration: underline;
}

div.description a {
	background-image: url("rsc/DMCHelp_arrow.gif");
	background-repeat: no-repeat;
	padding-left: 17px;
	font-weight: bold;
}

div.description a:hover {
	text-decoration: underline;
}

div.description p {
	margin-bottom: 5px;
}

div.description p span {
	font-weight: bold;
}

div.stepTodoHidden0,div.stepDoneHidden0,div.stepDoneHidden1,div.stepTodoHidden1,div.stepTodoShown,div.stepDoneShown
	{
	margin-top: 10px;
}

div.stepTodoHidden0,div.stepDoneHidden0 {
	background-color: white;
}

div.stepDoneHidden1,div.stepTodoHidden1 {
	background-color: #f3f1e7;
}

div.stepTodoShown,div.stepDoneShown {
	background-color: #d9e4f4;
	padding-bottom: 10px;
}

div.stepTodoShown div.middleColumn div.description,div.stepDoneShown div.middleColumn div.description
	{
	display: block;
	margin-top: 10px;
}

div div.middleColumn div.description {
	display: none;
}

div.finishShown {
	background-color: red;
	color: white;
	padding: 5px;
}

div.finishHidden {
	display:none;
}
