.expanded-tile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #f1f1f1;
  /** Common style */
  /** Item 'isSelected' checkbox */
  /** Quantity section */
  /** Thumbnail section */
  /** Primary informations (title, primary & secondary attributes) */
  /** Item attributes */
  /** Dropdown menu */ }
  .expanded-tile-view .expanded-tile-view-checkbox-container, .expanded-tile-view .expanded-tile-view-quantity, .expanded-tile-view .expanded-tile-view-thumbnail, .expanded-tile-view .expanded-tile-view-primary-informations, .expanded-tile-view .expanded-tile-view-attributes, .expanded-tile-view .expanded-tile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top;
    font-family: '3ds'; }
  .expanded-tile-view .expanded-tile-view-checkbox-container {
    width: 25px;
    padding-top: 1px;
    text-align: center; }
  .expanded-tile-view .expanded-tile-view-quantity-container {
    width: 59px;
    height: 100%;
    display: inline-block;
    position: relative; }
    .expanded-tile-view .expanded-tile-view-quantity-container .expanded-tile-view-expander {
      height: 100%;
      border-left: solid 1px #000000;
      left: 50%;
      position: absolute; }
    .expanded-tile-view .expanded-tile-view-quantity-container .expanded-tile-view-quantity {
      background-color: #ffffff;
      border: solid 1px #77797c;
      width: 40%;
      height: 40%;
      margin-top: 30%;
      margin-left: 30%;
      white-space: nowrap;
      overflow: visible;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      position: absolute;
      z-index: 10; }
    .expanded-tile-view .expanded-tile-view-quantity-container .expanded-tile-view-quantity-label {
      color: #77797c;
      line-height: 1.7; }
  .expanded-tile-view .expanded-tile-view-thumbnail {
    width: 4%;
    height: 100%;
    text-align: center; }
  .expanded-tile-view .expanded-tile-view-thumbnail-icon {
    width: 100%; }
  .expanded-tile-view .expanded-tile-view-primary-informations {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3;
    overflow: hidden;
    white-space: nowrap; }
  .expanded-tile-view .expanded-tile-view-full-title, .expanded-tile-view .expanded-tile-view-primary-more-informations {
    height: 45%;
    width: 100%; }
  .expanded-tile-view .expanded-tile-view-full-title {
    font-weight: 700; }
    .expanded-tile-view .expanded-tile-view-full-title .expanded-tile-view-title, .expanded-tile-view .expanded-tile-view-full-title .expanded-tile-view-version {
      display: inline-block; }
  .expanded-tile-view .expanded-tile-view-primary-attribute, .expanded-tile-view .expanded-tile-view-secondary-attribute {
    display: inline-block; }
  .expanded-tile-view .expanded-tile-view-secondary-attribute {
    font-weight: 700; }
  .expanded-tile-view .expanded-tile-view-attributes {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3; }
    .expanded-tile-view .expanded-tile-view-attributes .expanded-tile-view-attributes-column {
      height: 100%;
      width: 33%;
      display: inline-block;
      vertical-align: top; }
    .expanded-tile-view .expanded-tile-view-attributes .expanded-tile-view-attribute {
      height: 45%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .expanded-tile-view .expanded-tile-view-attributes .expanded-tile-view-attribute-name, .expanded-tile-view .expanded-tile-view-attributes .expanded-tile-view-attribute-value {
      display: inline-block;
      vertical-align: top; }
    .expanded-tile-view .expanded-tile-view-attributes .expanded-tile-view-attribute-name {
      color: #d1d4d4; }
  .expanded-tile-view .expanded-tile-view-dropdown-menu {
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4;
    position: absolute;
    right: 2px; }

/** Responsiveness */
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .expanded-tile-view-primary-informations {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .expanded-tile-view-attributes {
  width: 67%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .expanded-tile-view-attributes-column {
  width: 33%; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .expanded-tile-view-primary-informations {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .expanded-tile-view-attributes {
  width: 62%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .expanded-tile-view-attributes-column {
  width: 48%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .expanded-tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .expanded-tile-view-primary-informations {
  width: 35%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .expanded-tile-view-attributes {
  width: 44%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .expanded-tile-view-attributes-column {
  width: 100%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .expanded-tile-view-attributes-column[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .expanded-tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .expanded-tile-view-primary-informations {
  width: 75%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .expanded-tile-view-attributes {
  width: 0%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .expanded-tile-view-attributes-column {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel.nothumbnail .expanded-tile-view-thumbnail {
  visibility: hidden !important; }
