{{#if widget.isContainer}}
<div class="module moduleLayout wi-preview wi-{{widget.id}}" id="m_{{widget.id}}">
    <div class="moduleWrapper clearfix">
{{else}}
    {{#if widget.isEditable}}
    <div class="r2g-resize-transient-overlay"></div>
    <span class="r2g-resize-transient r2g-resize-top-right-both"></span>
    <span class="r2g-resize-transient r2g-resize-bottom-right-both"></span>
    <div class="module moduleEditable wi-preview wi-{{widget.id}} leaf-widget hide-ctn-before-onviewchange" id="m_{{widget.id}}">
        <div class="moduleWrapper front">
    {{else}}
    <div class="module wi-preview wi-{{widget.id}} leaf-widget" id="m_{{widget.id}}">
        <div class="moduleWrapper">
    {{/if}}
{{/if}}
        {{#if widget.header}}
            <div class="preview-header moduleHeader">
                <div class="moduleHeader__left">
                    <img class="moduleHeader__icon" src="{{options.widgetIcon}}" width="{{options.widgetIconSize}}px" height="{{options.widgetIconSize}}px">
                </div>
                <div class="moduleHeader__title"></div>
                <div class="moduleHeader__search"></div>

                {{#unless widget.isContainer}}
                <div class="moduleHeader__right">
                    <span class="search-in-widget-icon preview-icon ifwe-action-icon fonticon fonticon-search clickable" title=""></span>
                    <span class="filtered-badge preview-icon ifwe-action-icon fonticon-hide" title="">
                        <span class="filter-icon fonticon fonticon-filter" title=""></span>
                    </span>
                    <span class="untrusted-state-icon preview-icon ifwe-action-icon fonticon fonticon-lock-open" title=""></span>
                    <span class="platform-info-icon preview-icon ifwe-action-icon fonticon" title=""></span>
                    <span class="widget-link-icon preview-icon ifwe-action-icon fonticon fonticon-link" title=""></span>
                    <span class="help-icon preview-icon ifwe-action-icon fonticon fonticon-3ds-why clickable" title=""></span>
                    <span class="preferences-icon preview-icon ifwe-action-icon fonticon fonticon-cog fonticon-hide clickable" title=""></span>
                    <span class="refresh-icon preview-icon ifwe-action-icon fonticon fonticon-refresh clickable" title=""></span>
                    {{#unless widget.data.isMultiAppChildren}}
                        <span class="pin-icon preview-icon ifwe-action-icon fonticon fonticon-pin clickable" title=""></span>
                        <span class="close-icon preview-icon ifwe-action-icon fonticon fonticon-cancel clickable" title=""></span>
                    {{/unless}}
                </div>
                {{/unless}}
            </div>
        {{/if}}
    {{#if widget.isContainer}}
        </div>
    {{else}}
        <div class="moduleContent w-{{widget.widgetId}}"></div>
    </div>
    {{#if widget.isEditable}}
    <div class="moduleEdit back"></div>
    {{/if}}
{{/if}}
</div>
