<div class="edfm-tbar">
	<!-- <span class="tbar-actions-left">
		<span>{{ header }}</span>
	</span> -->
	<span class="tbar-actions-right">
		{{#each actions}}
			{{#if hasAccess }}
				{{#if html }}
					<span>{{{ html }}}</span>
				{{else}}
		  			<span class="wux-ui-3ds wux-ui-3ds-1x wux-ui-3ds-{{ icon }}" title="{{ label }}"></span>
				{{/if}}
			{{/if}}
		{{/each}}
		<!-- 
		<span class="input-group">
	    	<input type="text"/>
    		<span class="input-group-addon">
	  			<span class="wux-ui-3ds wux-ui-3ds-1x wux-ui-3ds-filter"></span>
    		</span>
		</span>
		-->
	</span> 
</div>
</div>
<br/><br/>

