<div class="enx-position-matrix-tooltip {{className}}">
      <div class="enx-position-matrix-rotation">
            <div class="enx-matrix-cell">{{x1}}</div>
            <div class="enx-matrix-cell">{{x2}}</div>
            <div class="enx-matrix-cell">{{x3}}</div>
            <div class="enx-matrix-cell">{{y1}}</div>
            <div class="enx-matrix-cell">{{y2}}</div>
            <div class="enx-matrix-cell">{{y3}}</div>
            <div class="enx-matrix-cell">{{z1}}</div>
            <div class="enx-matrix-cell">{{z2}}</div>
            <div class="enx-matrix-cell">{{z3}}</div>
      </div>
      <div class="enx-position-matrix-translation">
            <div class="enx-matrix-cell">{{t1}}</div>
            <div class="enx-matrix-cell">{{t2}}</div>
            <div class="enx-matrix-cell">{{t3}}</div>
      </div>
</div>
