.compareGreyRow {
	background : #f4f5f6;
}

.compareWhiteRow {
	background : #ffffff;
}

.compare-attr-title-cell {
    font-weight: bold;
}

.attr-table-no-diffs-found {
    font-family: '3ds';
    font-size: 14px;
    font-weight: normal;
    color: #3d3d3d;
    padding: 5px;
}

div.wux-tweakers.wux-tweakers-color-square {
	height:95%;
}

div.thumbnail-div {
	display:flex;
	width:100%;
	height:100%;
	justify-content:left;
}

div.thumbnail-div > img {
	margin-top: 8px;
	max-width: 100%;
	max-height: 75%;
}
