<div class="settings-container">
  <div class="setting-container">
    <div class="label-container">Display Options</div>
    <div class="option-container">
      <input type="checkbox" class="settings-instant-search-checkbox">
      <span class="settings-instant-search-title">Activate Instant Search</span>
    </div>
  </div>
  <div class="setting-container">
    <div class="label-container"></div>
    <div class="option-container">
      <input type="checkbox" class="settings-instant-search-checkbox">
      <span class="settings-instant-search-title">Use Tabs to Show Search</span>
    </div>
  </div>
  <div class="setting-container">
    <div class="label-container">CSV Separator</div>
    <div class="option-container-select">
      <select></select>
    </div>
  </div>
  <div class="setting-container">
    <div class="label-container">Display Date Format</div>
    <div class="option-container-select">
      <select></select>
    </div>
  </div>
  <div class="setting-container">
    <div class="label-container">Revisions in Search Results</div>
    <div class="option-container-select">
      <select></select>
    </div>
  </div>
  <div class="setting-container">
    <div class="label-container">Collaborative Spaces Credentials</div>
    <div class="option-container-select">
      <select></select>
    </div>
  </div>
</div>
