<div class="sn-search-field uwa-autocomplete nv-autocomplete-searchbox">
  <input class="sn-search-field uwa-autocomplete nv-autocomplete-input" placeholder="Search" type="text">
</div>
<div class="sn-search-field uwa-autocomplete nv-autocomplete-container">
  <div class="content-container">
    <div class="mycontent-tab-container">
      <div class="mycontent-container">
        <div class="mycontent-title-container">
          <div class="fonticon fonticon-user mycontent-icon"></div>
          <div class="mycontent-title"></div>
          <div class="mycontent-link"></div>
        </div>
      </div>
      <div class="history-container"></div>
    </div>
    <div class="favorite-searches-tab-container" hidden='true'>
      <div class="favorite-searches-container">
        <div class="favorite-searches-title-container">
          <div class="fonticon fonticon-user mycontent-icon"></div>
          <div class="favorite-searches-title"></div>
          <div class="favorite-searches-link"></div>
        </div>
      </div>
      <div class="history-container"></div>
    </div>
    <div class="settings-tab-container" hidden='true'></div>
    <div class="predefined-queries-tab-container" hidden='true'>
      <div class="predefined-queries-container"></div>
      <div class="predefined-queries-documentation-container">
        <div class="predefined-queries-documentation-title"></div>
        <div class="predefined-queries-documentation-text-container"></div>
      </div>
    </div>
  </div>
  <div class="tab-container">
    <div class="search-dropdown-tab-mycontent no-left-border">
      <span class="fonticon fonticon-user search-dropdown-tab-icon"></span>
      <span class="search-dropdown-tab-text">###MYCONTENTTAB###</span>
      <hr>
    </div>
    <div class="search-dropdown-tab-favorite-searches">
      <span class="fonticon fonticon-favorite-on search-dropdown-tab-icon"></span>
      <span class="search-dropdown-tab-text">###FAVORITESEARCHESTAB###</span>
      <hr>
    </div>
    <div class="search-dropdown-tab-settings">
      <span class="fonticon fonticon-cog search-dropdown-tab-icon"></span>
      <span class="search-dropdown-tab-text">###SETTINGSTAB###</span>
      <hr>
    </div>
    <div class="search-dropdown-tab-predefined-queries">
      <span class="fonticon fonticon-help search-dropdown-tab-icon"></span>
      <span class="search-dropdown-tab-text">###PREDEFINEDQUERIESTAB###</span>
      <hr>
    </div>
  </div>
</div>
