.effectivity-inline-editor-container {
  padding-bottom: 10px !important;
  /** WUX override */
  /** Style for icons container in expander header */
  /** Remove border on AutoComplete search box */
  /** Overflow hidden override (used when accordeon is expanded for correct display of AutoComplete component) */ }
  .effectivity-inline-editor-container .wux-controls-expander-body.wux-controls-expander-body-toggle {
    padding: 0px !important;
    transition: none !important;
    -webkit-transition: none !important; }
  .effectivity-inline-editor-container .wux-controls-abstract.wux-controls-combobox {
    margin: 0 !important; }
  .effectivity-inline-editor-container .wux-controls-expander-header-container {
    max-width: calc(100% - 100px) !important; }
  .effectivity-inline-editor-container .accordeon-icons-container {
    height: 38px;
    top: 0px;
    right: 0px;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.2em;
    position: absolute;
    cursor: pointer;
    z-index: 100; }
  .effectivity-inline-editor-container .autocomplete-searchbox {
    border: none; }
  .effectivity-inline-editor-container .overflow-visible-override {
    overflow: visible !important; }

.CfgITEOnDashboardDialog .modal-body {
  padding: 10px !important; }

/** Style for the monomodel mode (no accordeon) */
.effectivity-inline-editor-monomodel-container {
  position: relative;
  height: 100%; }
  .effectivity-inline-editor-monomodel-container .effectivity-inline-editor-monomodel-name {
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    left: 2px; }
  .effectivity-inline-editor-monomodel-container .fonticon-broom {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer; }
  .effectivity-inline-editor-monomodel-container .effectivity-inline-editor-monomodel-autocomplete-container {
    height: calc(100% - 20px); }

/** Style for the action bar */
.effectivity-inline-editor-action-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px; }

/** Style for the no-model panel */
.effectivity-inline-editor-no-model-panel {
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .effectivity-inline-editor-no-model-panel .effectivity-inline-editor-no-model-panel-img {
    height: 108px; }
    .effectivity-inline-editor-no-model-panel .effectivity-inline-editor-no-model-panel-img img {
      height: 100%; }
  .effectivity-inline-editor-no-model-panel .effectivity-inline-editor-no-model-panel-text {
    margin-top: 15px;
    margin-bottom: 5px; }

@media screen and (max-width: 420px) {
  .effectivity-inline-editor-container .autocomplete-suggests.autocomplete-floating-suggests {
    width: calc(100% - 20px); }
  .effectivity-inline-editor-monomodel-container .autocomplete-suggests.autocomplete-floating-suggests {
    width: calc(100% - 20px); } }
