<div class="filter-container-widget-div {{AppType}}">
    <div class="repairFilter-header">
        <div class="repairFilter-name-icon">
            <span class="filter-name-toDisplay">{{filterNameToRepair}}</span>
        </div>
        <!-- <span class="ctx-group-menu fonticon fonticon-chevron-down" title=""></span> -->
    </div>
    <div class="repairFilter-list-accordeons">
        <span class="filter-name-test">{{filterNameTest}}</span>
        <div class="repairFilterTiles-test"></div>
    </div>
    <div class="buttonDiv">

    </div>
</div>
