.inputvalidation-input-box
{
  padding: 6px 12px; 
  border-radius: 4px;
}

.inputvalidation-input-feedback
{
  padding-right: 40px;
}

.inputvalidation-validation-invalid
{
  border-color: #d25555 !important;
  background: #f5dede !important;
}

.inputvalidation-info-icon:before
{
  content: '!';
}

.inputvalidation-info-icon
{
  display: none;
  position: absolute;
  font-weight: 900;
  right: 5px;
  top: 1px;
  cursor: pointer;
  color: #d25555; 
}

.inputvalidation-tooltip
{
  z-index: 99999;
}

.debug-inputvalidation-detached
{
  background: #af45ec;
}

.debug-inputvalidation-attached
{
  background: lightgreen;
}

.debug-inputvalidation-create
{
  background: #04afb7;
}
