
.Lifecycle_Modals {
	z-index:40060 !important; 
}

.Lifecycle_Modals > .modal-wrap > .modal-content > div.modal-header {
    height:44px;
    padding:0 14px;
}

.Lifecycle_Modals > .modal-wrap > .modal-content > .modal-header > h4{
    line-height:44px;
    margin:0 auto;
    font-family: Arial;
    font-size: 16px;
    color:#3D3D3D;
    font-weight:bold;
    /*TZ3 IR-468107-3DEXPERIENCER2017x*/
    max-height:44px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.Lifecycle_Modals > .modal-wrap > .modal-content > .modal-header > button.close  {
    height:44px;
}

.Lifecycle_Modals > .modal-wrap > .modal-content > div.modal-body{
    height: calc(100% - 44px);
    width: 100%;
    padding: 10px 14px 10px 14px;
}

.Lifecycle_Modals > .modal-wrap > .modal-content > div.modal-footer{
    padding:14px;
}
