.numberModal_modal {
    .numberModal {
         padding: 4px 6px;

        .numberModal_spinbox {
            width: 65px;
            min-width: 55px;
            height: 22px;
        }

        .numberModal_ok {
            min-width: 20px;
            width: 20px;
            height: 22px;
         }
    }

    .modal-content {
        width: 110px;

        .modal-body {
            min-height: 30px;
            height: 30px;
            padding: 0;
        }
    }
}

