<label for="{{id}}">
  <span class="toggle toggle-switch">
    <input class="data-entry" type="checkbox" id="{{id}}"{{#if checked}} checked {{/if}} {{#if disabled}} disabled{{/if}}>
    <label class="control-label" for="{{id}}">
      <span class="fonticon fonticon-pin"></span>&nbsp;
      <span class="field-label">{{label}}</span>
    </label>
  </span>
</label>
