<div name="progressBar" class="eno6w popover tasks-view upload bottom fade in">
      <div class="popover-title">
            <div class="title">{{title}}</div>
            <i class="minimize-btn fonticon fonticon-down-open"></i>
            <i class="cancel-btn fonticon fonticon-cancel"></i>
      </div>
      <div class="popover-body">
      </div>
</div>
