{{!--
    template file for detail
    version: SCM.23
    class of the containing div is: "details"
 --}}
<div class="header">
      <div class="panel-tabs">
            <ul class="panel-tab-wrap">
                  <li id="detailsTab" class="panel-tab">
                        <span class="fonticon fonticon-attributes"></span>
                  </li>
                  <li id="membersTab" class="panel-tab">
                        <span class="fonticon fonticon-users"></span>
                  </li>
                  <li id="commentsTab" class="panel-tab">
                        <span class="fonticon fonticon-comment"></span>
                  </li>
                  <li id="classificationTab" class="panel-tab">
                        <span class="fonticon fonticon-library-class"></span>
                  </li>
            </ul>
      </div>

      <div class="panel-actions"></div>
      <div class="panel-overflow"></div>
</div>{{!-- /.header --}}

<div id="detailsPanelFrame" class="body">
      {{!-- generic property form goes here--}}
</div>{{!-- /.body --}}

<div class="footer">
      <div class="panel-actions">
            <div class="panel-action">
                  <button id="saveButton" class="btn btn-primary">{{i18n "E6WCommonApps.Command.Save"}}</button>
                  <button id="cancelButton" class="btn btn-default">{{i18n "E6WCommonApps.Command.Cancel"}}</button>
                  <button id="closeButton" class="btn btn-default">{{i18n "E6WCommonApps.Command.Close"}}</button>
            </div>
      </div>
</div>{{!-- /.footer --}}
