<div class="show-hide-button-wrapper">
      <div class="show-hide-button">
            <div class="show-hide-arrow">
                  <svg id="showHideChevron" xmlns="http://www.w3.org/2000/svg" width="75%" height="75%" viewBox="0 0 14.84 19.73">
                        <path class="show-hide-chevron" transform="translate(-2.58 -1.13)" d="M6.55,2.33,4.77,4.11a1.51,1.51,0,0,0,0,2.12L9.54,11,4.78,15.76a1.51,1.51,0,0,0,0,2.14l1.78,1.78a1.51,1.51,0,0,0,2.12,0l4.77-4.77L17.36,11,13.45,7.09,8.68,2.33A1.5,1.5,0,0,0,6.55,2.33Z"></path>
                  </svg>
            </div>
      </div>
</div>
