@import 'variables.uikit';

.deleteview__label-options,
.label__options {
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid $grey-6;
}

.w3ddrive .form__message-error
{
    visibility: hidden;

    opacity: 0;
    color: red;
    width: 0px;
}

.w3ddrive .form__message-error--active
{
    visibility: visible;

    opacity: 1;
    color: red;
}

.w3ddrive .form__message--warning
{
  display: inline;
  visibility: visible;
  opacity: 1;
  color: orange;
 }

.w3ddrive .form__input--error
{
    border: 1px solid red;
}

.w3ddrive .form_form-edit,
.w3ddrive .form_form-create
{
    margin-top: 15px;
}

.modal_inputName
{
	margin-bottom:1em;
}
.modal__content-tree .scroller
{
    height: 100px;
}

.w3ddrive .form__message-label
{
    visibility: visible;
    margin: 9px 0;
    height: 14px;
    font-weight: bold;
    display: block;
    color: #3d3d3d;
    text-align: left;
}

.w3ddrive .form__message-warning
{
    visibility: visible;
    margin: 4px;
    display: block;
    font-size: 12px;
    color: #3d3d3d;
    text-align: left;
}

@media screen and (min-height: 500px) and (max-height: 670px)
{
    .modal__content-tree .scroller
    {
        height: 225px;
    }
}

@media screen and (min-height: 670px)
{
    .modal__content-tree .scroller
    {
        height: 400px;
    }
}

.download-more-info {
    cursor: pointer;
    color: #42a2da;
    font-weight: bold;
}


.more-info-modal, .proceed-modal {
    margin: 10px 0 10px 20px;
    
    &.main-not-indexed {
        margin-top: 15px;
        line-height: 25px;
    }

    ul {
        list-style: disc;
        margin: 5px 0 0 25px;
    }
}
