@import "./variables.uikit";

$topbar-screen-break-tiny: 550px;
$topbar-screen-break-small: 700px;
$topbar-screen-break-medium: 959px;
$topbar-screen-break-large: 1356px;

$topbar-height: 44px;
$tobar-compass-bottom-height: 32px; // Bottom part of the Compass which is ouside of the TopBar.
$tabbar-height: 39px;
$footer-height: 36px;

$ifwe-search-input-height: 40px;
$ifwe-search-input-dense-height: 30px;

$search-in-tab-overlay-height: $ifwe-search-input-height;

$scroll-size-x: 6px; // For Scroll-x bar (horizontal)
$scroll-size-y: 6px; // For Scroll-y bar (vertical)
