<div class="ds-app-layouts-skeleton">
      <div class="ds-app-skeleton-container">
            <div class="ds-app-skeleton-panel ds-app-panel-left">
                  <div class="ds-app-panel-content">
                        <div class="ds-app-panel-head"></div>
                        <div class="ds-app-panel-body"></div>
                  </div>
                  <div class="ds-app-skeleton-panel-resize-handle"></div>
            </div>
            <div class="ds-app-skeleton-main-content">
                  <div class="ds-app-skeleton-navigationbar">
                        <div class="ds-app-navigationbar-content"></div>
                  </div>
                  <div class="ds-app-skeleton-idcard">
                  </div>
                  <div class="ds-app-skeleton-content-container">

                          <div class="ds-app-facet-toolbar"></div>
                          <!-- <div class="ds-app-content-scroller"> -->
                          <div class="ds-app-content ds-app-facet"></div>
                         <!-- </div> -->
                  </div>
            </div>
            <div class="ds-app-skeleton-panel ds-app-panel-right">
                  <div class="ds-app-panel-content"></div>
                  <div class="ds-app-skeleton-panel-resize-handle"></div>
            </div>
      </div>
      <div class="ds-app-skeleton-statusbar">
            <div class="ds-app-statusbar-content"></div>
      </div>
</div>
