<div class="ds-app-dialog-container">
  <div class="ds-app-dialog-toolbar">
  </div>
  <div class="ds-app-dialog-content">
    <div class="ds-app-calendar-preview-container">
      <div class="ds-app-calendar-preview">
      </div>
      <div class="ds-app-calendar-event-list">
        <div class="ds-app-calendar-events">
        </div>
      </div>
    </div>
    <div class="ds-app-calendar-gridview-container">
    </div>
  </div>
</div>
