<div class="summary-view">
  <div class="" id="summaryViewContainer">
    <div class="" id="summaryViewContent" style="overflow: hidden;">
      <div class="ds-grid-row">
        <div class="ds-grid-column">
          <div class="summary-card">
            <div class="summary-card-head">
              <div class="summary-card-title">
                <span id="heatmapLabel" class="title"></span>
                <div id="heatmapBadge" class="summary-card-badge">
                  <span class="wux-ui-3ds wux-ui-3ds-1x wux-ui-3ds-alert"></span>
                  <span id='configurationMismatchForHeatmap'></span>
                </div>
              </div>
              <div class="summary-card-actions">
                <div id="fixInvalidRisksForHeatmap" class="summary-card-action">
                </div>
              </div>
            </div>
            <div class="summary-chart">
              <div id="heatmapChart" class="summary-chart-content">
                <!-- content goes here -->
              </div>
            </div>
          </div>
        </div>
        <div class="ds-grid-column">
          <div class="summary-card">
            <div class="summary-card-head">
              <div class="summary-card-title">
                <span id="breakdownLabel" class="title"> </span>
                <div id="breakdownBadge" class="summary-card-badge">
                  <span class="wux-ui-3ds wux-ui-3ds-1x wux-ui-3ds-alert"></span>
                  <span id='configurationMismatchForBreakdown'></span>
                </div>
              </div>
              <div class="summary-card-actions">
                <div id="fixInvalidRisksForBreakdown" class="summary-card-action">
                </div>
                <div class="summary-card-action">
                </div>
              </div>
            </div>
            <div class="summary-chart">
              <div id="breakdownChart" class="summary-chart-content">
                <!-- content goes here -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ds-grid-row">
        <div class="ds-grid-column">
          <div class="summary-card">
            <div class="summary-card-head">
              <div class="summary-card-title">
                <span id="classificationLabel" class="title"> </span>
              </div>
            </div>
            <div id="classificationChartContainer" class="summary-chart overflow">
              <div id="classificationChart" class="summary-chart-content">
                <!-- content goes here -->
              </div>
            </div>
          </div>
        </div>
        <div class="ds-grid-column">
          <div class="summary-card">
            <div class="summary-card-head">
              <div class="summary-card-title">
                <span id="actionPlanBreakdownLabel" class="title"> </span>
              </div>
            </div>
            <div class="summary-chart">
              <div id="actionPlanBreakdownChart" class="summary-chart-content">
                <!-- content goes here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
