<div class="summary-card-head">
      <div class="summary-card-title">
            <span class="fonticon fonticon-risk-type"></span>
            <span id="heatmapLabel" class="title"></span>
            <div id="heatmapBadge" class="summary-card-badge">
                  <span class="wux-ui-3ds wux-ui-3ds-1x wux-ui-3ds-alert"></span>
                  <span id='configurationMismatchForHeatmap'></span>
            </div>
      </div>
      <div class="summary-card-actions">
            <div id="fixInvalidRisksForHeatmap" class="summary-card-action">
            </div>
      </div>
</div>
<div class="summary-chart-xPlan">
      <div id="heatmapChart" class="summary-chart-content">
            <!-- content goes here -->
      </div>
</div>
