<div class="properties-container">
  	<div class="object-properties">
    	<div class="object-properties-toolbar">
      		<div class="object-properties-tabs"> </div>
      		<div class="object-properties-actions"> </div>
  		</div>
  		<div class="object-properties-list"> </div>
  		<div class="object-properties-body"> </div>
  		<div class="object-properties-footer"> </div>
  	</div>
</div>
