<div class="multistep-view-container stacked">

  <nav class="multistep-view-navigation show-labels show-indicator">
    <div class="navigation-rope-container">
      <div class="navigation-rope-ladder">
        <div class="navigation-rope"></div>
      </div>
    </div>
    <div class="navigation-links">
      <div class="nav-item">
        <div class="nav-item-indicator">
          <span class="wux-ui-3ds wux-ui-3ds-expand-down"></span>
        </div>
        <div class="nav-item-badge">
          <span class="wux-ui-3ds wux-ui-3ds-link"></span>
        </div>
        <div class="nav-item-label">Step 1</div>
      </div>
      <div class="nav-item active">
        <div class="nav-item-indicator">
          <span class="wux-ui-3ds wux-ui-3ds-expand-down"></span>
        </div>
        <div class="nav-item-badge">
          <span class="wux-ui-3ds wux-ui-3ds-new-create"></span>
        </div>
        <div class="nav-item-label">Step 2</div>
      </div>
      <div class="nav-item">
        <div class="nav-item-indicator">
          <span class="wux-ui-3ds wux-ui-3ds-expand-down"></span>
        </div>
        <div class="nav-item-badge">
          <span class="wux-ui-3ds wux-ui-3ds-lock"></span>
        </div>
        <div class="nav-item-label">Step 3</div>
      </div>
      <div class="nav-item">
        <div class="nav-item-indicator">
          <span class="wux-ui-3ds wux-ui-3ds-expand-down"></span>
        </div>
        <div class="nav-item-badge">
          <span class="wux-ui-3ds wux-ui-3ds-floppy"></span>
        </div>
        <div class="nav-item-label">Step 4</div>
      </div>
      <div class="nav-item">
        <div class="nav-item-indicator">
          <span class="wux-ui-3ds wux-ui-3ds-expand-down"></span>
        </div>
        <div class="nav-item-badge">
          <span class="wux-ui-3ds wux-ui-3ds-thumbs-up"></span>
        </div>
        <div class="nav-item-label">Step 5</div>
      </div>
    </div>
  </nav>

  <section class="multistep-view-content">
    <div class="foo"></div>
  </section>
</div>
