<div class="ds-app-toolbar-container">
  <div class="ds-app-toolbar-group ds-navigation">
    <!-- 1-n toolbars inserted here -->
  </div>

  <div class="ds-app-toolbar-group ds-contextual-actions">
    <!-- 1-n toolbars inserted here -->
  </div>

  <div class="ds-app-toolbar-group ds-filtering">
    <!-- 1-n toolbars inserted here -->
  </div>

  <div class="ds-app-toolbar-group ds-panel-actions">
    <!-- 1-n toolbars inserted here -->
  </div>
</div>
