.empty-content {
  height: 100%;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column; }
  .empty-content .align-center {
    text-align: center; }
  .empty-content .align-left {
    text-align: left; }
  .empty-content .align-right {
    text-align: right; }
  .empty-content .main-frame {
    width: 65%;
    margin: auto;
    padding: 2%; }
  .empty-content .default-back-background {
    padding-top: 8%; }
    .empty-content .default-back-background i {
      font-size: 500%; }
  .empty-content .sentence-details {
    margin: 12px; }
  .empty-content .sentence-text {
    font-family: Arial, sans-serif; }
  .empty-content .sentence-icon {
    margin-bottom: 10px; }
  .empty-content .split-details {
    margin-top: 8px; }
  .empty-content .split-line-left {
    display: inline-block;
    width: 5%;
    height: 5px;
    border-top: 2px solid #D5E8F2;
    margin-right: 5px; }
  .empty-content .split-or {
    display: inline-block;
    font-weight: 600; }
  .empty-content .split-line-right {
    display: inline-block;
    width: 5%;
    height: 5px;
    border-top: 2px solid #D5E8F2;
    margin-left: 5px; }
  .empty-content .dialog-details {
    margin-top: 8px; }
  .empty-content .dialog-line {
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-left: calc(15% - 10px);
    /*G*/ }
  .empty-content .right-line {
    float: left;
    width: 60%;
    border-top: 2px solid #77797C; }
  .empty-content .middle-lines {
    float: left;
    width: 20px;
    height: 30px;
    max-width: 20%;
    /*G*/ }
  .empty-content .turn-border-top {
    float: left;
    height: 0px;
    width: 30px;
    border-top: 2px solid #77797C;
    transform: rotate(105deg);
    -ms-transform: rotate(105deg);
    /* IE 9 */
    -webkit-transform: rotate(105deg);
    /* Safari 3-8 */
    transform-origin: 0 100% 0;
    top: -1.9px;
    position: relative; }
  .empty-content .turn-border-right {
    float: left;
    height: 39px;
    width: 20.5px;
    border-right: 2px solid #77797C;
    transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    /* IE 9 */
    -webkit-transform: rotate(43deg);
    /* Safari 3-8 */
    transform-origin: 100% 0 0;
    top: -0.5px;
    position: relative; }
  .empty-content .left-line {
    float: left;
    width: 20%;
    border-top: 2px solid #77797C; }
  .empty-content .clear-float {
    clear: both; }
  .empty-content .bottom-sentence {
    margin-bottom: 3%; }
