.tile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #f1f1f1;
  background-color: white;
  /** Common style */
  /* Item 'isSelected' checkbox */
  /** Primary informations (reference name, version and state) */
  /** Item attributes */
  /** Secondary informations (instance name and effectivity) */
  /** Dropdown menu */ }
  .tile-view .tile-view-checkbox-container, .tile-view .tile-view-thumbnail, .tile-view .tile-view-warning-cue, .tile-view .tile-view-primary-informations, .tile-view .tile-view-attributes, .tile-view .tile-view-secondary-informations, .tile-view .tile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top;
    font-family: '3ds'; }
  .tile-view .tile-view-checkbox-container {
    width: 2%;
    position: relative;
    left: 12px;
    top: 5px; }
  .tile-view .tile-view-thumbnail {
    width: 4%;
    height: 100%;
    text-align: center; }
  .tile-view .tile-view-thumbnail-icon {
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 3px 0; }
  .tile-view .tile-view-warning-cue {
    width: 2%;
    height: 100%;
    text-align: center; }
  .tile-view .tile-view-cue-icon {
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 3px 0; }
  .tile-view .tile-view-primary-informations {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3; }
    .tile-view .tile-view-primary-informations .tile-view-full-title, .tile-view .tile-view-primary-informations .tile-view-primary-attribute {
      height: 45%;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .tile-view .tile-view-primary-informations .tile-view-full-title {
      font-weight: 700;
      cursor: pointer; }
    .tile-view .tile-view-primary-informations .tile-view-title, .tile-view .tile-view-primary-informations .tile-view-version {
      display: inline-block; }
  .tile-view .tile-view-attributes {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3; }
    .tile-view .tile-view-attributes .tile-view-attributes-column {
      height: 100%;
      display: inline-block;
      vertical-align: top; }
    .tile-view .tile-view-attributes .tile-view-attribute {
      height: 45%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .tile-view .tile-view-attributes .tile-view-attribute-name, .tile-view .tile-view-attributes .tile-view-attribute-value {
      display: inline-block;
      vertical-align: top; }
    .tile-view .tile-view-attributes .tile-view-attribute-name {
      color: #d1d4d4; }
    .tile-view .tile-view-attributes .tile-view-attribute-value.link {
      color: #368ec4;
      cursor: pointer; }
  .tile-view .tile-view-secondary-informations {
    height: 60%;
    top: 20%;
    padding-left: 20px;
    color: #77797c;
    text-align: left;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    border-left: solid 1px #f1f1f1; }
    .tile-view .tile-view-secondary-informations .tile-view-secondary-attribute {
      height: 50%;
      width: 100%;
      font-weight: 700; }
  .tile-view .tile-view-dropdown-menu {
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4;
    position: absolute;
    right: 2px; }

/** Responsiveness */
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .tile-view-primary-informations {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .tile-view-attributes {
  width: 53%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .tile-view-secondary-informations {
  width: 15%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .tile-view-attributes-column {
  width: 33%; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .tile-view-primary-informations {
  width: 25%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .tile-view-attributes {
  width: 40%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .tile-view-secondary-informations {
  width: 25%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .tile-view-attributes-column {
  width: 48%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .tile-view-primary-informations {
  width: 25%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .tile-view-attributes {
  width: 30%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .tile-view-secondary-informations {
  width: 32%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .tile-view-attributes-column {
  width: 100%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .tile-view-attributes-column[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .tile-view-primary-informations {
  width: 45%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .tile-view-attributes {
  width: 0%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .tile-view-secondary-informations {
  width: 42%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .tile-view-attributes-column {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel.nothumbnail .tile-view-thumbnail {
  visibility: hidden !important; }

/** Remoev vertical scrollbar */
.wux-layouts-gridengine-poolcontainer-rel {
  overflow-y: hidden;
  width: 99.98% !important; }
