<div class="risk-color-legend">
  <div class="risk-color-legend-header">
    <span class="risk-color-legend-header-title">Color Key</span>
    <span class="risk-color-legend-buttons">
      <span title="fonticon-brush" class="fonticon fonticon-brush site-icon"></span>
      <span title="fonticon-minus" class="fonticon fonticon-minus site-icon"></span>
      <span title="fonticon-close" class="fonticon fonticon-close site-icon"></span>
    </div>
    <div class="risk-color-legend-body">
      <div class="legend-pair"><div class="color-key company"></div><span class="legend-label">Company</span></div>
      <div class="legend-pair"><div class="color-key subsidiary"></div><span class="legend-label">Subsidiary</span></div>
      <div class="legend-pair"><div class="color-key business-unit"></div><span class="legend-label">Business Unit</span></div>
      <div class="legend-pair"><div class="color-key department"></div><span class="legend-label">Department</span></div>
      <div class="legend-pair"><div class="color-key division"></div><span class="legend-label">Division</span></div>
    </div>
  </div>
