<div class="risk-trend-container">
	<div class="risk-trend-chart">
		<div class="trend-title">
	    	<span id="chartLabel"> </span>
      	</div>
     	<div class="trend-chart">
        	<!-- content goes here -->
      	</div>
   	</div>
   	<div class="risk-trend-grid">
	 	<!-- content goes here -->
	</div>
</div>
