.group-by-view .grouping-tile-infos {
  width: 100%;
  height: 40px;
  color: #4093c7;
  background-color: #f2f2f2;
  border-bottom: solid 1px #f1f1f1;
  font-family: '3ds';
  font-size: 15px;
  cursor: pointer;
  position: relative; }
  .group-by-view .grouping-tile-infos .arrow-container, .group-by-view .grouping-tile-infos .quantity, .group-by-view .grouping-tile-infos .name {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 2; }
  .group-by-view .grouping-tile-infos .arrow-container {
    width: 100px;
    padding-left: 20px;
    padding-top: 13px; }
  .group-by-view .grouping-tile-infos .quantity {
    width: 100px;
    height: 100%; }
  .group-by-view .grouping-tile-infos .name {
    width: 500px;
    height: 100%; }
  .group-by-view .grouping-tile-infos .arrow-up {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #4093c7; }
  .group-by-view .grouping-tile-infos .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #4093c7; }
.group-by-view .grouping-tile-container {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .group-by-view .grouping-tile-container .wux-layouts-collectionview {
    height: inherit; }
