.sch-edge-persistent-label {
  box-sizing: border-box; }
  .sch-edge-persistent-label .sch-edge-persistent-label-path {
    box-sizing: border-box;
    stroke: #77797c;
    stroke-width: 0.5px;
    stroke-dasharray: 5, 4; }
