#dragOpenMenuTabs .btn{display:none}

table tr.even{background-color:#F9F9F9}
table tr.odd{background:#fff}

/* license lightbox */
div.license-description,
div.confirm-message{
	font-weight: bold;
	border-bottom: 1px solid #DDD;
	padding-bottom: 2px;
	text-align: left;
	padding-left: 10px;
}
.confirm-lightbox .confirm-button-container{
    margin: 15px 0 10px 0;
    text-align: left;
}
.confirm-lightbox .confirm-button{
    display: inline;
    padding: 0 20px;
    margin: 5px;
    border: 1px solid #a8aaac;
    color: #0d0d0d;
    background-color: #d3d4d5;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dedfe0), color-stop(100%, #c8c9ca));
    background-image: -webkit-linear-gradient(top, #dedfe0, #c8c9ca);
    background-image: -moz-linear-gradient(top, #dedfe0, #c8c9ca);
    background-image: -o-linear-gradient(top, #dedfe0, #c8c9ca);
    background-image: linear-gradient(top, #dedfe0, #c8c9ca);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    cursor: pointer;
}
.confirm-lightbox .confirm-button:hover{
    border-color: #0d6196;
}
.license-lightbox fieldset.license-description{
	border:1px solid #DDD;margin-top: 15px;
}

.license-lightbox fieldset.license-description legend{
	font-weight: bold;
	text-align: left;
	margin-left: 20px;
}

.license-lightbox fieldset.license-description div{
	padding: 15px;
	text-align: left;
}

.accordion-open div{
	background: transparent url(img/actions.png) no-repeat 0 -127px;
	padding-left: 20px;
}

.accordion-closed div{
	background: transparent url(img/actions.png) no-repeat 0 -288px;
	padding-left: 20px;
}

.invite-user-title{font-size: 14px;font-weight: bold;margin: 7px;} 
.lightbox-content{margin: 15px;}

/* GENERIC WIDGET LOADING*/
.widget-loading{
    background: url("img/module-loading-spinner.gif") no-repeat scroll 50% 50% #E9E9E9;
    color: #C2C2C2;
	z-index: 1;
	opacity:0.8;
	position: absolute;
}

#custom-message{position: absolute;}


/* GENERIC lightbox */
.lightbox {
	position : relative;
	text-align: center;
	background: white;
	width: 50%;
	margin: 130px 25% 0 25%;
	padding: 5px;
}

.lightbox a:link,
.lightbox a:visited {
	color: blue;
}
            
            
.lightbox .close-panel{
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
}

/* confirm lightbox */
.confirm-lightbox{
    width: 30%;
    margin: 130px 35% 0 35%;
}

.lightbox .remove-license-img{
    vertical-align:middle;
    cursor: pointer;
    height: 20px;
    opacity: 0.3;
    transition: all 0.3s ease 0s;
    width: 20px;
}
.lightbox .remove-license-img:hover{
    opacity: 0.8;
}

/*GENERIC*/
a {
  color: #0088cc;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

/* GENERIC TABLE */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table thead th {
	vertical-align: bottom;
}
.table th {
	font-weight: bold;
}

.table th, .table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #DDD;
}


.table thead{background-color: #F0F0F0}

.alert{font-weight: bold;font-size: 13px}

/* boostrap */
.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333;text-shadow:0 1px 1px rgba(255,255,255,0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(to bottom,#fff,#e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #bbb;*border:0;border-bottom-color:#a2a2a2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05)}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6;*background-color:#d9d9d9}.btn:active,.btn.active{background-color:#ccc \9}.btn:first-child{*margin-left:0}.btn:hover{color:#333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)}.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px}.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0}.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px}.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.btn-block{display:block;width:100%;padding-left:0;padding-right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.btn-block+.btn-block{margin-top:5px}input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}.btn{border-color:#c5c5c5;border-color:rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25)}.btn-primary{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);border-color:#04c #0044cc #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#04c;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}.btn-primary:active,.btn-primary.active{background-color:#039 \9}.btn-warning{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#faa732;background-image:-moz-linear-gradient(top,#fbb450,#f89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));background-image:-webkit-linear-gradient(top,#fbb450,#f89406);background-image:-o-linear-gradient(top,#fbb450,#f89406);background-image:linear-gradient(to bottom,#fbb450,#f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',endColorstr='#fff89406',GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#fff;background-color:#f89406;*background-color:#df8505}.btn-warning:active,.btn-warning.active{background-color:#c67605 \9}.btn-danger{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#da4f49;background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#fff;background-color:#bd362f;*background-color:#a9302a}.btn-danger:active,.btn-danger.active{background-color:#942a25 \9}.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#5bb75b;background-image:-moz-linear-gradient(top,#62c462,#51a351);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));background-image:-webkit-linear-gradient(top,#62c462,#51a351);background-image:-o-linear-gradient(top,#62c462,#51a351);background-image:linear-gradient(to bottom,#62c462,#51a351);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);border-color:#51a351 #51a351 #387038;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#51a351;*background-color:#499249}.btn-success:active,.btn-success.active{background-color:#408140 \9}.btn-info{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#fff;background-color:#2f96b4;*background-color:#2a85a0}.btn-info:active,.btn-info.active{background-color:#24748c \9}.btn-inverse{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#363636;background-image:-moz-linear-gradient(top,#444,#222);background-image:-webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));background-image:-webkit-linear-gradient(top,#444,#222);background-image:-o-linear-gradient(top,#444,#222);background-image:linear-gradient(to bottom,#444,#222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);border-color:#222 #222222 #000;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#222;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#fff;background-color:#222;*background-color:#151515}.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9}button.btn,input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0}button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px}button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px}button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px}.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.btn-link{border-color:transparent;cursor:pointer;color:#08c;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.btn-link:hover{color:#005580;text-decoration:underline;background-color:transparent}.btn-link[disabled]:hover{color:#333;text-decoration:none}.uwa-overlay{z-index:55}.alert{background-color:#fcf8e3;border:1px solid #fbeed5;border-radius:4px 4px 4px 4px;margin-bottom:20px;padding:8px 35px 8px 14px;text-shadow:0 1px 0 rgba(255,255,255,0.5)}.alert,.alert h4{color:#c09853}.alert h4{margin:0}.alert .close{line-height:20px;position:relative;right:-21px;top:-2px}.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847}.alert-success h4{color:#468847}.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48}.alert-danger h4,.alert-error h4{color:#b94a48}.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad}.alert-info h4{color:#3a87ad}.alert-block{padding-bottom:14px;padding-top:14px}.alert-block>p,.alert-block>ul{margin-bottom:0}.alert-block p+p{margin-top:5px}

/* Style for the add app form */

.add-app-lightbox {
    text-align: left;
    width: 70%;
    margin: 130px 15% 0 15%;
    height: auto;
}

.add-app-lightbox .form-wrapper {
    float: left;
    width: 75%;
}

.add-app-lightbox fieldset {
    margin: 0 10px 10px 10px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}
.add-app-lightbox fieldset legend {
    font: bold 12px Tahoma;
    padding: 0 5px;
}

.add-app-lightbox .left-wrapper {
    float: left;
    width: 50%;
}

.add-app-lightbox .uwa-checkbox.checked .uwa-checkbox-content {
    background: url(img/check.png) top left no-repeat;
}

.add-app-lightbox .input-label {
    font: bold 12px Tahoma;
}
.add-app-lightbox .checkbox-label {
    font: bold 12px Tahoma;
    display: inline-block;
    margin: 0 10px 0 5px;
}
.add-app-lightbox .checkbox-wrapper {
    display: inline-block;
    margin: 10px 0 0 0;
}
.add-app-lightbox .uwa-input {
    margin: 0;
}
.add-app-lightbox .uwa-input-text,
.add-app-lightbox .uwa-input-options .option,
.add-app-lightbox .uwa-button {
    font-size: 12px;
}
.add-app-lightbox .uwa-select,
.add-app-lightbox .uwa-text {
    margin: 10px 0;
    display: block;
    width: 75%;
}
.add-app-lightbox .multiline {
    resize: none;
    height: 50px;
}
.add-app-lightbox .uwa-button {
    margin-right: 10px;
}
.add-app-lightbox .button-wrapper {
    margin: 10px;
}

.myapps-custom-tooltip {
    position: absolute;
    font: normal 11px Tahoma;
    color: #0d0d0d;
    text-align: left;
    background-color: #f5f5f5;
    z-index: 1;
    padding: 5px;
    border: 1px solid #a8aaac;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
}

.add-app-lightbox .error {border-color: #b94a48}

.add-app-lightbox .messages {
    margin-left: 10px;
}
.add-app-lightbox .messages li {
    font: normal 12px Tahoma;
    list-style-type: none;
    background: none;
    margin: 0;
    padding: 0;
}
.add-app-lightbox .messages.error li {
    color: #b94a48;
}
.add-app-lightbox .messages.success li {
    color: #468847;
}

.add-app-lightbox .panel-preview {
    background: url(img/Top_Bar_Layer_Top.png) repeat-x 0 -15px #eaeaea;
    padding: 4px 10px;
}

.add-app-lightbox .compass-preview {
    background: url(img/compass.png) no-repeat 0 -256px;
    width: 64px;
    height: 64px;
}
.add-app-lightbox .compass-preview-on.west {
    background-position: 0 0;
}
.add-app-lightbox .compass-preview-on.south {
    background-position: 0 -64px;
}
.add-app-lightbox .compass-preview-on.north {
    background-position: 0 -128px;
}
.add-app-lightbox .compass-preview-on.east {
    background-position: 0 -192px;
}

.add-app-lightbox .preview-section {
    border: 1px solid #a8aaac;
    border-radius: 2px;
    color: #0d0d0d;
    background-color: #b1b3b5;
    background-image: linear-gradient(top, #cdcfd0, #96989b);
    background-image: -webkit-linear-gradient(top, #cdcfd0, #96989b);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    box-shadow: 0px 1px 5px black;
    margin-top: 10px;
    height: 28px;
    overflow: hidden;
}

.add-app-lightbox .preview-section-title {
    padding-left: 30px;
    font: normal 13px/27px '3ds';
}

.add-app-lightbox .preview-section-icon {
    width: 28px;
    height: 28px;
    position: absolute;
    background: url(img/sections.png) no-repeat;
}
.add-app-lightbox .preview-section-icon.south{
    background-position: 0 0;
}
.add-app-lightbox .preview-section-icon.north{
    background-position: 0 -28px;
}
.add-app-lightbox .preview-section-icon.east{
    background-position: 0 -56px;
}
.add-app-lightbox .preview-section-icon.west{
    background-position: 0 -112px;
}

.add-app-lightbox .preview-item {
    margin: 15px;
    width: 88px;
}

.add-app-lightbox .preview-icon {
    width: 64px;
    height: 64px;
    margin-left: 12px;
}

.add-app-lightbox .preview-title {
    width: 80px;
    height: 24px;
    margin: 4px;
    overflow: hidden;
    font: normal 11px/12px '3ds-Light';
    color: #0d0d0d;
    text-align: center;
    cursor: default;
}
