<!--div class="proposed-popover-body">
    {{#each changes.forInfo}}
    <span class="selected-proposed-label-obejct text" id="selected-proposed-label-obejct-{{this.id}}">
        <span class="formatted-label" title="{{this.title}}">{{this.title}}</span>
        <span class="supp-icon" id="supp-icon-{{this.id}}">×</span>
    </span>
    {{/each}}
    {{#each changes.fromInfo}}
    <span class="selected-proposed-label-obejct text" id="selected-proposed-label-obejct-{{this.id}}">
        <span class="formatted-label" title="{{this.title}}">{{this.title}}</span>
        <span class="supp-icon" id="supp-icon-{{this.id}}">×</span>
    </span>
    {{/each}}
</div-->

<div></div>




