<div class="flowdown-body-container">
    <div class="chg-flowdown-panel-container">
        <div class="flowdown-upper-container">
            <div class="flowdown-proposed-info-container">
                <div class="upstream-ca-container">
                    <div class="upstream-ca-title">{{upstreamCAComboTitle}}</div>
                    <div class="upstream-ca-values"></div>
                </div>
                <!--div class="function-area-container">
                    <div class="functional-area-title"><h6>{{changeDisciplineTitle}}</h6></div>
                    <div class="functional-area-values"></div>
                </div-->
            </div>
            <!--div class="flowdown-proposed-search-container"></div-->
        </div>
        <div class="flowdown-lower-container">
            <div class="flowdown-objects"></div>
        </div>
        <div class="flowdown-footer-container">
            <button class="btn btn-primary">{{doneBtnTitle}}</button>
            <button class="btn btn-default btn-apply">{{applyBtnTitle}}</button>
            <button class="btn btn-default cancel-btn">{{cancelBtnTitle}}</button>
        </div>
    </div>
</div>

