.multiple-value-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start; }
  .multiple-value-content .badge-multiple-value {
    height: 35px;
    display: flex;
    align-items: center; }

.single-value-content {
  width: 100%; }
