.share-multiple {
    #share-tabs {
        margin: 14px 10px;
    }

    #share-sections {
        > section {
            &.active {
                display: block !important;
            }

            &.share-by-link {
                padding: 20px;

                .copy-link {
                    margin-top: 10px;
                    display: flex;

                    input {
                        width: 80%;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    button {
                        width: 20%;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }

            &.publish-to-3dswym {
                .sharetoswym .publish-form-view-container .footer-cnt {
                    border-radius: 0 0 6px 6px;
                }
            }
        }
    }
}
