.inline-editor .inline-editor-text {
  width: 200px;
  height: 25px;
  resize: none;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0; }
.inline-editor .inline-editor-icon {
  display: inline-block;
  cursor: pointer; }
  .inline-editor .inline-editor-icon.fonticon-check {
    color: #57b847; }
  .inline-editor .inline-editor-icon.fonticon-wrong {
    color: #ea4f37; }
