<div class="drive-management">
    <nav class="tab tab-pills drive-management-header">
        <a class="tab-item usage active users-font">
            <span class="fonticon fonticon-users users-icon"></span>
            <span>{{NLS.monitorUsage}}</span>
        </a>
        <a class="tab-item settings settings-font">
            <span class="fonticon fonticon-cog settings-icon"></span>
            <span>{{NLS.settings}}</span>
        </a>
        <a class="tab-item share share-font">
            <span class="fonticon fonticon-forward-globe share-icon"></span>
            <span>{{NLS.shareWithExternal}}</span>
        </a>
    </nav>
    <div class="drive-management-content">
        <div class="drive-management-section drive-management-usage">
        </div>
        <div class="drive-management-section drive-management-settings">
        </div>
        <div class="drive-management-section drive-management-share">
        </div>
    </div>
</div>
