<div class="drive__management__settings__content">
    <div class="quota-container form form-inline settings-section">
        <h4 class="head">{{NLS.quota}}</h4>
        <label class="settings-section__block-label">{{NLS.quotaPerUser}}</label>

        <!-- The pattern on the following input only accepts positive integer ()>0) -->
        <input type="text" class="quota-input form-control" placeholder="{{NLS.quotaPerUser}}" pattern="^\d*[1-9]\d*$" required>

        <button class="save-button-quota btn btn-primary" type="submit" disabled>{{NLS.save}}</button>
        <button class="cancel-button-quota btn btn-default" type="button" disabled>{{NLS.cancel}}</button>

        <span class="input-error-message">{{NLS.quotaWrongValue}}</span>

        <div class="blockactions">
            <div class="toggle-switch blockactions__toggle">
                <input type="checkbox" name="radios" id="checkbox-limitActions">
                <label class="control-label blockActions__label" for="checkbox-limitActions">{{NLS.enableBlockActions}}</label>
                <span title="fonticon-info" class="fonticon fonticon-clickable fonticon-info site-icon" style="
                    font-size: 22px !important;
                    margin-top: 2px;
                "></span>
            </div>
        </div>
    </div>

    <div class="form form-inline settings-section">
        <h4 class="head">{{NLS.iterationsPolicy}}</h4>
        <div class="input-control iterations-number">
            <label class="settings-section__block-label">{{NLS.iterationsNumber}}</label>

            <input class="form-control" type="text" name="iteration-number" placeholder="{{NLS.iterationsNumber}}" value="{{iterationsNumber}}" pattern="^\d*[1-9]\d*$" required>

            <button class="save-button btn btn-primary" type="submit" disabled>{{NLS.save}}</button>
            <button class="cancel-button btn btn-default" type="button" disabled>{{NLS.cancel}}</button>

            <span class="input-error-message">{{NLS.iterationsWrongValue}}</span>
        </div>

        <div class="input-control iterations-days">
            <label class="settings-section__block-label">{{NLS.iterationsDays}}</label>

            <input class="form-control" type="text" name="iterations-days" placeholder="{{NLS.iterationsDays}}" value="{{iterationsDaysCount}}" pattern="^\d*[1-9]\d*$" required>

            <button class="save-button btn btn-primary" type="submit" disabled>{{NLS.save}}</button>
            <button class="cancel-button btn btn-default" type="button" disabled>{{NLS.cancel}}</button>

            <span class="input-error-message">{{NLS.iterationsWrongValue}}</span>
        </div>
    </div>

    <div class="external-drive-container form form-inline settings-section {{#ifCond providersLength '<' 1}} remove-display {{/ifCond}}">
        <h4 class="head">{{NLS.externalDrive}}</h4>

        {{#each driveProviders}}
        <div class="external-drive">
            <div class="toggle-switch">
                <input type="checkbox" name="radios" id={{driveId}}>
                <label class="control-label" for={{driveId}}>{{driveName}}</label>
            </div>
        </div>

        {{/each}}
    </div>

</div>
