<div class="share_link_content">
    <div class="sharebylink__section settings-section">

        <div class="shareaccess">
            <div class="toggle-switch shareaccess__toggle">
                <input type="checkbox" name="radios" id="checkbox-sharebylink" value="option2">
                <label class="control-label shareaccess__label" for="checkbox-sharebylink">{{NLS.enableShareableLink}}</label>
            </div>
        </div>

        <div class="accesscapacity">
            <h5>{{NLS.shareUsage}}</h5>
            <div class="accesscapacity__progress progress  w-0-percent">
                <div class="progress-bar">0%</div>
            </div>

            <div class="accesscapacity__used"></div>
            <div class="accesscapacity__total"></div>
        </div>

        <div class="drive__share__table drive__share__table--hidden">
            <label class="settings-section__block-label">{{NLS.sharedByLinkContents}}</label>
            <div class="drive__sharetable"></div>
            <div class="pager"></div>
        </div>
    </div>

</div>
