.small-expanded-tile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #f1f1f1;
  /** Common style */
  /** Quantity section */
  /* Item 'isSelected' checkbox */
  /** Reference name and primary attribute (state by default) */
  /** Item attributes */
  /** Secondary attribute (e.g instance name or effectivity) */
  /** Dropdown menu */ }
  .small-expanded-tile-view .small-expanded-tile-view-checkbox-container, .small-expanded-tile-view .small-expanded-tile-view-full-title, .small-expanded-tile-view .small-expanded-tile-view-primary-attribute, .small-expanded-tile-view .small-expanded-tile-view-secondary-attribute, .small-expanded-tile-view .small-expanded-tile-view-attribute-name, .small-expanded-tile-view .small-expanded-tile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top;
    font-family: '3ds'; }
  .small-expanded-tile-view .small-expanded-tile-view-quantity-container {
    width: 30px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .small-expanded-tile-view .small-expanded-tile-view-quantity-container .small-expanded-tile-view-expander {
      height: 100%;
      border-left: solid 1px #000000;
      left: 62%;
      position: absolute; }
    .small-expanded-tile-view .small-expanded-tile-view-quantity-container .small-expanded-tile-view-quantity {
      background-color: #ffffff;
      border: solid 1px #77797c;
      width: 70%;
      height: 70%;
      margin-top: 15%;
      margin-left: 30%;
      white-space: nowrap;
      overflow: visible;
      font-weight: 700;
      text-align: center;
      z-index: 10;
      position: absolute;
      cursor: pointer; }
    .small-expanded-tile-view .small-expanded-tile-view-quantity-container .small-expanded-tile-view-quantity-label {
      color: #77797c;
      line-height: 1.4; }
  .small-expanded-tile-view .small-expanded-tile-view-checkbox-container {
    width: 2%;
    position: relative;
    left: 12px;
    top: 5px; }
  .small-expanded-tile-view .small-expanded-tile-view-full-title, .small-expanded-tile-view .small-expanded-tile-view-primary-attribute {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .small-expanded-tile-view .small-expanded-tile-view-full-title {
    font-weight: 700; }
    .small-expanded-tile-view .small-expanded-tile-view-full-title .small-expanded-tile-view-title, .small-expanded-tile-view .small-expanded-tile-view-full-title .small-expanded-tile-view-version {
      display: inline-block; }
  .small-expanded-tile-view .small-expanded-tile-view-attributes {
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    color: #77797c; }
    .small-expanded-tile-view .small-expanded-tile-view-attributes .small-expanded-tile-view-attribute {
      overflow: hidden;
      display: inline-block;
      margin-right: 40px; }
    .small-expanded-tile-view .small-expanded-tile-view-attributes .small-expanded-tile-view-attribute-name, .small-expanded-tile-view .small-expanded-tile-view-attributes .small-expanded-tile-view-attribute-value {
      display: inline-block;
      vertical-align: top; }
    .small-expanded-tile-view .small-expanded-tile-view-attributes .small-expanded-tile-view-attribute-name {
      color: #d1d4d4; }
  .small-expanded-tile-view .small-expanded-tile-view-secondary-attribute {
    font-weight: 700; }
  .small-expanded-tile-view .small-expanded-tile-view-dropdown-menu {
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4;
    position: absolute;
    right: 2px; }

/** Responsiveness */
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .small-expanded-tile-view-attributes {
  width: 54%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .small-expanded-tile-view-full-title {
  width: 8%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .small-expanded-tile-view-primary-attribute, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .small-expanded-tile-view-secondary-attribute {
  width: 10%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .small-expanded-tile-view-attribute {
  width: 20%; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .small-expanded-tile-view-attributes {
  width: 46%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .small-expanded-tile-view-full-title, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .small-expanded-tile-view-primary-attribute, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .small-expanded-tile-view-secondary-attribute {
  width: 12%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .small-expanded-tile-view-attribute[data-index="3"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .small-expanded-tile-view-attributes {
  width: 22%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .small-expanded-tile-view-full-title, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .small-expanded-tile-view-primary-attribute, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .small-expanded-tile-view-secondary-attribute {
  width: 18%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .small-expanded-tile-view-attribute[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .small-expanded-tile-view-attribute[data-index="2"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .small-expanded-tile-view-attribute[data-index="3"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .small-expanded-tile-view-attributes {
  width: 0%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .small-expanded-tile-view-full-title, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .small-expanded-tile-view-primary-attribute, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .small-expanded-tile-view-secondary-attribute {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .small-expanded-tile-view-attribute[data-index="0"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .small-expanded-tile-view-attribute[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .small-expanded-tile-view-attribute[data-index="2"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .small-expanded-tile-view-attribute[data-index="3"] {
  display: none; }
