.model-details {
  height: 100%;
  width: 100%;
  /*
    .model-details-idcard{
        overflow:auto;
        height:120px;
        width:100%;
        //display: table-row;
      //  background-color:azure;
        &.minimized{
            height:50px;
        }
    }

    .model-details-content{
        overflow:auto;
        height:calc(100% - 100px);
        //height:100%;
        width:100%;
        //display: table-row;
        //background-color:aquamarine;
        &.id-card-minimized{
            height:calc(100% - 50px);
        }
    }*/ }
  .model-details .enox-drag-over {
    border: 0px !important;
    border-radius: 0px; }
  .model-details .wux-tree-treelistview .wux-scroller.wux-ui-state-drag-over {
    border: 0px;
    background-color: #fff; }
  .model-details .model-baselines-container {
    height: 100%;
    width: 100%; }
  .model-details .model-requirements-container {
    height: 100%;
    width: 100%; }
  .model-details .model-documents-container {
    height: 100%;
    width: 100%; }
  .model-details .model-rules-container {
    height: 100%;
    width: 100%; }
  .model-details .model-PC-container {
    height: 100%;
    width: 100%; }
  .model-details .bot-content {
    height: 100%;
    width: 100%; }
    .model-details .bot-content .sidebar-element .id-card .main-section {
      display: none; }
    .model-details .bot-content .id-card.without-thumbnail .facets-section {
      border-top: none;
      border-bottom: none; }
  .model-details .id-card .facets-list .facet {
    border-radius: 0px;
    background-color: initial; }
  .model-details .id-card .tab-behavior.selected {
    color: #77797c;
    border-bottom: 2px solid #368ec4;
    background-color: initial; }
    .model-details .id-card .tab-behavior.selected .facet-label {
      color: #77797c; }
  .model-details .xmodel-idcard-p-freezone {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .model-details .image-placeholder .thumbnail {
    padding-top: 10px; }
  .model-details .noContentTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
  .model-details .doc-cockpit-criteria-selector-container {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit; }
  .model-details .doc-cockpit-criteria-selector-container.content-section div.wux-datagrid-cell[data-index="tree"] {
    left: 1px; }
  .model-details .doc-cockpit-criteria-selector-container .enox-collection-toolbar-container {
    position: absolute; }
  .model-details .doc-cockpit-criteria-selector-container .fonticon-5x {
    font-size: 2em; }
  .model-details .doc-cockpit-criteria-selector-container .wux-ui-stack-h li.wux-layouts-treeview-node {
    left: -30px; }
  .model-details .fileDrop1 .btn {
    margin-left: 870px; }
  .model-details .droppable1 {
    position: absolute;
    top: 100px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 98%;
    height: 80%;
    font-weight: bold;
    z-index: 99;
    background-color: #fff;
    border: 3px dashed #368ec4;
    color: #368ec4; }
  .model-details .content-section1 {
    flex: 1; }
  .model-details .emptyContainerStyleForFiles {
    height: 80%;
    width: 98%;
    fontFamily: Arial;
    fontSize: 16px;
    color: #368ec4;
    margin: 50px 1px 0px 8px;
    fontWeight: bold;
    alignSelf: center;
    text-align: center; }
  .model-details .coloured-boolean {
    color: #57b847 !important; }
