.xmodel-custom-kpi {
  height: 100%;
  width: 100%; }
  .xmodel-custom-kpi .xmodel-kpi-value {
    text-align: center;
    position: relative;
    overflow: visible !important;
    height: unset; }
  .xmodel-custom-kpi .xmodel-kpi-name {
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    color: #b4b6ba;
    position: relative;
    line-height: 16px;
    text-transform: uppercase; }
  .xmodel-custom-kpi .xmodel-kpi-delta {
    font-size: 18px; }
