.model-details {
  height: 100%;
  width: 100%;
  /*
    .model-details-idcard{
        overflow:auto;
        height:120px;
        width:100%;
        //display: table-row;
      //  background-color:azure;
        &.minimized{
            height:50px;
        }
    }

    .model-details-content{
        overflow:auto;
        height:calc(100% - 100px);
        //height:100%;
        width:100%;
        //display: table-row;
        //background-color:aquamarine;
        &.id-card-minimized{
            height:calc(100% - 50px);
        }
    }*/ }
  .model-details .model-baselines-container {
    height: 100%;
    width: 100%; }
  .model-details .model-requirements-container {
    height: 100%;
    width: 100%; }
  .model-details .model-documents-container {
    height: 100%;
    width: 100%; }
  .model-details .model-rules-container {
    height: 100%;
    width: 100%; }
  .model-details .model-PC-container {
    height: 100%;
    width: 100%; }
  .model-details .bot-content {
    height: 100%;
    width: 100%; }
    .model-details .bot-content .sidebar-element .id-card .main-section {
      display: none; }
    .model-details .bot-content .id-card.without-thumbnail .facets-section {
      border-top: none;
      border-bottom: none; }
  .model-details .id-card .facets-list .facet {
    border-radius: 0px;
    background-color: initial; }
  .model-details .id-card .tab-behavior.selected {
    color: #77797c;
    border-bottom: 2px solid #368ec4;
    background-color: initial; }
    .model-details .id-card .tab-behavior.selected .facet-label {
      color: #77797c; }
  .model-details .xmodel-idcard-p-freezone {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .model-details .image-placeholder .thumbnail {
    padding-top: 10px; }
  .model-details .noContentTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
