.criteria-selection-editor {
  width: 100%; }
  .criteria-selection-editor input {
    background: transparent !important;
    border-color: transparent !important; }
  .criteria-selection-editor .value-container {
    width: 100%;
    display: flex; }
    .criteria-selection-editor .value-container .conflict-action-content {
      display: inline-block;
      padding-right: 5px; }
    .criteria-selection-editor .value-container .cfg-autoComplete-image span.wux-ui-3ds-alert {
      display: none; }
    .criteria-selection-editor .value-container .cfg-bulkedit-autoComplete {
      width: 100% !important; }
      .criteria-selection-editor .value-container .cfg-bulkedit-autoComplete .wux-controls-selectionChips {
        background: transparent !important;
        border-color: transparent !important; }
    .criteria-selection-editor .value-container .clear-action-content {
      display: inline-block;
      padding-right: 5px; }
    .criteria-selection-editor .value-container .validate-action-content {
      display: inline-block;
      padding-right: 5px; }
    .criteria-selection-editor .value-container div:has(> .criteria-chip-conflict)::before {
      content: '\e118';
      font: normal normal normal 14px/1 DSFontIcon;
      color: red; }
    .criteria-selection-editor .value-container .criteria-chip-image {
      display: none; }
    .criteria-selection-editor .value-container .criteria-chip-lock + li::before {
      content: '\e025';
      font: normal normal normal 14px/1 DSFontIcon;
      padding-right: 5px;
      margin-left: -5px; }
    .criteria-selection-editor .value-container .criteria-chip-favorite-on + li::before {
      content: '\e012';
      font: normal normal normal 14px/1 DSFontIcon;
      padding-right: 5px;
      margin-left: -5px; }
    .criteria-selection-editor .value-container .criteria-chip-lightbulb + li::before {
      content: '\e123';
      font: normal normal normal 14px/1 DSFontIcon;
      padding-right: 5px;
      margin-left: -5px; }
    .criteria-selection-editor .value-container .criteria-chip-user-delete + li::before {
      content: '\e006';
      font: normal normal normal 14px/1 DSFontIcon;
      padding-right: 5px;
      margin-left: -5px; }
    .criteria-selection-editor .value-container .criteria-chip-block + li::before {
      content: '\e108';
      font: normal normal normal 14px/1 DSFontIcon;
      padding-right: 5px;
      margin-left: -5px; }
    .criteria-selection-editor .value-container .criteria-chip-lock ~ .wux-ui-3ds-close {
      display: none !important; }
    .criteria-selection-editor .value-container .criteria-chip-lightbulb ~ .wux-ui-3ds-close {
      display: none !important; }
    .criteria-selection-editor .value-container .criteria-chip-block ~ .wux-ui-3ds-close {
      display: none !important; }
    .criteria-selection-editor .value-container .criteria-chip-validate + li::after {
      content: '\e014';
      font: normal normal normal 14px/1 DSFontIcon;
      width: 24px !important;
      text-align: center;
      height: 20px;
      border: 1px solid #e2e4e3;
      background-color: white;
      margin-right: -1px;
      padding: 2px;
      display: inline-block;
      font-size: 12px;
      position: absolute;
      right: 0px; }
    .criteria-selection-editor .value-container .criteria-chip-validate + li {
      padding-right: 24px !important; }
