.criteria-selection-view {
  width: 100%; }
  .criteria-selection-view .value-container {
    width: 100%;
    display: flex; }
    .criteria-selection-view .value-container .single-value-content {
      width: 100%;
      display: flex;
      align-items: center; }
      .criteria-selection-view .value-container .single-value-content .value-image {
        height: 22px;
        width: 22px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain; }
      .criteria-selection-view .value-container .single-value-content .value-title {
        padding: 0 5px;
        text-overflow: ellipsis;
        overflow: hidden; }
    .criteria-selection-view .value-container .multi-value-content {
      display: flex;
      width: 100%;
      flex-wrap: wrap; }
      .criteria-selection-view .value-container .multi-value-content .value-badge {
        position: relative;
        box-sizing: border-box;
        height: 18px;
        padding: 0;
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        overflow: hidden;
        border: 1px solid #e2e4e3;
        border-radius: 3px;
        background-color: #f4f5f6;
        color: #77797c;
        line-height: 18px;
        white-space: nowrap; }
        .criteria-selection-view .value-container .multi-value-content .value-badge .value-image {
          height: 22px;
          width: 22px;
          background-repeat: no-repeat;
          background-position: left center;
          background-size: contain; }
        .criteria-selection-view .value-container .multi-value-content .value-badge .value-title {
          padding: 0 5px;
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden; }
