.config-editor-autocomplete-show-more {
  display: none;
  cursor: pointer; }

.config-editor-autocomplete-show-less {
  display: none;
  cursor: pointer; }

.config-editor-validate-image {
  display: inline-block; }

.config-editor-validate-rule-check {
  display: none;
  right: 10px; }

.config-editor-validate-default-check {
  display: none;
  right: 30px; }

.config-editor-validate-badge-check {
  display: inline-block;
  border-left: 1px solid #e2e4e3;
  color: #b4b6ba;
  margin: 0;
  background-color: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  line-height: 1em;
  padding: 0.2em 0.36em;
  width: 25px; }

.config-editor-validate-badge-check:hover {
  cursor: pointer !important;
  color: #3d3d3d !important; }

.item-label {
  width: auto !important;
  padding-right: 5px; }

.contentForDefault {
  opacity: 0.5; }

.autocomplete-item {
  padding-left: 14px !important;
  padding-right: 14px !important;
  display: flex;
  flex-direction: row; }

.autocomplete-item.selected-item {
  padding-left: 9px !important; }

.autocomplete-suggests-state {
  float: right;
  margin-top: 3px;
  margin-bottom: 3px; }

.info-icon {
  color: #368ec4 !important; }

.conflict-icon {
  color: red !important; }

.suggestion-icon {
  width: 14px !important;
  cursor: pointer;
  opacity: 0.5; }

.suggestion-icon:hover {
  opacity: 1 !important; }

.Cfg-Adjust-Scroll {
  height: inherit; }

.cfg-image-selected {
  opacity: 1 !important; }

.configurator-showMoreCont {
  cursor: pointer;
  display: inline-block;
  color: #368ec4 !important;
  border-bottom: 1px solid; }

.cfg-custom-popup {
  font-family: sans-serif;
  font-size: 13.3px;
  max-width: 200px;
  padding: 3px 8px;
  color: #77797c;
  text-align: center;
  text-decoration: none;
  background-color: #f4f5f6;
  border: 1px solid #b4b6ba;
  border-radius: 2px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 0.5s;
  margin-left: -80px;
  margin-top: -4px; }

.config-editor-multi-input-parent-conflict {
  border-color: red !important; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.5; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0.5; }

  to {
    opacity: 1; } }

.autocomplete .masked {
  position: absolute !important; }
