.config-editor-parameter-container {
  display: inline-block;
  width: 100%;
  padding: 2px; }

.config-editor-spinbox-container {
  display: inline-block;
  width: 50% !important; }

.config-editor-slider-container {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 48% !important; }
