.topbar-mainContainer {
  display: inline-block;
  font-size: 21px;
  width: 100%;
  padding-bottom: 5px;
  padding-right: 1px; }

.topbar-leftMenu-container {
  display: inline-block;
  float: left; }

.topbar-rightMenu-container {
  display: flex;
  float: right; }
  .topbar-rightMenu-container #topbar-toggle-variantMultiSelect {
    color: #b4b6ba; }
    .topbar-rightMenu-container #topbar-toggle-variantMultiSelect:hover {
      color: #3d3d3d; }
    .topbar-rightMenu-container #topbar-toggle-variantMultiSelect.active {
      color: #368ec4; }

.divider {
  height: 34px;
  width: 1px;
  background: #b4b6ba;
  margin-right: 6px;
  margin-left: 6px; }

.topbar-MidMenu-Container {
  display: none;
  float: right;
  min-width: 350px; }

.topbar-unselected-variant {
  color: #b4b6ba; }

.topbar-unselected-variant :hover {
  color: #3d3d3d; }

.topbar-icon-display {
  outline: 0px !important;
  display: inline-block;
  vertical-align: middle;
  color: #b4b6ba;
  padding-left: 5px;
  padding-right: 5px; }

.topbar-icon-display :hover {
  color: #3d3d3d; }

.topbar-filter-selected {
  color: #368ec4 !important;
  border-bottom: 2px solid #368ec4; }

.topbar-filter-selected :hover {
  color: #368ec4 !important; }

.topbar-icon-selected {
  color: #368ec4 !important; }

.topbar-icon-selected :hover {
  color: #368ec4 !important; }

.topbar-filter-mand-selected .fonticon {
  color: #e87b00 !important; }

.topbar-filter-mand-selected :hover {
  color: #e87b00 !important; }

.topbar-filter-conflicts-selected {
  color: red !important; }

.topbar-filter-conflicts-selected :hover {
  color: red !important; }

.topbar-maximize-searchtext {
  max-width: 100% !important; }

.topbar-unselected-variant {
  width: 0px; }

.topbar-sort-order {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  float: right; }

.topbar-order-style {
  color: #b4b6ba; }

.topbar-order-style:hover {
  color: black; }

#topbar-rule-assistance-level-icon {
  font-size: 12px !important;
  right: 13px;
  top: -15px;
  width: 0px; }

.topbar-rightIcon-selected {
  color: #368ec4 !important;
  opacity: 1; }

.topbar-rightIcon-selected :hover {
  color: #368ec4 !important; }

.topbar-drpdown-item {
  padding-left: 14px !important;
  border-bottom: 0px !important; }

.topbar-drpdown-content {
  font-size: smaller;
  margin: 0px;
  line-height: 5px; }

.topbar-target-superscript {
  font-size: 15px !important;
  right: 13px;
  top: -15px; }

.topbar-rightIcon-onclick-selected {
  color: #368ec4 !important;
  opacity: 1; }

.topbar-opendown-with-inifinity {
  left: 11px !important;
  top: -35px;
  position: relative; }

.topbar-refine-mode {
  margin-left: 0px;
  margin-right: 0px;
  width: 0px;
  position: relative;
  right: 5px; }

.topbar-counter-infinity {
  position: relative;
  bottom: 30px;
  left: 30px; }

.topbar-wrapperContainer {
  padding-bottom: 15px;
  padding-top: 5px; }

.topbar-search-text-style {
  max-width: 100% !important; }

.topbar-search-container-style {
  align-self: center;
  /* padding-left: 10px; */
  /* 	padding-right: 5px; */ }

.topbar-maximize-searchtext {
  max-width: 100% !important; }

.topbar-refine-enabled {
  position: relative;
  bottom: 10px;
  right: 35px;
  width: 0px;
  font-size: 65%; }

.rules-style {
  position: relative;
  right: 13px;
  top: -15px; }

.topbar-norules-selected {
  color: gray !important; }

.topbar-search-selected {
  color: #368ec4 !important;
  opacity: 1; }

.topbar-ruleAssistance {
  display: -moz-inline-box !important; }

.topbar-sup-span {
  display: table-cell; }

.topbar-rule-dropdown-base {
  margin-left: -9px;
  top: 1px;
  width: 10px; }
  .topbar-rule-dropdown-base.topbar-refine-mode {
    margin-left: -3px; }

.topbar-rule-sub-base {
  margin-left: -8px; }

.topbar-num {
  color: #77797c !important; }

.topbar-sort-item {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .topbar-sort-item .topbar-toolbar-sort-order {
    display: flex;
    justify-content: space-around;
    width: 40px;
    color: #77797C; }
  .topbar-sort-item .active-sort-icon {
    color: #368EC4; }
