#config-editor-variant-list {
  display: inline-block;
  width: 100%;
  overflow: auto;
  height: 100%;
  /*min-width: 500px;*/ }

#config-editor-extended-variant-list {
  display: inline-block;
  height: 100% !important;
  width: 100%; }

#config-editor-scroll-container {
  height: 100% !important; }

#config-editor-message-Incompatible {
  display: inline-block; }

#config-editor-message-Required {
  display: none; }

#config-editor-message-Default {
  display: none; }

#config-editor-message-Dismissed {
  display: none; }

#config-editor-message-Incompatible {
  display: none; }
