.OneVariantDiv {
  text-align: left;
  margin-left: 5px;
  position: relative;
  display: inline-block;
  padding: 0px;
  margin-bottom: 10px;
  width: 100%;
  margin-right: 5px;
  /* .refinedIcon {
    color: gray;
    display: none;}*/
  @keyframes fadeInOpacity {
    0% {
      opacity: 0.3; }

    100% {
      opacity: 1; } }
 }
  .OneVariantDiv.xlargeContainer {
    width: calc(25% - 10px); }
  .OneVariantDiv.largeContainer {
    width: calc(33.3% - 10px); }
  .OneVariantDiv.mediumContainer {
    width: calc(50% - 10px); }
  .OneVariantDiv.smallContainer {
    width: calc(100% - 10px); }
  .OneVariantDiv.smallerContainer {
    width: 768px; }
  .OneVariantDiv .variantDropDownMenu_multi {
    display: block; }
  .OneVariantDiv .variantDropDownMenu_single {
    display: none; }
  .OneVariantDiv.single-select .variantDropDownMenu_single {
    display: block; }
  .OneVariantDiv.single-select .variantDropDownMenu_multi {
    display: none; }
  .OneVariantDiv .config-editor-validate {
    position: absolute;
    right: 10px;
    bottom: 5px;
    display: none; }
  .OneVariantDiv .imagesDropdown {
    max-width: 260px;
    max-height: 260px;
    overflow: auto; }
  .OneVariantDiv .OptionsDD {
    max-height: 180px;
    overflow: auto; }
  .OneVariantDiv .dropdown-menu .item > .fonticon {
    width: 28px !important; }
  .OneVariantDiv .configurator-img-thumbnail {
    max-height: 100%;
    padding: 2px !important;
    vertical-align: top !important;
    width: 100%;
    border: 0px; }
  .OneVariantDiv .configurator-img-thumbnail {
    height: inherit;
    width: inherit;
    vertical-align: top; }
  .OneVariantDiv .variantImgContainer {
    width: 80px;
    height: 60px;
    margin-right: 5px;
    line-height: 80px;
    border-radius: 4px;
    border: 1px solid #b1b1b1;
    opacity: 0.5; }
  .OneVariantDiv .variantLabelContainer {
    display: inline-block;
    margin: 0px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .OneVariantDiv .variantLabelContainer .variantMultiSelect {
      margin-right: 0;
      margin-left: auto;
      color: #b4b6ba; }
      .OneVariantDiv .variantLabelContainer .variantMultiSelect:hover {
        color: #3d3d3d; }
      .OneVariantDiv .variantLabelContainer .variantMultiSelect.active {
        color: #368ec4; }
    .OneVariantDiv .variantLabelContainer .variantSelectionMode {
      margin-right: 0;
      margin-left: auto;
      color: #368ec4;
      cursor: pointer; }
      .OneVariantDiv .variantLabelContainer .variantSelectionMode:hover {
        color: #3d3d3d; }
  .OneVariantDiv .variantLabel {
    margin: 0px;
    font-family: sans-serif;
    height: 20px;
    max-width: 100%;
    display: flex;
    font-weight: bold; }
  .OneVariantDiv .variantUnit {
    margin: 0px;
    font-family: sans-serif;
    height: 20px;
    max-width: 100%;
    display: flex;
    font-weight: bold;
    padding-left: 5px; }
  .OneVariantDiv .imageContainer {
    display: inline-block;
    position: relative; }
  .OneVariantDiv .contentContainer {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 120px); }
  .OneVariantDiv .contentContainerForRealistic {
    /*width: calc(100% - 140px) !important;*/
    width: calc(100% - 90px) !important; }
  .OneVariantDiv .labelContainer {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
  .OneVariantDiv .autocompleteContainer {
    width: 100%; }
  .OneVariantDiv .righticon {
    color: #e87b00 !important;
    font-family: entypo !important; }
  .OneVariantDiv .rightIconContainer {
    display: inline-block;
    verticalAlign: middle;
    vertical-align: middle;
    display: flex; }
  .OneVariantDiv .animated-variant {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s; }
