.sch-tooltip-shortcut {
  text-transform: capitalize;
  font-style: italic;
  border: 1px solid #b4b6ba;
  background-color: #f1f1f1;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px; }
