.compare-main-toolbar-container {
    padding: 3px 10px 3px 10px;
}

    .compare-main-toolbar-container .wux-controls-toolbar .wux-toolbar-scroll .wux-controls-toolbar-nearContainer .wux-toolbar-items-near .wux-generated-toolbar-items-tweaker .wux-tweakers-string-label {
        margin-right: 10px;
        padding-left:0 !important;
    }

    .compare-main-toolbar-container .wux-controls-toolbar .wux-toolbar-scroll .wux-controls-toolbar-nearContainer .wux-toolbar-items-near .wux-generated-toolbar-items-tweaker .wux-tweakers-color-square {
        width:16px;
        height:16px;
    }

.compare-toolbar {
    padding: 4px;
    height: 100%;
    display: flex;
    justify-content: flex-end
}

.compare-toolbar-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.compare-toolbar-btn[checked=true] {
    border-bottom: 1px solid;
}

.compare-toolbar-btn[disabled=true] {
    opacity: 20%;
    pointer-events: none;
}

.compare-toolbar-sep {
    border-right: 1px solid #B4B6BA;
    margin-left: 4px;
    margin-right: 4px;
    float: right;
    height: 100%;
}

.compare-toolbar-icon-active {
    color: #368EC4 !important;
}

/*status Filter legend css */

.status-menu-title[state=unchecked] {
    color: #368EC4;
}

.status-menu-title[state=mousedown] {
    color: #003c5a;
    text-decoration: underline;
}

.status-menu-title[state=checked] {
    color: #005686;
}

.status-menu-title:hover {
    text-decoration: underline;
}

.compare-toolbar-legend-item {
    text-align: left;
    color: #3d3d3d;
}

div.wux-ui-3ds-compare-checkbox-check-on {
    width: 14px;
    height: 14px;
    font: normal normal normal 12px/1 FontAwesome;
    background-color: #42a2da;
    border: 1px solid #b4b6ba;
    border-color: #368ec4;
    text-align: center;
    align-content: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    box-sizing: border-box;
    margin-left: auto;
    vertical-align: middle;
    margin-right: auto;
    margin-bottom: 1px;
    border-radius: 2px;
    display: inline-block;
    color: white;
}

div.wux-ui-3ds-compare-checkbox-check-off {
    width: 14px;
    height: 14px;
    font: normal normal normal 12px/1 FontAwesome;
    background-color: #42a2da;
    border: 1px solid #b4b6ba;
    border-color: #368ec4;
    text-align: center;
    align-content: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    box-sizing: border-box;
    margin-left: auto;
    vertical-align: middle;
    margin-right: auto;
    margin-bottom: 1px;
    border-radius: 2px;
    display: inline-block;
    color: white;
}

div.wux-ui-3ds-compare-checkbox-check-on:hover, .wux-ui-3ds-compare-checkbox-check-off:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

div.wux-ui-3ds-compare-checkbox-check-on:after {
    content: '\f00c';
}

/*
div.wux-tweakers.compare-toolbar-differences div.wux-controls-button span {
    font-size: 12px
}*/

div.wux-tweakers.compare-toolbar-differences div.wux-controls-button.wux-tweaker-function-displaycount {
    width: auto !important;
    min-width: 38px;
}

div.wux-tweakers.compare-toolbar-differences div.wux-controls-button div.wux-button-icon-placeholder {
    display: none !important;
}

div.wux-tweakers.compare-toolbar-differences div.wux-controls-button span {
    width: auto !important;
    font-size: 12px;
}

div.wux-tweakers.compare-toolbar-differences div.wux-controls-button span.arrow-icon {
    margin-top: 2px;
}

div.compare-view-toolbar-container {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    padding: 3px 10px 3px 10px;
}

div.compare-view-toolbar-navigate {
    min-width: 100px;
    max-width: 120px;
    height: auto;
    flex: none;
}

div.compare-view-toolbar-navigate[touch-mode] {
    max-width: 160px;
}

div.compare-view-toolbar-legend {
    height: auto;
    flex: 1 1 30px;
    min-width: 30px;
    width:auto !important;
}

div.compare-view-toolbar-right {
    width: 100%;
    height: auto;
}

div.compare-view-toolbar-right-fixed-width {
    min-width: auto;
    max-width: 150px;
    height: auto;
    flex: none
}

div.compare-toolbar-legend{
    margin:initial !important;
}

div.compare-toolbar-legend .wux-generated-toolbar-items-tweaker .wux-tweakers .wux-controls-toggle .wux-label {
    margin: 2px 10px 2px 10px !important;
}
