
/* fix MassUpdate toolbar button issue */
#divMassUpdate div.toolbar table tr td{
	border:1px solid transparent;
	line-height: 1 !important;
}

div#divMassUpdate.toolbar-subcontainer div.toolbar-frame {
    padding-top: 0px;
}

div#mx_divStructureBrowserButtons {
    margin-top: 2px;
}

div#pageHeadDiv {
	z-index: 2;
}

/* ckeditor border */
.ui-dialog-content .cke_chrome
{
	border:1px solid #b6b6b6;
}

div.formLayer {
	z-index: 2 !important;	
}

