#AttachmentsWebInWinProperty{
    min-height: 300px !important;
    width: 100%;
    margin-bottom: -185px;
    z-index: 1;
}

#AttachmentsWebInWin{
    height: calc(100% - 120px) !important;
}

.enox-attachments-panes, .enox-attachments-topbar, .enox-attachments-progresspane{
    z-index: 2;
}

#AttachmentsWebInWinProperty > .editTaskProperties{
    min-height: 300px !important;
}
