.minimap-toolbar {
    position: absolute;
    right: 0;
    top: 35px;
    bottom: 0;
    background: #ffffff;
    min-width:26px;
    max-width:26px;
    height:100%;
    padding-top: 3px;
    border-left: 1px solid #aaa;
}

.minimap-close{
    position: absolute;
    right: 0;
    top: -5px;
    bottom: 0;
    background: #ffffff;
    min-width:26px;
    max-width:26px;
    height:40px;
    padding-top: 3px;
    border-left: 1px solid #aaa;
}

.minimap {
    background: #EFEFEF;
    position:relative;
    top:0;
    left:0;
    /*width:auto;*/
    height:100%;
    overflow:hidden;
    border: 1px solid #aaa;
}

.minimap-panel {
    background: #fafafa;
    border: 1px solid #aaa;
    overflow:hidden;
}

.minimap-icon{
    margin-left:3px;
    margin-right:3px;
    max-height:25px;
    min-height:25px;
}

.minimap-container-div{
    min-width: 100%;
    min-height:100%;
    margin:0;
}

.marquee {
    fill: rgba(128,128,128,0.5);
    stroke: rgba(36, 80, 89, 1);
    stroke-width: 1;
    stroke-dasharray: 2,3;
}
