.instance-tile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #f1f1f1;
  /** Style when item is main selection */
  /** Common style */
  /* Item 'isSelected' checkbox */
  /** Primary informations (reference name and state) */
  /** Item attributes */
  /** Secondary informations (instance name and effectivity) */
  /** Dropdown menu */ }
  .instance-tile-view.selected {
    border: 1px solid #368ec4;
    background-color: #d5e8f2; }
  .instance-tile-view .instance-tile-view-checkbox-container, .instance-tile-view .instance-tile-view-thumbnail, .instance-tile-view .instance-tile-view-primary-informations, .instance-tile-view .instance-tile-view-attributes, .instance-tile-view .instance-tile-view-secondary-informations, .instance-tile-view .instance-tile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top;
    font-family: '3ds'; }
  .instance-tile-view .instance-tile-view-checkbox-container {
    width: 2%;
    position: relative; }
  .instance-tile-view .instance-tile-view-thumbnail {
    width: 4%;
    height: 100%;
    text-align: center; }
  .instance-tile-view .instance-tile-view-thumbnail-icon {
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 3px 0; }
  .instance-tile-view .instance-tile-view-primary-informations {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3; }
  .instance-tile-view .instance-tile-view-display-name, .instance-tile-view .instance-tile-view-reference-state {
    height: 45%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .instance-tile-view .fonticon.fonticon-attention {
    display: none; }
  .instance-tile-view .fonticon.fonticon-attention.not-last-version {
    color: #E87B00;
    display: inline; }
  .instance-tile-view .instance-tile-view-display-name {
    font-weight: 700; }
  .instance-tile-view .instance-tile-view-attributes {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3; }
    .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attributes-column {
      height: 100%;
      display: inline-block;
      vertical-align: top; }
    .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attribute {
      height: 45%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attribute-name, .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attribute-value {
      display: inline-block;
      vertical-align: top; }
    .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attribute-name {
      color: #d1d4d4; }
  .instance-tile-view .instance-tile-view-secondary-informations {
    height: 60%;
    top: 20%;
    padding-left: 20px;
    color: #77797c;
    text-align: left;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    border-left: solid 1px #f1f1f1; }
  .instance-tile-view .instance-tile-view-name, .instance-tile-view .instance-tile-view-effectivity {
    height: 50%;
    width: 100%; }
  .instance-tile-view .instance-tile-view-name {
    font-weight: 700; }
  .instance-tile-view .instance-tile-view-dropdown-menu {
    width: 2%;
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4; }

/** Responsiveness */
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-tile-view-primary-informations {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-tile-view-attributes {
  width: 55%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-tile-view-secondary-informations {
  width: 15%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-tile-view-attributes-column {
  width: 33%; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-primary-informations {
  width: 25%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-attributes {
  width: 40%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-secondary-informations {
  width: 25%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-attributes-column {
  width: 48%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-primary-informations {
  width: 25%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-attributes {
  width: 30%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-secondary-informations {
  width: 32%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-attributes-column {
  width: 100%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-attributes-column[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-tile-view-primary-informations {
  width: 45%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-tile-view-attributes {
  width: 0%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-tile-view-secondary-informations {
  width: 42%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-tile-view-attributes-column {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel.nothumbnail .instance-tile-view-thumbnail {
  visibility: hidden !important; }

/** Remoev vertical scrollbar */
.wux-layouts-gridengine-poolcontainer-rel {
  overflow-y: hidden;
  width: 99.98% !important; }
