.octagonBadge {
    width:20px;
    height:20px;
    float: left;
    position: absolute;
    overflow: hidden;
    bottom: 35px;
    right: 0px;
}

.octagonStatus {
    width:20px;
    height:20px;
    float: left;
    position: relative;
    overflow: hidden;
}

.octagon {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    background: #ff4040;
    border: 3px solid #7e0303;
}

.octagon:before {
    position: absolute;
    /* There needs to be a negative value here to cancel
     * out the width of the border. It's currently -3px,
     * but if the border were 5px, then it'd be -5px.
     */
    top: -3px; right: -3px; bottom: -3px; left: -3px;
    transform: rotate(45deg);
    content: '';
    border: inherit;
}

.iconcircle.icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.iconcircle.future.icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EBEBEB;
}

.iconcircle.checked.icon:before {
    left: 5px;
    top: 5px;
    width: 7px;
    height: 4px;
    border-bottom: solid 3px #fff;
    border-left: solid 3px #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pendingArrow {

    background-color: #f98228;
}

.pendingArrow.icon:before {

    width: 7px;
    height: 4px;
    top: 7.5px;
    left: 4px;
    background-color: #fff;
}

.pendingArrow.icon:after {

    width: 0;
    height: 0;
    left: 11px;
    top: 4px;
    border-top: solid 6px transparent;
    border-right: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px #fff;
}

.alert-iconcircle.icon {
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.alert-iconcircle.icon:before {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 10px;
    background-color: #fff;
}

.alert-iconcircle.icon:after {
    top: 15px;
    left: 8px;
    width: 3px;
    height: 2px;
    background-color: #fff;
}

.iconcircle.error.icon {

    background-color: #df0303;
}

.iconcircle.error.icon:before, .iconcircle.error.icon:after {
    left: 5px;
    top: 8px;
    width: 11px;
    height: 3px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.iconcircle.error.icon:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icon {
    position: absolute;
}

.icon:before {
    content: '';
    position: absolute;
}

.icon:after {
    content: '';
    position: absolute;
}

.person-solid.icon {

	color: white;
    position: relative;
    left: 9px;
    top: 4px;
	width: 9px;
	height: 8px;
	background-color: currentColor;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    line-height: 31px;
  }

  .person-solid.icon:before {
    
    content: '';
    position: absolute;
    top: -8px;
    left: 1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid 1px currentColor;
    background-color: currentColor;
  }

  .person-solid.icon:after {
 
    content: '';
    position: absolute;
    margin-left: -9px;
    margin-top: -12.5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgrey;
    z-index: -1;
  }

  
