#applicability-container {
  display: table;
  height: 100%;
  width: 100%; }

#applicability-header {
  padding: 2px 14px;
  border-bottom: 1px solid #d1d4d4; }

#applicability-body {
  height: 100%;
  display: table-row; }

#AttachmentDiv {
  display: table;
  height: 100%;
  width: 100%; }
#attachment-mainContainer {
  width: 100%;
  height: 100%; }

.attachment-header {
  padding: 2px 14px;
  border-Bottom: 1px solid #d1d4d4;
  /*height: 5%;*/
  width: 100%;
  min-width: 34px;
  min-height: 40px; }

.header {
  text-overflow: ellipsis; }
#dependency-mainContainer {
  width: 100%;
  height: 100%;
  display: block; }

#co-dependency {
  display: block;
  height: calc(100% - 40px);
  width: 100%; }

.dependency-header {
  padding: 2px 14px;
  border-Bottom: 1px solid #d1d4d4;
  /*height: 5%;*/
  width: 100%;
  min-width: 34px;
  min-height: 40px; }

.header {
  text-overflow: ellipsis; }
.triptych-left-content {
  /*  .triptych-right {
        overflow:hidden; // handle here for now.. should be done from xmodel-triptych-wrapper
    }*/ }
  .triptych-left-content .gov-triptych-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: table-column; }

.triptych-main .gov-triptych-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto; }

.gov-triptych-wrapper {
  height: 100%; }

.idCardContainer .header-section .actions-section {
  margin-right: 20px; }

.secondmainContainer-sidepanel {
  display: table;
  height: 100%;
  width: 100% !important; }

.chg-welcome-panel-appInfo {
  cursor: text !important;
  pointer-events: none; }

.iaTotalAttribute {
  font-weight: bold !important;
  background: lightblue !important; }
.z-panel {
  width: 100%;
  height: 100%; }
  .z-panel .z-topbar {
    height: 40px; }
    .z-panel .z-topbar .hide {
      display: none; }
    .z-panel .z-topbar .show {
      display: block; }
  .z-panel .z-content {
    height: 100%; }
    .z-panel .z-content .welcome-panel-view-container {
      border: none; }
    .z-panel .z-content.full-height {
      height: 100%; }

.z-content-wrapper {
  height: 100%; }

.cogov-content-wrapper {
  height: 100%; }

.changeorder-landingpage {
  height: 100%;
  width: 100%; }
  .changeorder-landingpage .enox-collection-toolbar-item-count {
    font-weight: bold;
    color: #77797c;
    font-size: 12px;
    font-family: Arial; }
  .changeorder-landingpage .my-cas {
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    height: 100% !important;
    overflow: hidden; }
    .changeorder-landingpage .my-cas.expanded {
      height: calc(100% - 26px); }
  .changeorder-landingpage .recent-cas {
    position: relative;
    height: 197px; }
  .changeorder-landingpage .wux-controls-expander-body.wux-controls-expander-body-toggle {
    padding: 0; }

.toolbar-co-div {
  padding: 0.4px;
  min-height: 41px;
  font-weight: 600; }

.toolbar-cr-div {
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.toolbar-ca-div {
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.toolbar-co-div .wux-controls-toolbar-mask-container.wux-toolbar-horizontal {
  overflow-y: hidden; }

.toolbar-cr-div .wux-controls-toolbar-mask-container.wux-toolbar-horizontal {
  overflow-y: hidden; }

.content-ca-div {
  padding-top: 5px; }

.content-ca-div .wux-tree-treelistview[data-node-depth="0"] .wux-layouts-treeview-expander[data-wux-state="noChildren"] {
  display: none; }

.mainMyCRDiv {
  height: 100%; }

.outerMYCRDiv {
  height: 100%; }

.mainMyCADiv {
  height: 100%; }

.outerMYCADiv {
  height: 100%; }

/***************Change Request*********************/
.content-cr-div .wux-tree-treelistview[data-node-depth="0"] .wux-layouts-treeview-expander[data-wux-state="noChildren"] {
  display: none; }

/***************Change Request*********************/
@media only screen and (max-width: 520px) {
  .toolbar-co-div {
    height: auto; }
  .toolbar-co-div .wux-tweakers-string-label {
    max-width: 150px;
    color: #77797c !important; }
  .toolbar-cr-div {
    height: auto; }
  .toolbar-cr-div .wux-tweakers-string-label {
    max-width: 150px;
    color: #77797c !important; } }

.toolbar-co-div .wux-tweakers-string-label {
  color: #77797c !important; }

.toolbar-cr-div .wux-tweakers-string-label {
  color: #77797c !important; }

#toolbarSearchId {
  visibility: hidden; }

#contentAppdiv1 .wux-datagridview-emptycontentmessage {
  display: none; }

.ca-list-view .calv-empty-container {
  height: calc(-60px + 100%);
  width: 100%;
  top: 60px;
  z-index: 2;
  background-color: white;
  position: absolute; }

.calv-empty-container {
  justify-content: center;
  padding: 20%;
  width: 100%;
  display: flex; }

.my-cas {
  height: 100% !important; }

.outer-co-div {
  width: 100% !important; }

/***************Change Request*********************/
.outer-cr-div {
  width: 100% !important; }

/***************Change Action*********************/
.outer-ca-div {
  width: 100% !important; }

/***************Change Request*********************/
.container-expandInput {
  display: flex;
  font-weight: normal; }

.skeleton-container {
  margin-top: 15px; }

.currentView {
  color: #368ec4; }

.hideView {
  display: none; }

.showView {
  display: block; }

.nonVisible {
  visibility: hidden; }

#emptyTileViewDiv {
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font: 24px arial;
  font-weight: bold;
  color: #77797c; }

#emptyTileViewDiv > * {
  align-self: center; }

#orchestrationEmptyTileViewDiv, #affectedItemsEmptyTileViewDiv, #impactAnalysisEmptyTileViewDiv, #impactBasisEmptyTileViewDiv, #impactedmEmptyTileViewDiv, #contributorEmptyTileViewDiv, #issueEmptyTileViewDiv, #relatedScopeEmptyTileViewDiv, #COissueEmptyTileViewDiv, #COrelatedScopeEmptyTileViewDiv {
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font: 24px arial;
  font-weight: bold;
  color: #77797c; }

#approvalViewDiv {
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font: 24px arial;
  font-weight: bold;
  color: #77797c; }

#approvalContentDiv {
  align-self: center; }

#orchestrationEmptyTileViewDiv > *, #affectedItemsEmptyTileViewDiv > *, #impactAnalysisEmptyTileViewDiv > *, #impactBasisEmptyTileViewDiv > *, #issueEmptyTileViewDiv > *, #impactedItemEmptyTileViewDiv > *, #contributorEmptyTileViewDiv > *, #relatedScopeEmptyTileViewDiv > *, #COissueEmptyTileViewDiv > *, #COrelatedScopeEmptyTileViewDiv > * {
  align-self: center; }

.showEmptyView {
  display: flex; }

.noInfo {
  text-align: center;
  position: relative;
  font: 24px arial;
  font-weight: bold;
  color: #77797c;
  top: 40%; }

.cotileView .wux-controls-responsivetileview-statusbar .wux-ui-3ds-thumbs-down {
  color: red; }

/***************Change Request*********************/
.crtileView .wux-controls-responsivetileview-statusbar .wux-ui-3ds-thumbs-down {
  color: red; }

/***************Change Request*********************/
.catileView .wux-controls-responsivetileview-statusbar .wux-ui-3ds-thumbs-down {
  color: red; }

/***************Change Request*********************/
.assignee {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 1px 2px 1px 0;
  vertical-align: middle; }

.userIcon {
  position: absolute;
  left: 0;
  width: 100%;
  height: 95%;
  border-radius: 50%;
  background: lightgrey; }

.userRTIcon {
  position: absolute;
  left: 0;
  width: 100%;
  height: 95%; }

.userName {
  margin-left: 5px;
  line-height: 22px; }

.gridIconContainer {
  position: relative;
  display: inline-block;
  min-width: 23px;
  height: 23px; }

.sevLow, .cotileView .wux-ui-3ds-level-low, .crtileView .wux-ui-3ds-level-low, .catileView .wux-ui-3ds-level-low, .orchestrationtileView .wux-ui-3ds-level-low {
  color: green; }

.sevMed, .cotileView .wux-ui-3ds-level-medium, .crtileView .wux-ui-3ds-level-medium, .catileView .wux-ui-3ds-level-medium, .orchestrationtileView .wux-ui-3ds-level-medium {
  color: orange; }

.sevHigh, .cotileView .wux-ui-3ds-level-high, .crtileView .wux-ui-3ds-level-high, .catileView .wux-ui-3ds-level-high, .orchestrationtileView .wux-ui-3ds-level-high {
  color: red; }

.co-state {
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 0 4px;
  margin: 1px 3px;
  width: 80px; }

.co-draft {
  background-color: #9b2c98; }

.co-inwork {
  background-color: #7fbed1; }

.co-Inapproval {
  background-color: #80c183; }

.co-approved {
  background-color: #bababa; }

.co-completed {
  background-color: #bababa; }

.createCAdropdown {
  border: 1px solid #b4b6ba;
  box-shadow: 0px 1px 2px #b4b6ba;
  position: fixed;
  z-index: 9999;
  background: white;
  width: 166px;
  line-height: 25px; }

.cursorPointer {
  cursor: pointer; }

.createList td {
  padding: 1px; }

.createUL {
  list-style-type: none;
  padding: 0px;
  margin: 0.5px; }

.createLI {
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  background: white;
  margin: 2px 0px 2px 0px;
  border-radius: 0.2em; }

.item-icon {
  vertical-align: middle;
  color: #b4b6ba;
  width: 30px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px; }

.dropdownParent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.item-text {
  line-height: 23px;
  vertical-align: middle;
  color: #3d3d3d;
  text-overflow: ellipsis;
  max-width: calc(100% - 44px);
  font-family: Arial;
  font-size: 13px;
  text-align: left;
  margin-right: 12px; }

.defaultUserIcon {
  font-size: 17px;
  color: gray; }

.gridIconContainer .fonticon-pause, .gridIconContainer .fonticon-bell {
  color: gray; }

.iconsDiv {
  position: relative;
  display: inline-block;
  margin-left: 10px; }

.avatarIcon {
  border-radius: 50%;
  width: 91%;
  height: 91%;
  text-align: center;
  color: white;
  vertical-align: middle;
  line-height: 22px;
  font-size: 11.5px; }

.assignee img {
  width: 91%;
  height: 91%; }

.input_FloatingDiv {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 40003;
  border: 1px solid lightgrey;
  background: #f1f1f1;
  padding: 5px;
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 0.5em; }

@media only screen and (max-width: 450px) {
  .input_FloatingDiv .wux-controls-lineeditor input {
    font-size: 16px !important; }
  .input_FloatingDiv .wux-controls-lineeditor input:focus {
    font-size: 16px !important; } }

.expandInput_cancel_btn {
  float: right; }

.rejectCA {
  color: red; }

.recentCA {
  color: #b4b6ba; }

.loader, .loader:before, .loader:after {
  background: #005686;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader {
  color: #005686;
  position: relative;
  font-size: 2.2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  margin-left: 5px;
  top: 30%; }

.loader:before, .loader:after {
  position: absolute;
  top: 0;
  content: ""; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em; }

  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em; }

  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

.toolbar-co-div .wux-controls-progressbar-linear-subcontainer-lite {
  display: block;
  top: 5px; }

/***************Change Request*********************/
.toolbar-cr-div .wux-controls-progressbar-linear-subcontainer-lite {
  display: block;
  top: 5px; }

/***************Change Request*********************/
.toolbar-co-div .wux-generated-toolbar-items-tweaker .wux-tweakers-string-label {
  color: #77797c; }

/***************Change Request*********************/
.toolbar-cr-div .wux-generated-toolbar-items-tweaker .wux-tweakers-string-label {
  color: #77797c; }

/***************Change Request*********************/
.icon-blue {
  color: #368ec4 !important; }

.iconAlert {
  color: #ff0000 !important; }

.toolbar-co-div .wux-ui-3ds-plus {
  font-size: 22px; }

.disableCreate {
  pointer-events: none !important; }

.outer-co-div .toolbar-co-div .container-expandInput .wux-controls-button {
  padding: 0px;
  width: 34px;
  min-width: 34px;
  min-height: 34px;
  line-height: 30px; }

.outer-ca-div .toolbar-ca-div .container-expandInput .wux-controls-button {
  padding: 0px;
  width: 34px;
  min-width: 34px;
  min-height: 34px;
  line-height: 30px; }

/***************Change Request*********************/
.outer-cr-div .toolbar-cr-div .container-expandInput .wux-controls-button {
  padding: 0px;
  width: 34px;
  min-width: 34px;
  min-height: 34px;
  line-height: 30px; }

.outer-co-div .toolbar-co-div .container-expandInput .wux-controls-button .wux-button-icon-placeholder {
  width: 34px;
  height: 34px; }

.outer-ca-div .toolbar-ca-div .container-expandInput .wux-controls-button .wux-button-icon-placeholder {
  width: 34px;
  height: 34px; }

/***************Change Request*********************/
.outer-cr-div .toolbar-cr-div .container-expandInput .wux-controls-button .wux-button-icon-placeholder {
  width: 34px;
  height: 34px; }

.container-expandInput .wux-controls-lineeditor {
  font-size: 22px;
  margin-right: 5px; }

.container-expandInput .wux-controls-lineeditor input {
  line-height: 25px;
  width: 166px; }

#progBar .wux-controls-progressbar-linear-subcontainer-lite {
  top: 0px; }

#skeleton-container #IDCardView {
  height: calc(100% - 200px) !important; }

.members {
  text-overflow: ellipsis;
  width: calc(100% - 1px);
  overflow: hidden; }

.container-expandInput .wux-controls-lineeditor input[has-clearButton="true"] {
  padding-right: 6px !important; }

.showBox {
  display: block !important; }

.openBox {
  opacity: 1 !important; }

.hideBox {
  display: none;
  opacity: 0; }

.transition {
  transition: all 0.2s ease-in 0s; }

.hideContainer {
  display: none; }

.showContainer {
  display: block; }

.outerContainerTabDiv {
  display: block;
  margin-top: 20px;
  height: calc(100% - 130px); }

.changeorderIDCard-landingpage {
  height: 100%; }
  .changeorderIDCard-landingpage .outerContainerDiv {
    height: 100%; }

/***************orchestration grid START*********************/
.outer-orchestration-grid-div .toolbar-orchestration-grid-div .container-expandInput .wux-controls-button {
  padding: 0px;
  width: 34px;
  min-width: 34px;
  min-height: 34px;
  line-height: 30px; }

.outer-orchestration-grid-div .toolbar-orchestration-grid-div .container-expandInput .wux-controls-button .wux-button-icon-placeholder {
  width: 34px;
  height: 34px; }

.toolbar-orchestration-grid-div, .toolbar-affectedItems-grid-div, .toolbar-impactAnalysis-grid-div {
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.toolbar-orchestration-grid-div .wux-controls-toolbar-mask-container.wux-toolbar-horizontal {
  overflow-y: hidden; }

@media only screen and (max-width: 520px) {
  .toolbar-orchestration-grid-div, .toolbar-affectedItems-grid-div, .toolbar-impactAnalysis-grid-div {
    height: auto; }
  .toolbar-orchestration-grid-div .wux-tweakers-string-label {
    max-width: 150px;
    color: #77797c !important; } }

.toolbar-orchestration-grid-div .wux-tweakers-string-label {
  color: #77797c !important; }

.toolbar-orchestration-grid-div .wux-controls-progressbar-linear-subcontainer-lite {
  display: block;
  top: 5px; }

.toolbar-orchestration-grid-div .wux-generated-toolbar-items-tweaker .wux-tweakers-string-label {
  color: #77797c; }

.toolbar-orchestration-grid-div .wux-ui-3ds-plus {
  font-size: 22px; }

.outer-orchestration-grid-div, .outer-affectedItems-grid-div, .outer-impactAnalysis-grid-div {
  width: 100% !important; }

#chgOrchestrationTab {
  height: 100%; }

/***************orchestration grid END*********************/
/***************tab bar START******************************/
.wux-controls-tabBar-tabs.wux-controls-tabBar-centered {
  text-align: left !important; }

.wux-controls-abstract .wux-controls-tab {
  height: 100%; }

.tabContainer.wux-controls-tab-container.wux-controls-tab-strip {
  height: 100%; }

/***************tab bar END******************************/
/***************All Facets grid and tile view START******************************/
.chg-orchestration-container, .chg-member-container, .chg-realized-container, .chg-proposed-container, .chg-affectedItems-container, .chg-assessment-container {
  height: 100%; }

.content-orchestration-grid-div, .content-affectedItems-grid-div, .content-impactAnalysis-grid-div, .content-member-grid-div {
  width: 100%;
  position: relative; }

.content-orchestration-tile-div, .content-affectedItems-tile-div, .content-impactAnalysis-tile-div, .content-member-tile-div, .content-impactBasis-tile-div {
  width: 100%;
  position: relative; }

.content-orchestration-grid-div.expanded-header-height, .content-member-grid-div.expanded-header-height, .content-affectedItems-grid-div.expanded-header-height, .content-impactAnalysis-grid-div.expanded-header-height {
  height: calc(100% - 105px); }

.content-orchestration-grid-div.minified-header-height, .content-member-grid-div.minified-header-height, .content-affectedItems-grid-div.minified-header-height, .content-impactAnalysis-grid-div.minified-header-height {
  height: calc(100% - 45px); }

.content-orchestration-tile-div.expanded-header-height, .content-member-tile-div.expanded-header-height, .content-affectedItems-tile-div.expanded-header-height, .content-impactAnalysis-tile-div.expanded-header-height, .content-impactBasis-tile-div.expanded-header-height {
  height: calc(100% - 105px); }

.content-orchestration-tile-div.minified-header-height, .content-member-tile-div.minified-header-height, .content-affectedItems-tile-div.minified-header-height, .content-impactAnalysis-tile-div.minified-header-height, .content-impactBasis-tile-div.minified-header-height {
  height: calc(100% - 45px); }

/***************All Facets grid and tile view END******************************/
/*************** Members View START******************************/
.content-member-tile-div .wux-controls-responsivetileview-picture {
  border-radius: 50%;
  width: 60px !important; }

.outer-member-grid-div {
  width: 100% !important; }

.outer-member-grid-div .toolbar-member-grid-div .container-expandInput .wux-controls-button {
  padding: 0px;
  width: 34px;
  min-width: 34px;
  min-height: 34px;
  line-height: 30px; }

.outer-member-grid-div .toolbar-member-grid-div .container-expandInput .wux-controls-button .wux-button-icon-placeholder {
  width: 34px;
  height: 34px; }

.chg-member-profile-picture {
  border-radius: 80px;
  font-size: 30px;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*
.chg-member-container {
  height: 100%;
}
.content-member-grid-div {
  width: 100%;
  position: relative;
}
.content-member-grid-div.expanded-header-height {
  height: calc(100% - 105px);
}
.content-member-grid-div.minified-header-height {
  height: calc(100% - 45px);
}
*/
/*** Members Filter View START****/
.memberfilterView {
  border: 1px solid #368ec4;
  border-radius: 4px;
  margin: 0px 9px 0px 10px; }

.memberfilterView .toggle + .toggle {
  margin-top: 10px !important; }

.filter-table.table {
  width: 98% !important;
  margin-left: 10px;
  margin-bottom: 0px !important; }

.filter-table tr:first-child {
  border-bottom: 1px solid #eee; }

.memberIcon {
  position: relative;
  left: 0;
  width: 100%;
  height: 95%;
  border-radius: 50%;
  background: lightgrey; }

.filter-table tr {
  height: 30px;
  display: table-row;
  cursor: text; }

.filter-table tr td:first-child {
  vertical-align: middle;
  width: 125px;
  min-width: 125px;
  padding-left: 11px; }

.filter-input {
  display: flex; }

.filter-table input {
  border: none;
  box-shadow: none; }

.clear-filter {
  cursor: pointer;
  color: #b4b6ba;
  font-weight: bold;
  font-size: 1.5em;
  visibility: hidden; }

/*** Members Filter View END******/
/*** Add Members View END******/
.chg-add-member-body {
  border: 1px solid #368ec4;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
  padding-bottom: 5px; }

.add-member-table {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 0px !important; }

.add-member-table td {
  padding: 10px;
  color: #8e8e8e;
  font: 12px arial; }

.add-member-table td {
  cursor: text; }

.chg-add-member-change-coordinator-field-container {
  display: flex;
  width: 100%; }

.chg-add-member-assignee-field-container {
  display: flex;
  width: 100%; }

.chg-add-member-informed-user-field-container {
  display: flex;
  width: 100%; }

.chg-add-member-approver-field-container {
  display: flex;
  width: 100%; }

.chg-add-member-change-coordinator-field {
  width: 90%; }

.chg-add-member-assignee-field {
  width: 90%; }

.chg-add-member-informed-user-field {
  width: 90%; }

.chg-add-member-approver-field {
  width: 90%; }

.add-member-table tr td:first-child {
  vertical-align: middle;
  width: 110px;
  min-width: 110px;
  color: #8e8e8e;
  font: 12px arial; }

.chg-add-member-button {
  text-align: right;
  padding-top: 10px; }

.chg-add-member-button .wux-controls-button {
  margin-left: 5px;
  margin-right: 5px; }

.add-member-table .fonticon-search {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 5px; }

.add-member-table .fonticon-search:hover {
  color: #5b5d5e; }

.add-member-table .wux-controls-autoComplete {
  vertical-align: middle;
  min-width: 190px; }

/*** Add Members View END******/
/*************** Members View END******************************/
/*************** Slide-in Facet View START *****************************/
.outer-impactBasis-grid-div {
  display: grid;
  grid-template-rows: min-content;
  width: 100% !important;
  height: 100%; }

.toolbar-impactBasis-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-impactBasis-grid-div {
  position: relative; }

.content-impactBasis-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

/*************** Facet View END *****************************/
.outer-impactedItem-grid-div {
  display: grid;
  grid-template-rows: min-content;
  width: 100% !important;
  height: 100%; }

.toolbar-impactedItem-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-impactedItem-grid-div {
  position: relative; }

.content-impactedItem-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

/*.impactedItemProposedChangePopup{
  min-height: 150px;
  min-width: 350px;
}
.proposedChangeActionsPopupRowItem{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}*/
.impactedItemProposedChangePopup {
  max-height: 150px;
  max-width: 350px; }

th.impactedItem-proposedChange-popup-table-th {
  padding: 5px;
  border: 1px solid #dddddd; }

.impactedItem-proposedChange-popup-body {
  background: white; }

.impactedItem-proposedChange-popup-body-heading {
  text-align: center;
  padding: 5px;
  font-weight: bold; }

td.impactedItem-proposedChange-popup-table-td {
  padding: 5px;
  min-width: 100px;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  border: 1px solid #dddddd; }

/**************************************************/
.outer-contributor-grid-div {
  width: 100% !important;
  height: 100%;
  display: grid;
  grid-template-rows: min-content; }

.toolbar-contributor-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-contributor-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

/**********************************************************/
.outer-issue-grid-div {
  display: grid;
  grid-template-rows: min-content;
  width: 100% !important;
  height: 100%; }

.toolbar-issue-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-issue-grid-div {
  position: relative; }

.content-issue-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

/************************************************************/
.outer-CA-grid-div {
  display: grid;
  grid-template-rows: min-content;
  width: 100% !important;
  height: 100%; }

.toolbar-CA-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-CA-grid-div {
  position: relative; }

.content-CA-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

/**********************************************************/
.outer-relatedScope-grid-div {
  display: grid;
  grid-template-rows: min-content;
  width: 100% !important;
  height: 100%; }

.toolbar-relatedScope-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-relatedScope-grid-div {
  position: relative; }

.content-relatedScope-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

/**************************************************************/
.outer-CO-issue-grid-div {
  display: grid;
  grid-template-rows: min-content;
  width: 100% !important;
  height: 100%; }

.toolbar-CO-issue-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-CO-issue-grid-div {
  position: relative; }

.content-CO-issue-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

/******************************************************/
.outer-CO-relatedScope-grid-div {
  display: grid;
  grid-template-rows: min-content;
  width: 100% !important;
  height: 100%; }

.toolbar-CO-relatedScope-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-CO-relatedScope-grid-div {
  position: relative; }

.content-CO-relatedScope-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

.chg-decisions-facet-container {
  height: 100% !important; }

/**********************************************************/
.outer-context-grid-div {
  display: grid;
  grid-template-rows: min-content;
  width: 100% !important;
  height: 100%; }

.toolbar-context-grid-div {
  display: block;
  width: 100%;
  padding: 0.4px;
  height: 41px;
  font-weight: 600; }

.content-context-grid-div {
  position: relative; }

.content-context-tile-div {
  width: 100%;
  position: relative;
  height: calc(100% - 41px); }

.taggerSectionActivate {
  border: 1px solid #368ec4; }

.matBlock {
  color: red; }

.chgMaturity {
  text-overflow: ellipsis;
  width: calc(100% - 1px);
  overflow: hidden; }

body .datepicker, body .select-dropdown {
  z-index: 50000 !important; }

body .select-results {
  text-align: left !important; }
.chg-id-card-container {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #d1d4d4;
  /*     
    .lcm-state-text {
        display: none ; } */
  /** Sidebar buttons (home button and / or welcome panel toggle button) */
  /** Placeholder for item thumbnail */
  /** Main section width based on whether sidebar buttons and / or image placeholder are shown or hidden */
  /** Main section (title, attributes, freezone) */
  /** In minified view, ... */ }
  .chg-id-card-container .sidebar-buttons {
    width: 50px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden; }
    .chg-id-card-container .sidebar-buttons .sidebar-icons {
      width: 50px;
      height: 34px;
      text-align: center;
      font-size: 1.5em;
      line-height: 1.7em;
      color: #b4b6ba;
      cursor: pointer; }
  .chg-id-card-container .image-placeholder {
    width: 120px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden; }
    .chg-id-card-container .image-placeholder .thumbnail {
      width: 100%; }
    .chg-id-card-container .image-placeholder .smallIcon {
      display: none; }
  .chg-id-card-container:not(.no-sidebar-buttons):not(.no-image-placeholder) .main-section {
    width: calc(100% - 158px); }
  .chg-id-card-container.no-sidebar-buttons:not(.no-image-placeholder) .main-section {
    width: calc(100% - 120px); }
  .chg-id-card-container.no-image-placeholder:not(.no-sidebar-buttons) .main-section {
    width: calc(100% - 50px); }
  .chg-id-card-container.no-sidebar-buttons.no-image-placeholder .main-section {
    width: calc(100%); }
  .chg-id-card-container .main-section {
    height: 100%;
    padding-left: 10px;
    display: inline-block; }
    .chg-id-card-container .main-section .title-section {
      width: 100%;
      height: 38px;
      font-size: 20px;
      font-family: Arial;
      font-weight: 700;
      line-height: 38px;
      display: flex; }
      .chg-id-card-container .main-section .title-section .name {
        color: #77797c;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .chg-id-card-container .main-section .title-section .version, .chg-id-card-container .main-section .title-section .versionModel, .chg-id-card-container .main-section .title-section .modelVersion, .chg-id-card-container .main-section .title-section .configuration {
        color: #368ec4;
        cursor: pointer; }
      .chg-id-card-container .main-section .title-section .attributes-section-when-minified {
        margin-left: 10px;
        margin-right: 10px;
        flex: 1;
        display: flex;
        font-family: Arial;
        font-size: 12px;
        overflow: hidden; }
        .chg-id-card-container .main-section .title-section .attributes-section-when-minified .attributes-section-when-minified-container {
          width: 100%;
          white-space: nowrap; }
          .chg-id-card-container .main-section .title-section .attributes-section-when-minified .attributes-section-when-minified-container .attribute-section {
            white-space: nowrap;
            padding-left: 40px;
            display: inline; }
            .chg-id-card-container .main-section .title-section .attributes-section-when-minified .attributes-section-when-minified-container .attribute-section .attribute-name, .chg-id-card-container .main-section .title-section .attributes-section-when-minified .attributes-section-when-minified-container .attribute-section .attribute-value {
              display: inline-block;
              vertical-align: top; }
            .chg-id-card-container .main-section .title-section .attributes-section-when-minified .attributes-section-when-minified-container .attribute-section .type-hyperlink {
              cursor: pointer;
              color: #368ec4; }
            .chg-id-card-container .main-section .title-section .attributes-section-when-minified .attributes-section-when-minified-container .attribute-section .attribute-name {
              color: #77797c; }
            .chg-id-card-container .main-section .title-section .attributes-section-when-minified .attributes-section-when-minified-container .attribute-section .attribute-value {
              font-weight: 300; }
      .chg-id-card-container .main-section .title-section .title-section-buttons {
        margin-right: 10px;
        color: #b4b6ba;
        white-space: nowrap; }
        .chg-id-card-container .main-section .title-section .title-section-buttons .fonticon {
          cursor: pointer;
          width: 50px; }
        .chg-id-card-container .main-section .title-section .title-section-buttons .information-icon:hover, .chg-id-card-container .main-section .title-section .title-section-buttons .information-icon.active {
          color: #368ec4; }
    .chg-id-card-container .main-section .lower-main-section {
      width: 100%;
      height: 72px;
      padding-bottom: 5px;
      /** Additional margin for first free-zone (separator with attributes section) */ }
      .chg-id-card-container .main-section .lower-main-section .attributes-placeholder {
        height: 100%;
        display: inline-block;
        vertical-align: top;
        font-family: Arial;
        font-size: 12px; }
        .chg-id-card-container .main-section .lower-main-section .attributes-placeholder .attribute-columns {
          max-width: 400px;
          min-width: 150px;
          height: 100%;
          display: inline-block;
          vertical-align: top; }
          .chg-id-card-container .main-section .lower-main-section .attributes-placeholder .attribute-columns .attribute-section {
            width: 100%;
            padding-right: 10px;
            margin-bottom: 5px;
            display: block;
            vertical-align: top;
            white-space: nowrap;
            overflow: hidden; }
            .chg-id-card-container .main-section .lower-main-section .attributes-placeholder .attribute-columns .attribute-section .attribute-name, .chg-id-card-container .main-section .lower-main-section .attributes-placeholder .attribute-columns .attribute-section .attribute-value {
              display: inline-block;
              vertical-align: top; }
            .chg-id-card-container .main-section .lower-main-section .attributes-placeholder .attribute-columns .attribute-section .type-hyperlink {
              cursor: pointer;
              color: #368ec4; }
            .chg-id-card-container .main-section .lower-main-section .attributes-placeholder .attribute-columns .attribute-section .attribute-name {
              font-weight: 700;
              color: #77797c; }
      .chg-id-card-container .main-section .lower-main-section .free-zone {
        width: 450px;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
        vertical-align: top;
        border-left: solid 1px #e2e4e3;
        overflow: hidden;
        text-overflow: ellipsis; }
      .chg-id-card-container .main-section .lower-main-section .free-zone:nth-child(2) {
        margin-left: 15px; }
  .chg-id-card-container.minified {
    height: 50px;
    /** Display sidebar-icons as inline-block */
    /** Adjust main section width (with and without sidebar buttons) */
    /** Hide thumbnail and lower-main-section */
    /** image place holder css for icon */
    /** Only display attributes list in title section when minified */ }
    .chg-id-card-container.minified .sidebar-buttons {
      width: 76px; }
    .chg-id-card-container.minified .sidebar-icons {
      display: inline-block;
      vertical-align: top; }
    .chg-id-card-container.minified:not(.no-sidebar-buttons) .main-section {
      width: calc(100% - 76px) !important; }
    .chg-id-card-container.minified.no-sidebar-buttons .main-section {
      width: calc(100% - 60px); }
    .chg-id-card-container.minified .title-section {
      height: 50px;
      line-height: 50px;
      width: 100%; }
    .chg-id-card-container.minified .thumbnail, .chg-id-card-container.minified .lower-main-section {
      display: none; }
    .chg-id-card-container.minified .image-placeholder {
      display: inline-block;
      width: 60px; }
    .chg-id-card-container.minified .smallIcon {
      display: flex;
      width: 75%; }
    .chg-id-card-container.minified .attributes-section-when-minified {
      visibility: visible; }
  .chg-id-card-container:not(.minified) .attributes-section-when-minified {
    visibility: hidden; }

/** Maturity Collapsed and Expanded ID Card START*/
.container {
  height: 50px !important;
  width: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important; }

.attribute-columns > .attribute-section#maturity .next-state-button1 {
  width: 44px !important;
  height: 19px !important; }

.attribute-columns > .attribute-section#maturity .iconbar .iconbar-items-icons .item {
  margin-top: -27px !important; }

.attributes-section-when-minified-container > .attribute-section#maturity .iconbar .iconbar-items-icons .item {
  margin-top: -27px !important; }

/*.iconbar .iconbar-items-icons .divider {
    margin-top: -27px !important;
}*/
.attribute-columns > .attribute-section#maturity {
  width: 350px !important;
  height: 18px !important; }

.wrapper {
  justify-content: left !important; }

.attributes-section-when-minified-container > .attribute-section#maturity .wrapper {
  margin: 6px 0px; }

.attributes-section-when-minified-container > .attribute-section#maturity .lcm-state-base1 .lcm-state-text {
  margin-top: -16px;
  display: block; }

.attributes-section-when-minified-container > .attribute-section#maturity .next-state-button {
  line-height: normal; }

.attributes-section-when-minified-container > .attribute-section#maturity .next-state-button1 {
  height: auto !important;
  padding: 0px !important; }

/* Maturity ID card */
.next-state-button .lcm-state-text {
  display: none; }

/** Maturity Collapsed and Expanded ID Card END*/
/** Loader Collapsed and Expanded ID Card START*/
.attribute-columns > .attribute-section > .attribute-value .wux-controls-progressbar-circular-subcontainer {
  margin-top: 0px;
  margin-bottom: 0px; }

.attributes-section-when-minified-container > .attribute-section > .attribute-value .wux-controls-progressbar-animate-infinite-circular {
  vertical-align: top; }

/** Loader Collapsed and Expanded ID Card END*/.firstROChildDiv {
  height: 100%;
  position: relative;
  padding-left: 10px; }

.secondROChildDiv {
  height: 50%;
  position: relative;
  padding-left: 10px;
  margin-top: 15px; }

#recentlyOpenedCOEmptyTileViewDiv, #pendingIndexedCOEmptyTileViewDiv {
  position: absolute;
  justify-content: center;
  top: 40%;
  bottom: 0;
  right: 0;
  left: 0;
  font: 24px arial;
  font-weight: bold;
  color: #77797c; }

#recentlyOpenedCOPopulatedTileViewDiv, #pendingIndexedCOPopulatedTileViewDiv {
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 0px;
  bottom: 0px;
  width: 100%; }

.hideViewRecentlyOpenedCO, .hideViewPendingIndexedCO {
  display: none; }

.recentlyOpenedCOEmptyTileViewText, .pendingIndexedCOEmptyTileViewText {
  text-align: center; }

.sevMed, .cogov-content-wrapper .wux-ui-3ds-level-low {
  color: green; }

.sevMed, .cogov-content-wrapper .wux-ui-3ds-level-medium {
  color: orange; }

.sevHigh, .cogov-content-wrapper .wux-ui-3ds-level-high {
  color: red; }

.recentlyOpenedCOEmptyTileViewText .wux-controls-button.wux-ui-state-primary {
  padding: 10px 15px; }
