.documents-presenter {
  height: 100%;
  width: 100%; }
  .documents-presenter .documents-alert-message {
    z-index: 1; }
  .documents-presenter .document-criteria-selector-container {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit; }
  .documents-presenter .item.selected {
    color: #368ec4 !important; }
  .documents-presenter .toolbar-section > * {
    height: auto !important;
    margin: 0px; }
  .documents-presenter .selection-count {
    padding-left: 10px;
    font-family: arial;
    display: table-cell;
    vertical-align: middle; }
  .documents-presenter .actions-section {
    display: table-cell;
    float: right; }
  .documents-presenter .header-ctrl-section {
    display: table;
    width: 100%;
    padding: 5px 0px;
    flex-shrink: 1; }
  .documents-presenter .search-section-div {
    padding: 10px 20px 0px 20px;
    display: none;
    /*table-row;*/
    width: 100%;
    flex-shrink: 1; }
  .documents-presenter .btn-group-div {
    display: table-row;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px; }
  .documents-presenter .search-section-button {
    display: table-cell; }
  .documents-presenter .btn-group {
    display: inline-flex; }
  .documents-presenter .search-textbox {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px; }
  .documents-presenter .search-textbox, .documents-presenter .btn-group-div {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px; }
  .documents-presenter .content-section {
    flex: 1; }
  .documents-presenter .footer-section {
    display: table-row;
    height: 20%; }
  .documents-presenter .chkToggleBtn {
    display: inline-block;
    padding: inherit; }
  .documents-presenter .document-criteria-selector-container .content-section div.wux-datagrid-cell[data-index="tree"] {
    left: 1px; }
  .documents-presenter .droppable {
    position: absolute;
    top: 100px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 98.5%;
    height: 80%;
    font-weight: bold;
    z-index: 99;
    background-color: #fff;
    border: 3px dashed #368ec4;
    color: #368ec4;
    margin-top: -100px; }
  .documents-presenter .emptyContainerStyle .droppable {
    position: absolute;
    top: 100px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 98%;
    height: 80%;
    font-weight: bold;
    z-index: 99;
    background-color: #fff;
    border: 3px dashed #368ec4;
    color: #368ec4;
    margin-top: 0px; }
  .documents-presenter .fileDrop .btn {
    margin-left: 870px; }
  .documents-presenter .document-criteria-selector-container .enox-collection-toolbar-container {
    position: absolute; }
  .documents-presenter .document-criteria-selector-container .fonticon-5x {
    font-size: 2em; }
  .documents-presenter .document-criteria-selector-container .wux-ui-stack-h li.wux-layouts-treeview-node {
    left: -30px; }
  .documents-presenter .emptyContainerStyle {
    height: 80%;
    width: 98%;
    font-family: Arial;
    font-size: 14px;
    color: #b4b6ba;
    margin: 50px 1px 0px 8px;
    align-self: center;
    text-align: center; }
  .documents-presenter .enox-drag-over {
    border: 0px !important;
    border-radius: 0px; }
  .documents-presenter .wux-tree-treelistview .wux-scroller.wux-ui-state-drag-over {
    border: 0px;
    background-color: #fff; }

.documentmodal .modal-content {
  width: 800px; }
  .documentmodal .modal-content .btn-error {
    margin-left: 10px; }
  .documentmodal .modal-content #DOCFormDiv .fonticon-asterisk-alt:before, .documentmodal .modal-content .fonticon-required:before {
    color: #d60900; }
  .documentmodal .modal-content .modal-footer .btn {
    margin-left: 9px; }
