#saveButton {
	margin:5px;

}

#cancelButton {
	margin:5px;

}

#ConfiguratorPanel {
	position : absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	
	transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

#expandCollapseConfigPanelDiv{
	height: 100%;
	display: inline-block;	
	background-color: #fff;
	vertical-align: top;
	position: relative;
	z-index: 10;
}

#configContentDiv {
	height: 100%;
	display: inline-block;
	position:absolute;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	
	webkit-box-shadow: 2px 2px 2px #aaa8a5;
    -webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
    box-shadow: 2px 2px 2px #aaa8a5;
	
	transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
	
}

#configContentDivParent {
	display: inline-block;
    top: 0px;
    vertical-align: top;
    left: 0px;
    position: relative;
    height: 100%;
}

#variantClassesListDiv {
	width: 100%;
	z-index: 5;
	position: relative;
	
}

.wux-notification-screen {
    z-index: 2000 !important;
}

textarea {
    resize: none;
}

.empty-configuration{
	    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    opacity: 0.5;
}

