.imagesDropdown{
	max-width:260px;	
	max-height: 260px;
	overflow:auto
}

.OptionsDD{
	max-height: 180px;
	overflow:auto;
}

/* .dropdown-menu .item>.fonticon {
    width: 28px !important;
} */

.img-thumbnail {
    max-height: 100%;
	padding: 2px !important;	
	vertical-align: top !important;
	width:100%
}

.OneFeatureDiv { 
    text-align : left;
    margin-left: 10px;
    position: relative;
    padding:0px;
}

.OneFeatureDiv.largeContainer {
    width: calc(25% - 10px);
}

.OneFeatureDiv.mediumContainer {
    width: calc(50% - 10px);
}

.OneFeatureDiv.smallContainer {
    width: calc(100% - 10px);
}

