<div class="BETA-FUN109031-modal-content">
  <div>###BETA-FUN109031-modal-content-section-1###</div>
  <div>
    <ul>
      <li>###BETA-FUN109031-modal-content-section-directive-1###</li>
      <li>###BETA-FUN109031-modal-content-section-directive-2###</li>
    </ul>
    <div>
      <div class="What">
        <span class="fonticon fonticon-3ds-what"></span>
        <p>###BETA-FUN109031-modal-content-what###</p>
        <img src="###WHAT###" />
      </div>
      <div class="Where">
        <span class="fonticon fonticon-3ds-where"></span>
        <p>###BETA-FUN109031-modal-content-where###</p>
        <img src="###WHERE###" />
      </div>
      <div class="Who">
        <span class="fonticon fonticon-3ds-who"></span>
        <p>###BETA-FUN109031-modal-content-who###</p>
        <img src="###WHO###" />
      </div>
      <div class="When">
        <span class="fonticon fonticon-3ds-when"></span>
        <p>###BETA-FUN109031-modal-content-when###</p>
        <img src="###WHEN###" />
      </div>
    </div>
  </div>
  <div><a href="https://dsext001-eu1-215dsi0708-3dswym.3dexperience.3ds.com/#community:gTXMAAGHQAeJRfLv-Lq4Rg" target="_blank">###BETA-FUN109031-modal-content-feedback###</a></div>
</div>
