/*-----------------For rendering in Menu Palette-------------------------------------------------*/
/*--Basic Styling for pattern---*/
.pattern{
	font-family: FontAwesome;
	position: absolute;
	background-color : #fff;
	font-size: 140%;
}
.cal1-pattern:before{
	content: '\f073' !important;
	color: #FF0000;
}
.cal2-pattern:before{
	content: '\f073' !important;
	color: #FF6600;
}
.cal3-pattern:before{
	content: '\f073' !important;
	color: #800000;
}
.cal4-pattern:before{
	content: '\f073' !important;
	color: #339966;
}
.cal5-pattern:before{
	content: '\f073' !important;
	color: #0000FF;
}
/*=====================================*/
.file1-pattern:before{
	content: '\f0f6' !important;
	color: #FF0000;
}
.file2-pattern:before{
	content: '\f0f6' !important;
	color: #FF6600;
}
.file3-pattern:before{
	content: '\f0f6' !important;
	color: #800000;
}
.file4-pattern:before{
	content: '\f0f6' !important;
	color: #339966;
}
.file5-pattern:before{
	content: '\f0f6' !important;
	color: #0000FF;
}
/*=====================================*/
.square1-pattern:before{
	content: '\f096' !important;
	color: #FF0000;
}
.square2-pattern:before{
	content: '\f096' !important;
	color: #FF6600;
}
.square3-pattern:before{
	content: '\f096' !important;
	color: #800000;
}
.square4-pattern:before{
	content: '\f096' !important;
	color: #339966;
}
.square5-pattern:before{
	content: '\f096' !important;
	color: #0000FF;
}
/*=====================================*/
.user1-pattern:before{
	content: '\f2bd' !important;
	color: #FF0000;
}
.user2-pattern:before{
	content: '\f2bd' !important;
	color: #FF6600;
}
.user3-pattern:before{
	content: '\f2bd' !important;
	color: #800000;
}
.user4-pattern:before{
	content: '\f2bd' !important;
	color: #339966;
}
.user5-pattern:before{
	content: '\f2bd' !important;
	color: #0000FF;
}
/*=====================================*/
.cube-pattern:before{
	content: '\f1b2' !important;
	color: #fff;
}
.cube1-pattern:before{
	content: '\f1b2' !important;
	color: #FF0000;
}
.cube2-pattern:before{
	content: '\f1b2' !important;
	color: #FF6600;
}
.cube3-pattern:before{
	content: '\f1b2' !important;
	color: #800000;
}
.cube4-pattern:before{
	content: '\f1b2' !important;
	color: #339966;
}
.cube5-pattern:before{
	content: '\f1b2' !important;
	color: #0000FF;
}
/*=====================================*/
.star-pattern:before{
	content: '\f006' !important;
	color: #fff;
}
.star1-pattern:before{
	content: '\f006' !important;
	color: #FF0000;
}
.star2-pattern:before{
	content: '\f006' !important;
	color: #FF6600;
}
.star3-pattern:before{
	content: '\f006' !important;
	color: #800000;
}
.star4-pattern:before{
	content: '\f006' !important;
	color: #339966;
}
.star5-pattern:before{
	content: '\f006' !important;
	color: #0000FF;
}
/*=====================================*/
.check-pattern:before{
	content: '\f14a' !important;
	color: #fff;
}
.check1-pattern:before{
	content: '\f14a' !important;
	color: #FF0000;
}
.check2-pattern:before{
	content: '\f14a' !important;
	color: #FF6600;
}
.check3-pattern:before{
	content: '\f14a' !important;
	color: #800000;
}
.check4-pattern:before{
	content: '\f14a' !important;
	color: #339966;
}
.check5-pattern:before{
	content: '\f14a' !important;
	color: #0000FF;
}
/*=====================================*/
.circle-pattern:before{
	content: '\f10c' !important;
	color: #fff;
}
.circle1-pattern:before{
	content: '\f10c' !important;
	color: #FF0000;
}
.circle2-pattern:before{
	content: '\f10c' !important;
	color: #FF6600;
}
.circle3-pattern:before{
	content: '\f10c' !important;
	color: #800000;
}
.circle4-pattern:before{
	content: '\f10c' !important;
	color: #339966;
}
.circle5-pattern:before{
	content: '\f10c' !important;
	color: #0000FF;
}
/*-------------------------------*/
/*=====================For Rendering in Task====================== */

/*-----------------For rendering in Task-------------------------------------------------*/
.cal1.sch-gantt-task-bar:before,
.cal2.sch-gantt-task-bar:before,
.cal3.sch-gantt-task-bar:before,
.cal4.sch-gantt-task-bar:before,
.cal5.sch-gantt-task-bar:before {
	font-family: FontAwesome;
	content: '\f073';
	position: absolute;
	top: 14%;
	height: 68%;
	background-color: #ffffff;
	font-size: 140%;
	left : 0;
	}

.cal1.sch-gantt-task-bar:before{
	color: #FF0000;
}
.cal2.sch-gantt-task-bar:before{
	color: #FF6600;
}
.cal3.sch-gantt-task-bar:before{
	color: #800000;
}
.cal4.sch-gantt-task-bar:before{
	color: #339966;
}
.cal5.sch-gantt-task-bar:before{
	color: #0000FF;
}

.x-dd-drag-proxy .cal1.sch-gantt-task-bar,
.x-dd-drag-proxy .cal2.sch-gantt-task-bar,
.x-dd-drag-proxy .cal3.sch-gantt-task-bar,
.x-dd-drag-proxy .cal4.sch-gantt-task-bar,
.x-dd-drag-proxy .cal5.sch-gantt-task-bar {
    top : 0;
}
/*============================================*/
.file1.sch-gantt-task-bar:before,
.file2.sch-gantt-task-bar:before,
.file3.sch-gantt-task-bar:before,
.file4.sch-gantt-task-bar:before,
.file5.sch-gantt-task-bar:before {
	font-family: FontAwesome;
	content: '\f0f6' !important;
	position: absolute;
	top: 14%;
	height: 68%;
	background-color: #ffffff;
	font-size: 140%;
	left : 0;
	}

.file1.sch-gantt-task-bar:before{
	color: #FF0000;
}
.file2.sch-gantt-task-bar:before{
	color: #FF6600;
}
.file3.sch-gantt-task-bar:before{
	color: #800000;
}
.file4.sch-gantt-task-bar:before{
	color: #339966;
}
.file5.sch-gantt-task-bar:before{
	color: #0000FF;
}

.x-dd-drag-proxy .file1.sch-gantt-task-bar,
.x-dd-drag-proxy .file2.sch-gantt-task-bar,
.x-dd-drag-proxy .file3.sch-gantt-task-bar,
.x-dd-drag-proxy .file4.sch-gantt-task-bar,
.x-dd-drag-proxy .file5.sch-gantt-task-bar {
    top : 0;
}
/*============================================*/
.square1.sch-gantt-task-bar:before,
.square2.sch-gantt-task-bar:before,
.square3.sch-gantt-task-bar:before,
.square4.sch-gantt-task-bar:before,
.square5.sch-gantt-task-bar:before {
	font-family: FontAwesome;
	content: '\f096' !important;
	position: absolute;
	top: 14%;
	height: 68%;
	background-color: #ffffff;
	font-size: 140%;
	left : 0;
	}

.square1.sch-gantt-task-bar:before{
	color: #FF0000;
}
.square2.sch-gantt-task-bar:before{
	color: #FF6600;
}
.square3.sch-gantt-task-bar:before{
	color: #800000;
}
.square4.sch-gantt-task-bar:before{
	color: #339966;
}
.square5.sch-gantt-task-bar:before{
	color: #0000FF;
}

.x-dd-drag-proxy .square1.sch-gantt-task-bar,
.x-dd-drag-proxy .square2.sch-gantt-task-bar,
.x-dd-drag-proxy .square3.sch-gantt-task-bar,
.x-dd-drag-proxy .square4.sch-gantt-task-bar,
.x-dd-drag-proxy .square5.sch-gantt-task-bar {
    top : 0;
}
/*============================================*/
/*============================================*/
.user1.sch-gantt-task-bar:before,
.user2.sch-gantt-task-bar:before,
.user3.sch-gantt-task-bar:before,
.user4.sch-gantt-task-bar:before,
.user5.sch-gantt-task-bar:before {
	font-family: FontAwesome;
	content: '\f2bd' !important;
	position: absolute;
	top: 14%;
	height: 68%;
	background-color: #ffffff;
	font-size: 140%;
	left : 0;
	}

.user1.sch-gantt-task-bar:before{
	color: #FF0000;
}
.user2.sch-gantt-task-bar:before{
	color: #FF6600;
}
.user3.sch-gantt-task-bar:before{
	color: #800000;
}
.user4.sch-gantt-task-bar:before{
	color: #339966;
}
.user5.sch-gantt-task-bar:before{
	color: #0000FF;
}

.x-dd-drag-proxy .user1.sch-gantt-task-bar,
.x-dd-drag-proxy .user2.sch-gantt-task-bar,
.x-dd-drag-proxy .user3.sch-gantt-task-bar,
.x-dd-drag-proxy .user4.sch-gantt-task-bar,
.x-dd-drag-proxy .user5.sch-gantt-task-bar {
    top : 0;
}
/*============================================*/
/*============================================*/
.cube1.sch-gantt-task-bar:before,
.cube2.sch-gantt-task-bar:before,
.cube3.sch-gantt-task-bar:before,
.cube4.sch-gantt-task-bar:before,
.cube5.sch-gantt-task-bar:before {
	font-family: FontAwesome;
	content: '\f1b2' !important;
	position: absolute;
	top: 14%;
	height: 68%;
	background-color: #ffffff;
	font-size: 140%;
	left : 0;
	}

.cube1.sch-gantt-task-bar:before{
	color: #FF0000;
}
.cube2.sch-gantt-task-bar:before{
	color: #FF6600;
}
.cube3.sch-gantt-task-bar:before{
	color: #800000;
}
.cube4.sch-gantt-task-bar:before{
	color: #339966;
}
.cube5.sch-gantt-task-bar:before{
	color: #0000FF;
}

.x-dd-drag-proxy .cube1.sch-gantt-task-bar,
.x-dd-drag-proxy .cube2.sch-gantt-task-bar,
.x-dd-drag-proxy .cube3.sch-gantt-task-bar,
.x-dd-drag-proxy .cube4.sch-gantt-task-bar,
.x-dd-drag-proxy .cube5.sch-gantt-task-bar {
    top : 0;
}
/*============================================*/
/*============================================*/
.star1.sch-gantt-task-bar:before,
.star2.sch-gantt-task-bar:before,
.star3.sch-gantt-task-bar:before,
.star4.sch-gantt-task-bar:before,
.star5.sch-gantt-task-bar:before {
	font-family: FontAwesome;
	content: '\f006' !important;
	position: absolute;
	top: 14%;
	height: 68%;
	background-color: #ffffff;
	font-size: 140%;
	left : 0;
	}

.star1.sch-gantt-task-bar:before{
	color: #FF0000;
}
.star2.sch-gantt-task-bar:before{
	color: #FF6600;
}
.star3.sch-gantt-task-bar:before{
	color: #800000;
}
.star4.sch-gantt-task-bar:before{
	color: #339966;
}
.star5.sch-gantt-task-bar:before{
	color: #0000FF;
}

.x-dd-drag-proxy .star1.sch-gantt-task-bar,
.x-dd-drag-proxy .star2.sch-gantt-task-bar,
.x-dd-drag-proxy .star3.sch-gantt-task-bar,
.x-dd-drag-proxy .star4.sch-gantt-task-bar,
.x-dd-drag-proxy .star5.sch-gantt-task-bar {
    top : 0;
}
/*============================================*/
/*============================================*/
.check1.sch-gantt-task-bar:before,
.check2.sch-gantt-task-bar:before,
.check3.sch-gantt-task-bar:before,
.check4.sch-gantt-task-bar:before,
.check5.sch-gantt-task-bar:before {
	font-family: FontAwesome;
	content: '\f14a' !important;
	position: absolute;
	top: 14%;
	height: 68%;
	background-color: #ffffff;
	font-size: 140%;
	left : 0;
	}

.check1.sch-gantt-task-bar:before{
	color: #FF0000;
}
.check2.sch-gantt-task-bar:before{
	color: #FF6600;
}
.check3.sch-gantt-task-bar:before{
	color: #800000;
}
.check4.sch-gantt-task-bar:before{
	color: #339966;
}
.check5.sch-gantt-task-bar:before{
	color: #0000FF;
}

.x-dd-drag-proxy .check1.sch-gantt-task-bar,
.x-dd-drag-proxy .check2.sch-gantt-task-bar,
.x-dd-drag-proxy .check3.sch-gantt-task-bar,
.x-dd-drag-proxy .check4.sch-gantt-task-bar,
.x-dd-drag-proxy .check5.sch-gantt-task-bar {
    top : 0;
}
/*============================================*/
/*============================================*/
.circle1.sch-gantt-task-bar:before,
.circle2.sch-gantt-task-bar:before,
.circle3.sch-gantt-task-bar:before,
.circle4.sch-gantt-task-bar:before,
.circle5.sch-gantt-task-bar:before {
	font-family: FontAwesome;
	content: '\f10c' !important;
	position: absolute;
	top: 14%;
	height: 68%;
	background-color: #ffffff;
	font-size: 140%;
	left : 0;
	}

.circle1.sch-gantt-task-bar:before{
	color: #FF0000;
}
.circle2.sch-gantt-task-bar:before{
	color: #FF6600;
}
.circle3.sch-gantt-task-bar:before{
	color: #800000;
}
.circle4.sch-gantt-task-bar:before{
	color: #339966;
}
.circle5.sch-gantt-task-bar:before{
	color: #0000FF;
}

.x-dd-drag-proxy .circle1.sch-gantt-task-bar,
.x-dd-drag-proxy .circle2.sch-gantt-task-bar,
.x-dd-drag-proxy .circle3.sch-gantt-task-bar,
.x-dd-drag-proxy .circle4.sch-gantt-task-bar,
.x-dd-drag-proxy .circle5.sch-gantt-task-bar {
    top : 0;
}
/*============================================*/
/*-------------For Rendering Gate-------------------*/
.gatePattern .sch-gantt-milestone-diamond {
    visibility : hidden;
}
.gatePattern .sch-gantt-milestone-diamond-ct {
     width     : 22px;
}
.gatePattern .sch-gantt-milestone-diamond-ct:before  {
	display: block;
	background-color: #ffffff;
	font-family: FontAwesome;
	position: absolute;
	top: 8px;
	font-size: 24px;
}
.cal1 .sch-gantt-milestone-diamond-ct:before,
.cal2 .sch-gantt-milestone-diamond-ct:before,
.cal3 .sch-gantt-milestone-diamond-ct:before,
.cal4 .sch-gantt-milestone-diamond-ct:before,
.cal5 .sch-gantt-milestone-diamond-ct:before {
    content          : '\f073';
	}

.cal1 .sch-gantt-milestone-diamond-ct:before{
	color: #FF0000;
}
.cal2 .sch-gantt-milestone-diamond-ct:before{
	color: #FF6600;
}
.cal3 .sch-gantt-milestone-diamond-ct:before{
	color: #800000;
}
.cal4 .sch-gantt-milestone-diamond-ct:before{
	color: #339966;
}
.cal5 .sch-gantt-milestone-diamond-ct:before{
	color: #0000FF;
}

/*============================================*/
.file1 .sch-gantt-milestone-diamond-ct:before,
.file2 .sch-gantt-milestone-diamond-ct:before,
.file3 .sch-gantt-milestone-diamond-ct:before,
.file4 .sch-gantt-milestone-diamond-ct:before,
.file5 .sch-gantt-milestone-diamond-ct:before {
	content: '\f0f6' !important;
	}

.file1 .sch-gantt-milestone-diamond-ct:before{
	color: #FF0000;
}
.file2 .sch-gantt-milestone-diamond-ct:before{
	color: #FF6600;
}
.file3 .sch-gantt-milestone-diamond-ct:before{
	color: #800000;
}
.file4 .sch-gantt-milestone-diamond-ct:before{
	color: #339966;
}
.file5 .sch-gantt-milestone-diamond-ct:before{
	color: #0000FF;
}

/*============================================*/
.square1 .sch-gantt-milestone-diamond-ct:before,
.square2 .sch-gantt-milestone-diamond-ct:before,
.square3 .sch-gantt-milestone-diamond-ct:before,
.square4 .sch-gantt-milestone-diamond-ct:before,
.square5 .sch-gantt-milestone-diamond-ct:before {
	content: '\f096' !important;
	}

.square1 .sch-gantt-milestone-diamond-ct:before{
	color: #FF0000;
}
.square2 .sch-gantt-milestone-diamond-ct:before{
	color: #FF6600;
}
.square3 .sch-gantt-milestone-diamond-ct:before{
	color: #800000;
}
.square4 .sch-gantt-milestone-diamond-ct:before{
	color: #339966;
}
.square5 .sch-gantt-milestone-diamond-ct:before{
	color: #0000FF;
}

/*============================================*/
/*============================================*/
.user1 .sch-gantt-milestone-diamond-ct:before,
.user2 .sch-gantt-milestone-diamond-ct:before,
.user3 .sch-gantt-milestone-diamond-ct:before,
.user4 .sch-gantt-milestone-diamond-ct:before,
.user5 .sch-gantt-milestone-diamond-ct:before {
	content: '\f2bd' !important;
	}

.user1 .sch-gantt-milestone-diamond-ct:before{
	color: #FF0000;
}
.user2 .sch-gantt-milestone-diamond-ct:before{
	color: #FF6600;
}
.user3 .sch-gantt-milestone-diamond-ct:before{
	color: #800000;
}
.user4 .sch-gantt-milestone-diamond-ct:before{
	color: #339966;
}
.user5 .sch-gantt-milestone-diamond-ct:before{
	color: #0000FF;
}

/*============================================*/
/*============================================*/
.cube1 .sch-gantt-milestone-diamond-ct:before,
.cube2 .sch-gantt-milestone-diamond-ct:before,
.cube3 .sch-gantt-milestone-diamond-ct:before,
.cube4 .sch-gantt-milestone-diamond-ct:before,
.cube5 .sch-gantt-milestone-diamond-ct:before {
	content: '\f1b2' !important;
	}

.cube1 .sch-gantt-milestone-diamond-ct:before{
	color: #FF0000;
}
.cube2 .sch-gantt-milestone-diamond-ct:before{
	color: #FF6600;
}
.cube3 .sch-gantt-milestone-diamond-ct:before{
	color: #800000;
}
.cube4 .sch-gantt-milestone-diamond-ct:before{
	color: #339966;
}
.cube5 .sch-gantt-milestone-diamond-ct:before{
	color: #0000FF;
}

/*============================================*/
/*============================================*/
.star1 .sch-gantt-milestone-diamond-ct:before,
.star2 .sch-gantt-milestone-diamond-ct:before,
.star3 .sch-gantt-milestone-diamond-ct:before,
.star4 .sch-gantt-milestone-diamond-ct:before,
.star5 .sch-gantt-milestone-diamond-ct:before {
	content: '\f006' !important;
	}

.star1 .sch-gantt-milestone-diamond-ct:before{
	color: #FF0000;
}
.star2 .sch-gantt-milestone-diamond-ct:before{
	color: #FF6600;
}
.star3 .sch-gantt-milestone-diamond-ct:before{
	color: #800000;
}
.star4 .sch-gantt-milestone-diamond-ct:before{
	color: #339966;
}
.star5 .sch-gantt-milestone-diamond-ct:before{
	color: #0000FF;
}

/*============================================*/
/*============================================*/
.check1 .sch-gantt-milestone-diamond-ct:before,
.check2 .sch-gantt-milestone-diamond-ct:before,
.check3 .sch-gantt-milestone-diamond-ct:before,
.check4 .sch-gantt-milestone-diamond-ct:before,
.check5 .sch-gantt-milestone-diamond-ct:before {
	content: '\f14a' !important;
	}

.check1 .sch-gantt-milestone-diamond-ct:before{
	color: #FF0000;
}
.check2 .sch-gantt-milestone-diamond-ct:before{
	color: #FF6600;
}
.check3 .sch-gantt-milestone-diamond-ct:before{
	color: #800000;
}
.check4 .sch-gantt-milestone-diamond-ct:before{
	color: #339966;
}
.check5 .sch-gantt-milestone-diamond-ct:before{
	color: #0000FF;
}

/*============================================*/
/*============================================*/
.circle1 .sch-gantt-milestone-diamond-ct:before,
.circle2 .sch-gantt-milestone-diamond-ct:before,
.circle3 .sch-gantt-milestone-diamond-ct:before,
.circle4 .sch-gantt-milestone-diamond-ct:before,
.circle5 .sch-gantt-milestone-diamond-ct:before {
	content: '\f10c' !important;
	}

.circle1 .sch-gantt-milestone-diamond-ct:before{
	color: #FF0000;
}
.circle2 .sch-gantt-milestone-diamond-ct:before{
	color: #FF6600;
}
.circle3 .sch-gantt-milestone-diamond-ct:before{
	color: #800000;
}
.circle4 .sch-gantt-milestone-diamond-ct:before{
	color: #339966;
}
.circle5 .sch-gantt-milestone-diamond-ct:before{
	color: #0000FF;
}

/*============================================*/
