/* COLORS ==================================== */
/* MAIN COLORS ------------------ */
/* BACKGROUND GREY */
/* SECTION GREY */
/* FOOTER GREY */
/* OUTLINE GREY */
/* OUTLINE DARK GREY */
/* ICON GREY */
/* COPY GREY */
/* DARK GREY */
/* LIGHT STEEL */
/* LIGHT BLUE */
/* MEDIUM BLUE */
/* DARK BLUE */
/* 3DS CORPORATE STEEL BLUE */
/* DARK STEEL */
/* LIGHT GREEN */
/* MEDIUM GREEN */
/* DARK GREEN */
/* LIGHT RED */
/* MEDIUM RED */
/* DARK RED */
/* LIGHT ORANGE */
/* MEDIUM ORANGE */
/* DARK ORANGE */
/* LIGHT CYAN */
/* MEDIUM CYAN */
/* DARK CYAN */
/* COMPLEX STATUS COLORS ---------*/
/* MEDIUM LIGHT GREEN */
/* DARK LIGHT GREEN */
/* LIGHT YELLOW */
/* MEDIUM LIGHT YELLOW */
/* DARK LIGHT YELLOW */
/* MEDIUM YELLOW */
/* DARK YELLOW */
/* MEDIUM LIGHT RED */
/* DARK LIGHT RED */
/* LIGHT BURGUNDY */
/* MEDIUM LIGHT BURGUNDY */
/* DARK LIGHT BURGUNDY */
/* MEDIUM BURGUNDY */
/* DARK BURGUNDY */
/* MEDIUM LIGHT ORANGE */
/* DARK LIGHT ORANGE */
/* MEDIUM LIGHT CYAN */
/* DARK MEDIUM CYAN */
/* DATA VISUALIZATION COLORS ------------------ */
/* BRAND COLORS ------------------ */
/* TYPOGRAPHY ==================================== */
/* FONT FAMILY ------------------ */
/* FONT SIZE ------------------ */
/* ~18px */
/* ~12px */
/* LINE HEIGHT ------------------ */
/* http://stackoverflow.com/questions/19982651/why-does-bootstrap-set-the-line-height-property-to-1-428571429 */
/* 20/14 */
/* RESPONSIVE ==================================== */
/* BREAKPOINTS ------------------ */
/* MAX BREAKPOINTS ------------------ */
/* Define maximum range, useful when doing sm only for example */
/* Z-INDEX SCALE ==================================== */
/* GLOBALS ====================================== */
/* COMPONENTS ==================================== */
.fonticon-chat-alt.with-unread-content {
  position: relative; }
  .fonticon-chat-alt.with-unread-content:after {
    content: " ";
    top: 6px;
    right: 5px;
    width: 10px;
    height: 10px;
    position: absolute;
    background: #e87b00;
    border: 2px solid white;
    border-radius: 50%; }
