<div class="ruleexpression-global-content">
    <!-- top/header action bar -->
    <header class="ruleexpression-header-content">
    </header>
    <!-- expression frame -->
    <section class="ruleexpression-frame">
    </section>
    <!-- language information section -->
    <section class="ruleexpression-language-information">     
    </section>
    <!-- OK / Cancel buttons, probably only this... --> 
    <!-- OK / Cancel may not be needed at this level, but at ruleexpression-content level, by app itself -->
    <footer class="ruleexpression-footer-content displaynone">
    </footer>
</div>
