@import './variables.scss';

.fonticon-chat-alt.with-unread-content {
  position: relative;

  &:after {
    content: " ";
    top: 6px;
    right: 5px;
    width: 10px;
    height: 10px;
    position: absolute;
    background: #e87b00;
    border: 2px solid white;
    border-radius: 50%;
  }
}
