// fade-height transition

.fade-height-enter-to,
.fade-height-leave,
.fade-height-enter-active,
.fade-height-leave-active {
  overflow: hidden;
  transition: all .2s;
  max-height: 100px;
}

.fade-height-enter,
.fade-height-leave-to {
  opacity: 0;
  max-height: 0px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
