.csiegui-save-graph-dialog {
  box-sizing: border-box; }
  .csiegui-save-graph-dialog .sch-dialog-content {
    user-select: none; }
    .csiegui-save-graph-dialog .sch-dialog-content .csiegui-content-title {
      box-sizing: border-box;
      font-weight: bold;
      font-size: medium;
      padding: 10px; }
    .csiegui-save-graph-dialog .sch-dialog-content .wux-controls-button {
      display: flex;
      padding: 10px;
      margin: 10px; }
      .csiegui-save-graph-dialog .sch-dialog-content .wux-controls-button .wux-button-icon-placeholder {
        margin-left: 10px;
        color: #42a2da; }
      .csiegui-save-graph-dialog .sch-dialog-content .wux-controls-button .csiegui-button-content {
        flex-grow: 1;
        padding-left: 20px;
        padding-right: 10px; }
        .csiegui-save-graph-dialog .sch-dialog-content .wux-controls-button .csiegui-button-content div {
          white-space: break-spaces; }
          .csiegui-save-graph-dialog .sch-dialog-content .wux-controls-button .csiegui-button-content div:first-child {
            font-weight: bold;
            font-size: medium; }
          .csiegui-save-graph-dialog .sch-dialog-content .wux-controls-button .csiegui-button-content div:last-child {
            font-style: italic; }

.csiegui-help-link {
  box-sizing: border-box;
  cursor: help; }
