.csiegui-save-record-advanced-dialog .sch-dialog-content {
  display: flex;
  flex-direction: column;
  user-select: none; }
  .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-content-title {
    box-sizing: border-box;
    font-weight: bold;
    font-size: medium;
    padding: 10px; }
  .csiegui-save-record-advanced-dialog .sch-dialog-content .wux-controls-toggle {
    margin-left: 10px; }
  .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-pool-to-select .wux-controls-toggle {
    display: inline-block;
    margin-right: 5px; }
  .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-pool-to-select .wux-controls-lineeditor {
    display: inline-block;
    width: 200px; }
    .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-pool-to-select .wux-controls-lineeditor input {
      width: 100%; }
  .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-expected-status .wux-controls-toggle {
    display: inline-block;
    margin-right: 5px; }
  .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-expected-status .wux-controls-combobox {
    display: inline-block; }
  .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-datagridview-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px 10px; }
    .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-datagridview-container.disabled {
      pointer-events: none;
      opacity: 0.5; }
    .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-datagridview-container > .csiegui-datagridview {
      flex-grow: 1;
      border: 1px solid lightgray; }
    .csiegui-save-record-advanced-dialog .sch-dialog-content .csiegui-datagridview-container > .wux-controls-button {
      margin-top: 5px; }
.csiegui-save-record-advanced-dialog .wux-windows-dialog-footer .wux-windows-dialog-buttons {
  justify-content: space-between;
  flex-direction: row-reverse; }
