.csiegui-save-record-basic-dialog .sch-dialog-content {
  user-select: none; }
  .csiegui-save-record-basic-dialog .sch-dialog-content .csiegui-content-title {
    box-sizing: border-box;
    font-weight: bold;
    font-size: medium;
    padding: 10px; }
  .csiegui-save-record-basic-dialog .sch-dialog-content .wux-controls-toggle {
    margin-left: 10px; }
    .csiegui-save-record-basic-dialog .sch-dialog-content .wux-controls-toggle:first-child {
      margin-top: 10px; }
.csiegui-save-record-basic-dialog .wux-windows-dialog-footer .wux-windows-dialog-buttons {
  justify-content: space-between; }
  .csiegui-save-record-basic-dialog .wux-windows-dialog-footer .wux-windows-dialog-buttons > .wux-controls-button:first-child {
    order: 2; }
  .csiegui-save-record-basic-dialog .wux-windows-dialog-footer .wux-windows-dialog-buttons .csiegui-dialog-footer-custom {
    order: 1; }
