#compareV2-OverviewCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: inherit;
    max-width: 50px;
    height: initial;
}

#compareV2-overview-container {
    width: initial;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 94px;
    bottom: 17px;
    width: 24px;
    overflow: hidden;
}

#compareV2-overview-toplevel {
	overflow: hidden;
}

.currBoxStyle {
    background: lightblue;
    position: absolute;
    z-index: 3;
    opacity: 0.5;
    border: none;
}
