.wux-layouts-datagridview[cell-activation-feedback="cell"] .wux-layouts-datagridview-cell:not([row-header]):not([column-header])[is-active] {
    border: 1px solid transparent;
}

.wux-layouts-datagridview-cell {
	border: 0px !important;
}

#compare-tree-left .wux-scroller {
  overflow: hidden !important;
}

#compare-tree-right .wux-scroller {
  overflow-x: hidden !important;
}

#compare-list-left .wux-scroller {
    overflow: hidden !important;
}

#compare-list-right .wux-scroller {
    overflow-x: hidden !important;
}

.compare_tree_list_view {
    /*position: relative; //Needs to be removed for IHMs TreeContainer to show content. I don't understand why...*/
    flex: 1 0 0;
}
.compare-badge {
	bottom: -2px;
	right: -6px;
}
.compare_tree_list_view .wux-layouts-treeview-icons:empty ~ .wux-layouts-datagridview-tweaker-container {
    font-weight: bold !important;
    font-style: italic !important;
}

.compare_tree_list_view .wux-layouts-treeview-link {
	visibility: hidden;
}

.compare_tree_list_view .wux-layouts-treeview-expander[data-wux-state=noChildren] {
	visibility: hidden !important;
}

.wux-tweakers-color-square {
    margin-right: 3px;
}
