/* @author : qd9 
   @description : css for Cfg Specifications Facet View
*/

div.cfg-spec-facet-view-container, div.configuration-revision-section{
	height:100%;
}

div.edit-context-section, div.configuration-revision-section{
	display:flex; 
	flex-direction:column;
}

div.edit-context-section{
	display:none;
}

div.edit-context-section, div.configuration-revision-section{	
	overflow:auto;
}
/*
div.context-section-label{
	font-weight:bold;
	font-size:12px;
	color: #3d3d3d;
}
div.context-section-label[touch-mode]{
	font-weight:bold;
	font-size:14px;
	color: #3d3d3d
}

div.configuration-revision-section-label{
	font-weight:bold;
	font-size:12px;
	color: #3d3d3d;
}
div.configuration-revision-section-label[touch-mode]{
	font-weight:bold;
	font-size:14px;
	color: #3d3d3d
}
*/
