// Lad'iBug, the CAT3DWeb ladybug

#ladibug-button {
  position: absolute;
  z-index: 1000000000;
  top:  3px;
  left: 3px;
  border: 1px solid gray;
  border-radius: 40px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}

#ladibug-button:hover {
  cursor:pointer;
}

#ladibug-button img {
  width:  40px;
  height: 40px;
}

#ladibug-body {
  position:absolute;
  top:  30px;
  left: 30px;
  z-index:1000000000;
  text-align:left;
  background-color:white;
  outline: 1px solid #77797c;
}

#ladibug-topbar {
  padding:5px;
  background-color:#f1f1f1;
  border-bottom: 1px solid #d1d4d4;
  text-align: center;
  cursor: move;
  z-index:1000000000;
}

#ladibug-topbar img {
  height:25px;
}

.ladibug-title {
  font-weight:bold;
  font-size: 15px;
  padding-left:10px;
}

.ladibug-content {
  overflow:auto;
  font-family:consolas,monaco,"Andale Mono",monospace;
  font-size: 14px;
  width:500px;
  height: 250px;
  z-index:1000000000;
  resize: both;
}

.ladibug-log {
  padding-top:4px;
  border-top: 1px solid #f1f1f1;
  padding-left: 30px;
}

.ladibug-log.error {
  color:red !important;
  background-color: #FFF3F3 !important;
}

.ladibug-log.warn {
  background-color:#ffffe6 !important;
}

.ladibug-log.time {
  color:blue !important;
}

.ladibug-log.image img {
  height:200px;
}
