#DescrContainer{
    margin-top: 5px;
	height: auto;
	width : auto;
}

#Titlecontainer{
	height: auto;
	width:  auto;
}

#commonContentDiv{
	height : 100%;
}

#DescrContainer .wux-controls-editor textarea{
	resize: auto;
}

::-webkit-input-placeholder { 
     color:#D3D3D3;
}
#divheader{
    margin-bottom: 5px;
	margin-top: 5px;
}
#contentDiv {
    margin-bottom: 5px;
	height:100%;
}
.wux-controls-editor textarea{
	height:100%;
	width:100%;
	margin-right : 5px;
}
#divEditor {
	height:calc(100%-20px);
	width:100%;
}

#divEditor .wux-controls-editor {
	height:100%;
	width:100%;
}

