<div class="enox-addAlternate">

{{#if contextLabel}}  <div class="enox-addAlternate-context-text"> </div> {{/if}}

{{#if autocomplete}} <div class="enox-addAlternate-autocomplete"> {{/if}} </div>


{{#if suggestionlink}} <div class="enox-addAlternate-suggestion-link">  </div>{{/if}}
<div class="enox-addAlternate-context-wrapper">
{{#if alternateContextHeader}} <div class="enox-addAlternate-context-header">
  <span class="enox-addAlternate-context-header-label"> </span>
  <span class="enox-addAlternate-context-header-info fonticon fonticon-help "> </span>
{{/if}}
</div>

{{#if alternateContext}} <div class="enox-addAlternate-context">
  <div class="enox-addAlternate-context-selection-all"></div>
  <div class="enox-addAlternate-context-selection-reference"></div>
  <div class="enox-addAlternate-context-selection-instance"></div>
{{/if}}
</div>

</div>
</div>
