@font-face {
  font-family: "eps3dsFont";
  src: url('../assets/3dsRegular.otf') format('truetype'); }

/* Schematics Editor style configuration */
.epsSchematicsEditor {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  z-index: 0; }

/* Schematics Body style configuration */
.epsSchematicsBody {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

.wux-windows-immersive-frame.sch-immersive-frame {
  position: relative;
  width: inherit;
  height: inherit; }

.sch-nodeidselector-paint-mode, .sch-nodeidselector-paint-mode .sch-block .sch-block-container {
  cursor: url('../assets/svg/brush.svg') 0 24, auto; }
