{% extends 'MailTemplate_LayoutV2.html' %}

{% block icone %}
{% endblock %}

{% block content %}
<p>{{ invitation }}</p>
<p>{{ message }}</p>

<h3>{{ activation }}</h3>

<table>
  <tr>
    <td style="vertical-align: top; padding-right: 5px;">1.</td>
    <td>{{ loggin }}
      <ul>
        <li>{{ signin }}</li>
        <li>{{ signup }}</li>
      </ul>
      {{ afterlogin }}
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; padding-right: 5px;">2.</td>
    <td>{{ goto }}
      <ul>
        <li>{{ signin2 }}</li>
        <li>{{ signup2 }}</li>
      </ul>
      {{ yourid }}
    </td>
  </tr>
</table>

<p>{{ guidance }}</p>

{% endblock %}
