.platform-management-toolbar-wrapper {
    position: relative;
}

.platform-management-toolbar-wrapper .widget-toolbar {
    text-align: center;
    position: relative;
    float: right;
}

.platform-management-toolbar-wrapper .widget-toolbar .actions{
    float: left;
    margin-top: 8px;
}

.platform-management-toolbar-wrapper .widget-toolbar .actions-list {
    position: relative !important;
    right: 5px;
    top: 0;
    visibility: visible !important;
}

.platform-management-toolbar-wrapper .platform-chooser.select {
    margin: 0 auto;
    text-align: left;
    margin-top: 10px;
}

.platform-management-toolbar-wrapper .platform-chooser-wrapper {
    float: left;
    min-width: 225px;
    margin-right: 6px;
}


.platform-management-toolbar-wrapper .menu-picture.disabled {
    -ms-filter: "alpha(opacity=10)";
    filter: alpha(opacity=10);
    opacity: .10;
    cursor: default;
}
/*
.platform-management-toolbar-wrapper .menu .menu-picture {
    cursor: pointer;
    font-size: 32px;
    border: 1px solid #ccc;
    line-height: 1em;
    padding: 5px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin: 0.2em;
}*/

@media screen and (max-width: 992px) {
    .platform-management-toolbar-wrapper .platform-chooser.select {
        width: 90%;
    }

    .platform-management-toolbar-wrapper .id-card .actions-list .action{
        margin: 0 4px;
    }

    .platform-management-toolbar-wrapper .widget-toolbar .actions {
        position: relative;
        margin: 20px 0;
        float: right;
    }

    .platform-management-toolbar-wrapper .widget-toolbar {
        width: 100%;
    }

    .platform-management-toolbar-wrapper .platform-chooser-wrapper {
        width: 100%;
    }
}

.platform-management-toolbar-wrapper .loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}


.platform-management-toolbar-wrapper .loading-mask .msg-wrap {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}



.platform-management-toolbar-wrapper .loading-mask .msg-ctn {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

.platform-management-toolbar-wrapper .id-card .fonticon{
    font-size: 1.4em;
}
