/*!  Copyright 2015 Dassault Systemes. All rights reserved. 
.spy-extrema-main {
    border: 0;
}

.spy-extrema-tag {
    position:relative;
    width: 44px;
    height: 44px;
    left: -22px;
    top: -44px;
    border: 0;
    margin: 0;
    padding: 0;
    background-repeat:no-repeat;
    transform: rotateZ(0deg);
}

.spy-extrema-tag[antiConflictFlag=true] {
    top: 0px;
    transform: rotateZ(180deg);
}

.spy-extrema-tag[extremaType=GlobalMax]{
  background-image: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaMaxTag.png);
  background: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaMaxTag.png);
}

.spy-extrema-tag[extremaType=GlobalMin]{
  background-image: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaMinTag.png);
  background: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaMinTag.png);
}

.spy-extrema-tag[extremaType=PartialMax]{
  background-image: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaHiddenMaxTag.png);
  background: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaHiddenMaxTag.png);
}

.spy-extrema-tag[extremaType=PartialMin]{
  background-image: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaHiddenMinTag.png);
  background: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaHiddenMinTag.png);
}

.spy-extrema-tag-expandedOffset[antiConflictFlag=false] {
    top:-76px;
}
.spy-extrema-tag-expandedOffset[antiConflictFlag=true] {
    top:-32px;
}

.spy-extrema-extd-area {
  position:relative;
  left: -4px;
  top: -42px;
}

.spy-extrema-extd-area[antiConflictFlag=true] {
  top: 10px;
}

.spy-extrema-extd-area-box {
    width: inherit;
    height: 32px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.spy-extrema-extd-area-box[extremaType$="Max"] {

    background:
        radial-gradient(0% 16px, circle, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 15px, rgba(255,100,100,0.6) 17px);
    background:
        -moz-radial-gradient(0% 16px, circle, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 15px, rgba(255,100,100,0.6) 17px);
    background:
        -o-radial-gradient(0% 16px, circle, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 15px, rgba(255,100,100,0.6) 17px);
    background:
        -webkit-radial-gradient(0% 16px, circle, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 15px, rgba(255,100,100,0.6) 17px);

}

.spy-extrema-extd-area-box[extremaType$="Min"] {

    background:
        radial-gradient(0% 16px, circle, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 15px, rgba(100,100,255,0.6) 17px);
    background:
        -moz-radial-gradient(0% 16px, circle, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 15px, rgba(100,100,255,0.6) 17px);
    background:
        -o-radial-gradient(0% 16px, circle, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 15px, rgba(100,100,255,0.6) 17px);
    background:
        -webkit-radial-gradient(0% 16px, circle, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 15px, rgba(100,100,255,0.6) 17px);

}

.spy-extrema-extd-area-content {
    margin-left: 25px;
    margin-right: 5px;
}

.spy-extrema-extd-area-value {
    font-size: 130%;
    font-weight: bold;
    color: black;
    display:inline-block;
    margin-top: 3px;
}

.spy-extrema-extd-area-reframe {
    width: 30px;
    height: 30px;
    float: right;
    background-image: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaReframe.png);
}

.spy-extrema-extd-area-restore {
    width: 30px;
    height: 30px;
    float: right;
    background-image: url(../SPYUI/assets/icons/extrema/I_SimNavExtremaUndo.png);
    display: none; 
}
*/