.sch-graph-container .sch-graph-border-rect {
  stroke: #d1d4d4;
  stroke-width: 5px;
  fill: white; }
.sch-graph-container .sch-graph-border-mask {
  stroke-width: 10px;
  stroke: red;
  stroke-opacity: 0; }
  .sch-graph-container .sch-graph-border-mask.sch-graph-border-mask-top {
    cursor: n-resize; }
  .sch-graph-container .sch-graph-border-mask.sch-graph-border-mask-bottom {
    cursor: s-resize; }
  .sch-graph-container .sch-graph-border-mask.sch-graph-border-mask-left {
    cursor: w-resize; }
  .sch-graph-container .sch-graph-border-mask.sch-graph-border-mask-right {
    cursor: e-resize; }
.sch-graph-container .sch-graph-corner-mask {
  fill: red;
  fill-opacity: 0; }
  .sch-graph-container .sch-graph-corner-mask.sch-graph-corner-mask-nw {
    cursor: nw-resize; }
  .sch-graph-container .sch-graph-corner-mask.sch-graph-corner-mask-ne {
    cursor: ne-resize; }
  .sch-graph-container .sch-graph-corner-mask.sch-graph-corner-mask-sw {
    cursor: sw-resize; }
  .sch-graph-container .sch-graph-corner-mask.sch-graph-corner-mask-se {
    cursor: se-resize; }
.sch-graph-container .sch-graph-grid {
  stroke: #d1d4d4;
  stroke-width: 0.3px; }
  .sch-graph-container .sch-graph-grid .sch-graph-grid-step {
    stroke-width: 0.5px; }
.sch-graph-container .sch-graph-background-text {
  font-family: "eps3dsFont", Arial, sans-serif;
  fill: whitesmoke; }
  .sch-graph-container .sch-graph-background-text .sch-graph-background-subname {
    font-size: 5px; }
