<div class="f-attribute-container {{stateClass}}">
  <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>

  <div class="attributeCriterion-edit">
    <div class="criterionHeader">
        <span class="criteriaIcon"></span>
        <span >{{titleClass}}</span>
    </div>
    <div class="attr-edit-inputs {{touchMode}}">
    </div>
    <div class="attr-edit-inputs-allAttributes">
    </div>
    <div class="attr-edit-actions">
    </div>
  </div>

  <div class="attributeCriterion-read">
      <span class="attrRead"></span>
      <ul class="attrRead-multi-attr">
      </ul>
  </div>

</div>
