<div class="f-context-container {{stateClass}}">
  <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>


  <div class="contextCriterion-edit">

    <div class="criterionHeader">
        <span class="criteriaIcon"><img src={{iconHeader}}></span>
        <span >{{titleClass}}</span>
    </div>

  	<div class="selected-nodes">
      <div class="nodesAddDisplay">
        <div class="selectablesDivCSS">
          <span class="nodesAddedList nodes-color"></span>
        </div>
      </div>

      <div class="nodesExcludeDisplay">
        <div class="selectablesDivCSS">
          <span class="nodesExcludedList nodes-color"></span>
        </div>
      </div>

      <div class="contextCriterion-edit-action">
        <div class="buttonToCancel buttonDivCSS"></div>
        <div class="buttonToValidate buttonDivCSS"></div>
      </div>

      <div class="contextCriterion-edit-maxPath" id="MaxPathContainer">
        <span class="contextCriterion-edit-maxPath-msg">{{maxPath}}</span>
      </div>
    </div>
  </div>


  <div class="contextCriterion-read">
    <img class="contextReadIcon" src={{iconHeader}}>
    <span class="contextRead"></span>
  </div>

</div>
