<!-- 'no-w' => To have the same 'ActiveCriteria' style as Tagger and Adv-Search ( see: asi11 ) -->
<div id="NGF_{{filterId}}" class="f-globalFilter-container {{containerHeightClass}} no-w">
  <div class="filter-Commands">
    <span class="fonticon fonticon-close" id="filter-cmd-close" title="{{closeFilterPanel}}"></span>
    {{#if otherCmds}}
    <span class="fonticon fonticon-logo-android" id="filter-extra-commands" title="Filter extra commands"></span>
    {{/if}}

    <div class="global-filter-commands" id="global-filter-cmds" style="display: none;">
    </div>
  </div>

  <div class="globalEdit-container" id="globalEditContainer_{{filterId}}" style="display: none;">
  </div>

  <div class="ActiveCriteria-container" id="FilterActiveCriteria_{{filterId}}" style="display: none;">
  </div>
  <div class="globalFilterView-container" style="display: none;">
  </div>

  <div class="welcomepage-container" id="WelcomePageFilter_{{filterId}}">
  </div>
</div>
