<div class="f-global-container">
  <div class="global-header">
    <div class="global-header-name-edit">
      <span class="global-header-filtername"></span>
    </div>

    <div class="global-header-idcard" style="display: none;" draggable="true">
    </div>
  </div>

  <div class="global-filter-groups">
    <div class="filter-groups" id="filter-groups">
      <div class="addSpecificationButtons">
      </div>
    </div>
    <div class="keepAttributeChildren" id="keepAttributeChildren" style="display: none;">
      <span>{{attributeChildrenHiddenLabel}}</span>
    </div>
    <div class="filter-groups-cmd" id="filter-groups-cmd">
    </div>
  </div>
</div>

<div class="clearfixFilter">
  <div class="global-footer">
  </div>
</div>
