<div id="{{groupId}}" class="f-group-container {{stateClass}} {{subGroup}}">

  {{#if subGroup}}
  <div class="headerSequence">
    <div class="group-header2">
      <div class="filter-name-icon2">
        <img src={{iconHeader}}>
        <span class="group-name">{{groupName}}</span>
      </div>
    </div>
    <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown" title=""></span>
  </div>

  <div class="Sequence-edit">
    <ul class="subGroup-edit-criterion">
    </ul>
    <div class="subGroup-edit-actions">
    </div>
  </div>

  <div class="Sequence-read">
    <ol class="subGroup-read-criterion">
    </ol>
  </div>

  {{else}}
  <ul class="tree-v2">
    <div class="filter-applies">
      <span>{{filterAppliesTo}}</span>
    </div>

    <li class="criterionButtonLi"></li>
  </ul>
  {{/if}}

</div>
