<div class="f-volume-container {{stateClass}}">
  <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>

  <div class="volumeCriterion-edit attributeCriterion-edit">
    <div class="criterionHeader">
        <span class="criteriaIcon"></span>
        <span >{{titleClass}}</span>
    </div>
    <div class="attr-edit-inputs {{touchMode}}">
    </div>
    <div class="attr-edit-inputs-allAttributes">
    </div>
    <div class="attr-edit-actions {{touchMode}}">
    </div>
  </div>

  <div class="volumeCriterion-read">
      <span class="volumeRead"></span>
      <ul class="volumeRead-multi-attr">
      </ul>
  </div>

</div>
