<div class="f-welcomepage-container">
  <!-- <div class="filter-applies" id="WelcomePageNGF-Header">
    <span class="filter-applies">{{filterAppliesTo}}</span>
    <span class="filter-applies filter-applies-root">{{rootAlias}}</span>
  </div> -->

  <div id="WelcomePageNGF-RetrieveFilter">
    <span class="welcomepage-action-header">{{filterOnRoot}}</span>
    <div class="welcomepage-action-container">
    </div>
  </div>

  <div id="WelcomePageNGF-NewFilter">
    <span class="welcomepage-action-header">{{newFilter}}</span>
    <div class="welcomepage-action-container">
    </div>
  </div>

  <div id="WelcomePageNGF-NewFilterFromExisting">
    <span class="welcomepage-action-header">{{newFilterFromExisting}}</span>
    <div class="welcomepage-action-container">
    </div>
  </div>
</div>
