#isDeployed{
  color: green;
}

.wux-ui-3ds-check
{
  color: green;
}

.wux-ui-3ds-close
{
  color: red;
}

.wux-ui-3ds-cog
{
  color: orange;
}

.wux-ui-3ds-pencil
{
  color: black;
}

.wux-ui-3ds-trash
{
  color: black;
}
