<div class="tuto-container tuto-container-{{id}}">
    <div class="tuto-overlay"></div>
    <div class="tuto-arrow"></div>
    <div class="tuto-bubble-container"></div>
    <div class="tuto-highlight tuto-scenario"></div>
    <div class="tuto-menu">
        <span class="fonticon fonticon-comment tuto-menu-item tuto-comment"></span>
        <span class="fonticon fonticon-close tuto-menu-item tuto-close"></span>
    </div>
    <div class="tuto-menu tuto-editable">
        <span class="fonticon fonticon-floppy tuto-menu-item tuto-save"></span>
        <span class="fonticon fonticon-close tuto-menu-item tuto-close"></span>
    </div>
</div>
