.reference-tile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #d1d4d4;
  cursor: pointer;
  /** Common style */
  /** Item 'isSelected' checkbox */
  /** Quantity section */
  /** Small expander visible when expanded */
  /** Thumbnail section */
  /** Primary informations (reference name and state) */
  /** Item attributes */
  /** Dropdown menu */ }
  .reference-tile-view .reference-tile-view-checkbox-container, .reference-tile-view .reference-tile-view-quantity, .reference-tile-view .reference-tile-view-thumbnail, .reference-tile-view .reference-tile-view-primary-informations, .reference-tile-view .reference-tile-view-attributes, .reference-tile-view .reference-tile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top; }
  .reference-tile-view .reference-tile-view-checkbox-container {
    width: 25px;
    padding-top: 5px;
    padding-left: 12px; }
  .reference-tile-view .reference-tile-view-quantity {
    width: 3%;
    cursor: pointer; }
    .reference-tile-view .reference-tile-view-quantity .reference-tile-view-quantity-label, .reference-tile-view .reference-tile-view-quantity .reference-tile-view-expander {
      width: 36%;
      display: inline-block;
      vertical-align: top; }
    .reference-tile-view .reference-tile-view-quantity .reference-tile-view-quantity-label {
      font-weight: 700;
      text-align: center; }
  .reference-tile-view .reference-tile-view-expander {
    position: relative; }
  .reference-tile-view .reference-tile-view-expander-lower-section {
    height: 33%;
    left: 36%;
    bottom: 0;
    position: absolute;
    border-left: solid 3px #77797c;
    display: none; }
  .reference-tile-view.expanded .reference-tile-view-expander-lower-section {
    display: block; }
  .reference-tile-view .reference-tile-view-thumbnail {
    width: 4%;
    height: 100%;
    text-align: center; }
  .reference-tile-view .reference-tile-view-thumbnail-icon {
    width: 100%; }
  .reference-tile-view .reference-tile-view-primary-informations {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3;
    overflow: hidden;
    white-space: nowrap; }
  .reference-tile-view .reference-tile-view-reference-name, .reference-tile-view .reference-tile-view-reference-state {
    height: 45%;
    width: 100%; }
  .reference-tile-view .reference-tile-view-reference-state, .reference-tile-view .reference-tile-view-attribute {
    display: flex; }
  .reference-tile-view .reference-tile-view-reference-name {
    font-weight: 700; }
  .reference-tile-view .reference-tile-view-attributes {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3; }
    .reference-tile-view .reference-tile-view-attributes .reference-tile-view-attributes-column {
      height: 100%;
      width: 33%;
      display: inline-block;
      vertical-align: top; }
    .reference-tile-view .reference-tile-view-attributes .reference-tile-view-attribute {
      height: 45%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .reference-tile-view .reference-tile-view-attributes .reference-tile-view-attribute-name, .reference-tile-view .reference-tile-view-attributes .reference-tile-view-attribute-value {
      display: inline-block;
      vertical-align: top; }
    .reference-tile-view .reference-tile-view-attributes .reference-tile-view-attribute-name {
      color: #d1d4d4; }
  .reference-tile-view .reference-tile-view-dropdown-menu {
    width: 2%;
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4;
    float: right;
    margin-right: 5px; }
  .reference-tile-view .clickable {
    color: #368EC4;
    cursor: pointer; }

/** Responsiveness */
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .reference-tile-view-primary-informations {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .reference-tile-view-attributes {
  width: 67%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .reference-tile-view-attributes-column {
  width: 33%; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-tile-view-primary-informations {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-tile-view-attributes {
  width: 62%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-tile-view-attributes-column {
  width: 48%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-tile-view-primary-informations {
  width: 35%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-tile-view-attributes {
  width: 48%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-tile-view-attributes-column {
  width: 100%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-tile-view-attributes-column[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-tile-view-primary-informations {
  width: 75%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-tile-view-attributes {
  width: 0%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-tile-view-attributes-column {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel.nothumbnail .reference-tile-view-thumbnail {
  visibility: hidden !important; }
