.reference-subtile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #d1d4d4;
  background: #f9f9f9;
  /** Common style */
  /** Item 'isSelected' checkbox */
  /** Expander */
  /** Primary informations (reference name and effectivity) */
  /*.reference-subtile-view-primary-informations {
        height: 100%;
        width: 91%;
        color: #77797c;
        text-align: left;
        line-height: 2.3;
    }

    .reference-subtile-view-name,
    .reference-subtile-view-effectivity {
        height: 45%;
        width: 100%;
    }

    .reference-subtile-view-name {
        font-weight: 700;
    }*/
  /** Dropdown menu */
  /*.reference-subtile-view-dropdown-menu {
        width: 2%;
        font-size: 1.5em;
        cursor: pointer;
        color: #d1d4d4;
    
    }
   
   	/** Thumbnail section */
  /** Primary informations (reference name and state) */
  /** Item attributes */
  /** Dropdown menu */ }
  .reference-subtile-view .reference-subtile-view-checkbox-container, .reference-subtile-view .reference-subtile-view-thumbnail, .reference-subtile-view .reference-subtile-view-primary-informations, .reference-subtile-view .reference-subtile-view-attributes, .reference-subtile-view .reference-subtile-view-expander, .reference-subtile-view .reference-subtile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top; }
  .reference-subtile-view .reference-subtile-view-checkbox-container {
    width: 25px;
    padding-top: 5px;
    padding-left: 12px; }
  .reference-subtile-view .reference-subtile-view-expander {
    width: 3%;
    height: 100%; }
    .reference-subtile-view .reference-subtile-view-expander .reference-subtile-view-expander-upper-section, .reference-subtile-view .reference-subtile-view-expander .reference-subtile-view-expander-lower-section {
      height: 50%;
      left: 48%;
      position: relative;
      border-left: solid 3px #77797c; }
    .reference-subtile-view .reference-subtile-view-expander .reference-subtile-view-expander-upper-section {
      width: 40%;
      border-bottom: solid 3px #77797c; }
  .reference-subtile-view.last-subtile .reference-subtile-view-expander .reference-subtile-view-expander-lower-section {
    display: none; }
  .reference-subtile-view .reference-subtile-view-thumbnail {
    width: 4%;
    height: 100%;
    text-align: center; }
  .reference-subtile-view .reference-subtile-view-thumbnail-icon {
    width: 100%; }
  .reference-subtile-view .reference-subtile-view-primary-informations {
    height: 100%;
    width: 20%;
    color: #77797c;
    text-align: left;
    line-height: 2.3;
    overflow: hidden;
    white-space: nowrap; }
  .reference-subtile-view .reference-subtile-view-reference-name, .reference-subtile-view .reference-subtile-view-reference-state {
    height: 45%;
    width: 100%; }
  .reference-subtile-view .reference-subtile-view-reference-state, .reference-subtile-view .reference-subtile-view-attribute {
    display: flex; }
  .reference-subtile-view .reference-subtile-view-reference-name {
    font-weight: 700; }
  .reference-subtile-view .reference-subtile-view-attributes {
    height: 100%;
    width: 67%;
    color: #77797c;
    text-align: left;
    line-height: 2.3; }
    .reference-subtile-view .reference-subtile-view-attributes .reference-subtile-view-attributes-column {
      height: 100%;
      width: 33%;
      display: inline-block;
      vertical-align: top; }
    .reference-subtile-view .reference-subtile-view-attributes .reference-subtile-view-attribute {
      height: 45%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .reference-subtile-view .reference-subtile-view-attributes .reference-subtile-view-attribute-name, .reference-subtile-view .reference-subtile-view-attributes .reference-subtile-view-attribute-value {
      display: inline-block;
      vertical-align: top; }
    .reference-subtile-view .reference-subtile-view-attributes .reference-subtile-view-attribute-name {
      color: #d1d4d4; }
  .reference-subtile-view .reference-subtile-view-dropdown-menu {
    width: 2%;
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4;
    float: right;
    margin-right: 5px; }
  .reference-subtile-view .clickable {
    color: #368EC4;
    cursor: pointer; }
