@CHARSET "ISO-8859-1";

#CACMDConfirmIcon:hover{
	color: black !important;
	cursor: pointer !important;
	font-weight: bold !important;
}

#CACMDSearchIcon:hover{
	color: black !important;
	cursor: pointer !important;
	font-weight: bold !important;
}
