/* @author : qd9 
   @description : css for Effectivity View UX
*/

div.no-eff-section, div.no-variant-eff-section, div.no-evolution-eff-section{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
div.cfg-eff-view, div.main-view-page{
	height:100%;
}

div.cfg-eff-view, div.main-view-page, div.evolution-section, div.variant-section{
	display:flex; 
	flex-direction:column;
}
div.evolution-section .CfgEditor{
	border: none;
    box-shadow : none;
    padding: 0px;
}
div.cfg-eff-view div.expander-section{
	overflow:auto;
}

/* Responsive css for model-ux-switch-section */
div.model-ux-switch-section{
	display:flex; 
	justify-content:flex-end; 
	align-items: center;
}
div.model-ux-switch-section[mobile-device]{
	display: flex;
    flex-direction: column-reverse;   
}

/* Responsive css for model-section */
div.model-section{
	flex:1;
	display:flex; 
	justify-content:flex-start; 
	align-items: center;
}
div.model-section[mobile-device]{
	flex:1;
	display:flex; 
	justify-content:flex-start; 
	align-items: center;
	align-self:flex-start;
}

/* Responsive css for ux-switch-section (Consolidated view)*/
div.ux-switch-section{
}
div.ux-switch-section[mobile-device]{
	align-self:flex-end;
}

/* Consolidated view styling for models in expression*/
div.model-consolidated-section{
	border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
	display:flex; 
	flex-direction:column;
}
div.last-model-consolidated-section{	
    padding: 5px 0px 0px 0px;
	display:flex; 
	flex-direction:column;
}

div.evolution-toolbar{
	display:flex; 
	justify-content:flex-end; 
	align-items: center;
}

/* disable click on CA icon */
div.evolution-toolbar div.evolution-ca-info-icon span.wux-ui-3ds-change{
	pointer-events:none;
	color:#368ec4;
	
}

/* Touch mode settings */
div.section-out-filler{
	margin-top:10px;
}
div.section-out-filler[touch-mode]{
	margin-top:20px;
}
div.section-in-filler{
	margin-top:5px;
}
div.section-in-filler[touch-mode]{
	margin-top:10px;
}
div.in-x-filler{	
	margin-left:10px;
}
div.in-x-filler[touch-mode]{	 
	margin-left:20px;
}
div.section-label{
	font-weight:bold;
	font-size:12px;
	color: #3d3d3d;
}
div.section-label[touch-mode]{
	font-weight:bold;
	font-size:14px;
	color: #3d3d3d
}
div.expression-text{
	font-weight:normal;
	font-size:12px;
}
div.expression-text[touch-mode]{
	font-weight:normal;
	font-size:14px;
}
div.no-eff-msg{
	font-weight:normal;
	font-size:12px;
	font-style:italic;
}
div.no-eff-msg[touch-mode]{
	font-weight:normal;
	font-size:14px;
	font-style:italic;
}
div.cfg-eff-view div.model-label{
	color: #3d3d3d;
	font-weight:bold;
	font-size:12px;
}
div.cfg-eff-view div.model-label[touch-mode]{
	color:#3d3d3d;
	font-weight:bold;
	font-size:14px;
} 	

