.sch-splitted-panel .sch-panel-content .sch-panel-topcontainer {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
.sch-splitted-panel .sch-panel-content .wux-windows-docking-element-resize-handler.wux-docking-element-top:hover {
  background-color: rgba(49, 175, 255, 0.5); }
.sch-splitted-panel .sch-panel-content .sch-panel-bottomcontainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 4px);
  margin-top: 4px;
  background: white;
  border: 1px solid #d1d4d4;
  border-top: 4px solid #368ec4;
  border-radius: 4px 4px 0px 0px; }
