.sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px; }
  .sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-controls-container > .wux-controls-button {
    margin-bottom: 10px; }
  .sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-controls-container > .wux-controls-find {
    box-sizing: border-box;
    width: 100%; }
    .sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-controls-container > .wux-controls-find .wux-controls-find-container {
      border-radius: 5px;
      height: 24px; }
      .sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-controls-container > .wux-controls-find .wux-controls-find-container .wux-controls-find-editor {
        height: 100%; }
        .sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-controls-container > .wux-controls-find .wux-controls-find-container .wux-controls-find-editor::before {
          content: "\f002";
          font-family: "FontAwesome";
          color: #b4b6ba;
          position: absolute;
          margin-left: 4px;
          top: -1px; }
        .sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-controls-container > .wux-controls-find .wux-controls-find-container .wux-controls-find-editor > input {
          position: absolute;
          background: transparent;
          padding-left: 18px !important; }
        .sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-controls-container > .wux-controls-find .wux-controls-find-container .wux-controls-find-editor .wux-controls-lineeditor-clearbutton {
          right: 6px;
          margin: 0px; }
.sch-typelibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-dgv-container {
  border: 1px solid #d1d4d4;
  border-top: 4px solid #368ec4;
  border-radius: 4px 4px 0px 0px;
  box-sizing: border-box;
  flex-grow: 1; }
.sch-typelibrary-panel .sch-panel-content .sch-panel-bottomcontainer .sch-bottom-header {
  box-sizing: border-box;
  background-color: #f1f1f1;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #77797c;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  padding-left: 15px; }
.sch-typelibrary-panel .sch-panel-content .sch-panel-bottomcontainer .sch-bottom-content {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
  .sch-typelibrary-panel .sch-panel-content .sch-panel-bottomcontainer .sch-bottom-content .sch-bottom-topcontent {
    box-sizing: border-box;
    display: flex;
    padding: 10px; }
    .sch-typelibrary-panel .sch-panel-content .sch-panel-bottomcontainer .sch-bottom-content .sch-bottom-topcontent .sch-type-title {
      box-sizing: border-box;
      color: #3d3d3d;
      flex-grow: 1;
      word-break: break-all;
      white-space: normal;
      font-size: 2em;
      font-weight: bold; }
    .sch-typelibrary-panel .sch-panel-content .sch-panel-bottomcontainer .sch-bottom-content .sch-bottom-topcontent .sch-panel-button-container {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 30px; }
      .sch-typelibrary-panel .sch-panel-content .sch-panel-bottomcontainer .sch-bottom-content .sch-bottom-topcontent .sch-panel-button-container .wux-controls-button {
        margin-left: 5px; }
  .sch-typelibrary-panel .sch-panel-content .sch-panel-bottomcontainer .sch-bottom-content .sch-bottom-bottomcontent {
    box-sizing: border-box;
    flex-grow: 1; }
