.sch-play-panel {
  box-sizing: border-box; }
  .sch-play-panel .sch-panel-content {
    box-sizing: border-box;
    padding: 5px; }
    .sch-play-panel .sch-panel-content .wux-controls-button {
      margin-bottom: 5px; }
      .sch-play-panel .sch-panel-content .wux-controls-button:not(:last-child) {
        margin-right: 5px; }
    .sch-play-panel .sch-panel-content .wux-controls-expander-container {
      border-top: 1px solid;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
