.sch-panel {
  box-sizing: border-box; }
  .sch-panel .wux-window-icon-placeholder {
    color: #b4b6ba; }
  .sch-panel .sch-panel-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%; }

.sch-immersive-frame .wux-windows-windowgroup .wux-windows-window-titlebar .wux-controls-tabbar-panel .wux-button-icon-placeholder {
  color: #b4b6ba; }
  .sch-immersive-frame .wux-windows-windowgroup .wux-windows-window-titlebar .wux-controls-tabbar-panel .wux-button-icon-placeholder .wux-button-icon-fi {
    line-height: 16px; }
.sch-immersive-frame .wux-windows-windowgroup .wux-windows-window-titlebar .wux-controls-tabbar-panel[checked] .wux-button-icon-placeholder {
  color: #368ec4; }
