.sch-nodeidselector-panel {
  box-sizing: border-box; }
  .sch-nodeidselector-panel .sch-panel-content {
    display: flex;
    flex-direction: column; }
    .sch-nodeidselector-panel .sch-panel-content > .sch-panel-top {
      flex-grow: 0;
      padding: 10px;
      text-align: center; }
    .sch-nodeidselector-panel .sch-panel-content > .sch-panel-bottom {
      flex-grow: 1; }
    .sch-nodeidselector-panel .sch-panel-content .epsSchematicsTreeListView {
      border: 1px solid #d1d4d4;
      border-top: 4px solid #368ec4;
      border-radius: 4px 4px 0px 0px; }
      .sch-nodeidselector-panel .sch-panel-content .epsSchematicsTreeListView .wux-datagrid-cell[data-index="color"] {
        text-align: center; }
        .sch-nodeidselector-panel .sch-panel-content .epsSchematicsTreeListView .wux-datagrid-cell[data-index="color"] .wux-controls-colorpicker-button {
          vertical-align: middle; }
      .sch-nodeidselector-panel .sch-panel-content .epsSchematicsTreeListView .wux-datagrid-cell[data-index="apply"] {
        text-align: center; }
        .sch-nodeidselector-panel .sch-panel-content .epsSchematicsTreeListView .wux-datagrid-cell[data-index="apply"] .wux-controls-button {
          padding: 0px;
          min-width: 22px;
          width: 22px; }
