.sch-blocklibrary-panel {
  box-sizing: border-box; }
  .sch-blocklibrary-panel .sch-panel-content {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer > .wux-controls-lineeditor {
      margin-bottom: 5px;
      width: 100%; }
      .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer > .wux-controls-lineeditor > input {
        width: 100%;
        padding-left: 20px; }
      .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer > .wux-controls-lineeditor::before {
        content: "\f002";
        font-family: "FontAwesome";
        color: #b4b6ba;
        position: absolute;
        margin-left: 4px;
        top: 6px; }
    .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer > .wux-controls-combobox {
      margin-bottom: 5px;
      width: 100%; }
    .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-advanced-search-container {
      margin-bottom: 5px; }
      .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-advanced-search-container .wux-controls-expander-header {
        height: 20px; }
      .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-advanced-search-container .wux-controls-buttongroup.wux-controls-abstract:not(:last-child) {
        margin-bottom: 5px; }
      .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-advanced-search-container .wux-controls-buttongroup.wux-controls-abstract {
        text-align: center; }
      .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-advanced-search-container .wux-controls-checkbox {
        display: inline-block; }
        .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-advanced-search-container .wux-controls-checkbox:first-child {
          margin-right: 20px; }
    .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-dgv-container {
      box-sizing: border-box;
      border: 1px solid #d1d4d4;
      border-top: 4px solid #368ec4;
      border-radius: 4px 4px 0px 0px;
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-dgv-container > .wux-controls-tabBar {
        box-sizing: border-box;
        width: 100%;
        height: 25px; }
        .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-dgv-container > .wux-controls-tabBar .wux-controls-tabBar-tabs-container {
          width: 100%; }
          .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-dgv-container > .wux-controls-tabBar .wux-controls-tabBar-tabs-container .wux-controls-buttongroup {
            display: flex;
            flex-direction: row; }
            .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-dgv-container > .wux-controls-tabBar .wux-controls-tabBar-tabs-container .wux-controls-buttongroup .wux-controls-button {
              flex-grow: 1;
              max-width: none; }
              .sch-blocklibrary-panel .sch-panel-content .sch-panel-topcontainer .sch-panel-dgv-container > .wux-controls-tabBar .wux-controls-tabBar-tabs-container .wux-controls-buttongroup .wux-controls-button .wux-button-icon-placeholder {
                display: flex;
                align-items: center; }

.sch-dgv-dnd-block {
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  top: -200px;
  left: -200px;
  min-width: 100px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #d1d4d4;
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "eps3dsFont", Arial, sans-serif;
  color: #3d3d3d;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  align-self: center;
  white-space: nowrap; }
