.sch-debugconsole-panel .sch-panel-content {
  display: flex;
  flex-direction: column; }
  .sch-debugconsole-panel .sch-panel-content .sch-toolbar {
    flex-grow: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 5px;
    padding-bottom: 5px; }
    .sch-debugconsole-panel .sch-panel-content .sch-toolbar .wux-controls-button {
      margin-right: 5px;
      min-width: 0px; }
  .sch-debugconsole-panel .sch-panel-content .sch-datagridview-container {
    position: relative;
    flex-grow: 1; }
