html {
    height: 100%;
}
body {
    /*min-height: 350px; IR-550478-3DEXPERIENCER2017x */
    height: 100%;
}
#canvas-div {
    height: 100%;
}
#eventNotifier {
    height:3px;
    background-color: #004971;
}
#msgContainer{
    position:absolute;
    z-index:150000;
    width:100%;
}
#icon-div {
    height: 100%;
    text-align: center;
    overflow: hidden;
    width:100%;   /* IR-313222-3DEXPERIENCER2014x  */
    position: relative;

}
.userMsg {
    margin: 8px;
    font-size: 1.3em;
    font-family:'3ds';
    font-weight: normal;

}
.SHAREPluginless_background {
    background-color:#4C79A2;
    background-repeat:no-repeat;
    background-position:center center;
    text-align:center;
    overflow:hidden;
    margin:0;
    width:100%;
    height:100%;
    z-index: 100;
    display:table; /* To center the background img */
}
.IOSThumbnail_background {

    background-repeat:no-repeat;
    background-position:center center;
    text-align:center;
    overflow:hidden;
    margin:0;
    width:100%;
    height:100%;
    z-index: 100;
    display:table; /* To center the background img */
  }

.drag_over_class {

    border-style: dashed;
    border-color: #368ec4;
    border-width: 2px;
    padding: 0;
}

.blue_background_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
    margin: 2px;
    z-index: 100000;
}

.background_container_display {
    background-color:	#DEEBF2;
    opacity:0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.drop_container_display {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    z-index: 101;
    background-image: url('../../3DPlayWidgetViews/assets/images/Drag_and_drop_blue-03.png');
}

.drop_invite_txt {
    color: #358DC4;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent !important;
}

.drop_container_txt {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top:50%;
    margin-top: 10%;
}

.font-3dsregular {
    font-family: '3ds';
    font-weight: normal;
}

.pad_invite_container {
    z-index: 2149483647;
    width: 100px;
    height: 100px;
    background: white;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #5b5d5e;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    pointer-events: none
}

.pad_invite_container .pad_invite_display {
    height: inherit;
    position: absolute;
    text-align: center;
    color: #5b5d5e;
    left: 0;
    right: 0;
    margin: auto
}
