	.rollover {
		width: 100%;
		padding:4px 16px 4px 6px;
		font: 8pt verdana, arial, helvetica, tahoma;
		color: black;
		border-top: 1px solid white;
		border-right: 1px solid #939393;
		border-bottom: 1px solid #939393;
		border-left: 1px solid white;
		background-color: #dadada;
		text-decoration: none;
		white-space: nowrap;
		margin: 1px;
        cursor:pointer;
		}
		
	.rolloverhover {	
		color: black;
		background-color: #c6c6c6;
		}
		
	.rolloveractive {
		color: black;
		background-color: #d4d4d4;
		border-top: 1px solid #939393;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		border-left: 1px solid #939393;
		}
