/* ====================================================================
// Portal Stylesheet
// Platform: Windows
// by Nicholas C. Zakas
// ==================================================================== */

/* --------------------------------------------------------------------
// Default Settings 
// -------------------------------------------------------------------- */

/* Table Header Appearance */
th { text-align: left; color: white; background-color: #336699; }

/* --------------------------------------------------------------------
// List Settings 
// -------------------------------------------------------------------- */

/* Table Row Appearances */
tr.even { background-color: #eeeeee; }
tr.odd { background-color: #FFFFFF}

/* --------------------------------------------------------------------
// Channel Settings 
// -------------------------------------------------------------------- */

/* Outermost Channel Table */
table.channel { background-color: #003366 }

/* Header for Main (large) Channels */
table.mainhead { background-color: #DDDECB; }
table.mainhead tr td { background-color: #DDDECB; color: #000000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}

/* Header for Side (small) Channels */
table.channel tr td table.sidehead { background-color: #003366 }
table.channel tr td table.sidehead tr td { color: #FFFFFF; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
