/* ====================================================================
// Discussion Stylesheet
// by Nicholas C. Zakas
// ==================================================================== */

/* --------------------------------------------------------------------
// Default Settings 
// -------------------------------------------------------------------- */

/* Background Appearance */
body { background-color: white; }

/* Font Appearance ---------------------------------------------------- */
body, th, td, p { font-family: verdana, helvetica, arial, sans-serif; font-size: 8pt; }

/* Default Links Appearance */
a { color: #003366; }
a:hover { }

/* --------------------------------------------------------------------
// Discussion Settings 
// -------------------------------------------------------------------- */

/* Author Appearance */
span.author { font-style: italic; }

/* Date Appearance */
span.date { font-style: italic; }

/* Subject Appearance */
span.subject { /* font-weight: bold; */ }

/* Message Appearance */
span.message { }

.messageType {padding-left: 0;}

/* Reply Background Appearance */
table.reply { background-color: #EFF0E3; }

/*
below CSS lines are added for flat and threaded view feature
*/

div { font-family: Arial, sans-serif; font-size: 14px; padding: 6px 6px 6px 14px;}

div.messagetype { background-color: #ffffee; color: black; display: inline;border-top:solid 1px white; border-left: solid 1px white; border-right: solid 1px black; border-bottom: solid 1px #ffffee; font-weight: normal; position: absolute; padding: 2px; right: 50px; align: top; } 

div.message { background-color:white; color:black; } 

div.privatemessage { background-color:#ffffee; color:black; } 

div.messageheader { background-color: #dae6ec; color: white; font-weight: bold; }

div.privatemessageheader { background-color: #dae6ec; color: black; font-weight: bold; }
