.sch-blocklibrary-doc-container {
  box-sizing: border-box;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column; }
  .sch-blocklibrary-doc-container .sch-doc-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #77797c;
    height: 26px;
    background-color: #f1f1f1;
    flex-shrink: 0; }
    .sch-blocklibrary-doc-container .sch-doc-header > h5 {
      margin: 0px;
      font-family: Arial;
      font-weight: bold;
      font-size: 12px;
      padding-left: 15px; }
  .sch-blocklibrary-doc-container .sch-doc-content {
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 5px 5px 5px;
    flex-grow: 1; }
    .sch-blocklibrary-doc-container .sch-doc-content h1 {
      color: #77797c;
      font-size: 20px; }
    .sch-blocklibrary-doc-container .sch-doc-content h2 {
      color: #3d3d3d;
      font-size: 2em;
      user-select: none; }
    .sch-blocklibrary-doc-container .sch-doc-content h3 {
      color: #368ec4;
      border-bottom: 1px solid rgba(180, 182, 186, 0.5);
      padding-bottom: 5px;
      font-size: 1.3em;
      user-select: none; }
    .sch-blocklibrary-doc-container .sch-doc-content h4 {
      font-weight: normal;
      color: #b4b6ba;
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.2em;
      user-select: none; }
    .sch-blocklibrary-doc-container .sch-doc-content code {
      background: #f1f1f1;
      border-radius: 2px;
      padding: 0 2px; }
    .sch-blocklibrary-doc-container .sch-doc-content p {
      font-size: 14px;
      word-wrap: break-word; }
    .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-block-title {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-block-title > .wux-controls-button {
        height: 22px; }
    .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-section-desc li {
      margin: 10px 0px; }
    .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-summary > h3 {
      margin-top: 0px; }
    .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-summary .sch-doc-summary-content {
      display: flex;
      flex-direction: row; }
      .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-summary .sch-doc-summary-content > span {
        box-sizing: border-box;
        border: 1px solid #d1d4d4;
        padding: 3px;
        color: #b4b6ba;
        align-self: flex-start; }
      .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-summary .sch-doc-summary-content > p {
        margin: 0px 0px 0px 10px;
        font-weight: bolder;
        color: #77797c;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 67px; }
    .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-thumbnail-viewer {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      pointer-events: none; }
      .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-thumbnail-viewer .sch-doc-graph-container {
        box-sizing: border-box;
        position: relative;
        border: 1px solid #d1d4d4;
        width: 400px;
        height: 400px; }
        .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-thumbnail-viewer .sch-doc-graph-container .sch-connector, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-thumbnail-viewer .sch-doc-graph-container .sch-block, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-thumbnail-viewer .sch-doc-graph-container .sch-label, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-thumbnail-viewer .sch-doc-graph-container .sch-label-content {
          pointer-events: none;
          user-select: none; }
    .sch-blocklibrary-doc-container .sch-doc-content doc-icp-name, .sch-blocklibrary-doc-container .sch-doc-content doc-iep-name {
      box-sizing: border-box;
      display: inline-block;
      color: limegreen;
      font-weight: bold; }
    .sch-blocklibrary-doc-container .sch-doc-content doc-ocp-name, .sch-blocklibrary-doc-container .sch-doc-content doc-oep-name {
      box-sizing: border-box;
      display: inline-block;
      color: #009688;
      font-weight: bold; }
    .sch-blocklibrary-doc-container .sch-doc-content doc-idp-name {
      box-sizing: border-box;
      display: inline-block;
      color: tomato;
      font-weight: bold; }
    .sch-blocklibrary-doc-container .sch-doc-content doc-odp-name {
      box-sizing: border-box;
      display: inline-block;
      color: firebrick;
      font-weight: bold; }
    .sch-blocklibrary-doc-container .sch-doc-content doc-setting-name {
      box-sizing: border-box;
      display: inline-block;
      color: purple;
      font-weight: bold; }
    .sch-blocklibrary-doc-container .sch-doc-content doc-valuetype {
      color: slategray;
      font-style: italic;
      font-weight: bold; }
    .sch-blocklibrary-doc-container .sch-doc-content doc-value {
      font-size: 14px;
      font-family: monospace;
      background: #f1f1f1;
      border-radius: 2px;
      padding: 0 2px; }
    .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech {
      box-sizing: border-box; }
      .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-icp, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-ocp, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-iep, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-oep, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-idp, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-odp, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-setting {
        box-sizing: border-box;
        margin-left: 10px; }
      .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech doc-description, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech doc-description-token {
        box-sizing: border-box; }
      .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-idp > doc-valuetype-token, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-idp > doc-valuetype, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-idp > doc-value, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-odp > doc-valuetype-token, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-odp > doc-valuetype, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-odp > doc-value, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-iep > doc-valuetype-token, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-iep > doc-valuetype, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-iep > doc-value, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-oep > doc-valuetype-token, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-oep > doc-valuetype, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-oep > doc-value, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-setting > doc-valuetype-token, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-setting > doc-valuetype, .sch-blocklibrary-doc-container .sch-doc-content .sch-doc-tech .sch-doc-setting > doc-value {
        box-sizing: border-box;
        font-size: smaller;
        font-weight: normal; }
