.sch-block-port {
  box-sizing: border-box; }
  .sch-block-port > .sch-input-data-port, .sch-block-port > .sch-output-data-port {
    box-sizing: border-box; }
  .sch-block-port > .sch-input-data-port > .sch-reroute-handler {
    box-sizing: border-box; }
  .sch-block-port > .sch-output-data-port > .sch-reroute-handler {
    box-sizing: border-box; }
