@keyframes traceModePortOn {
  100% {
    fill: #009688; } }

@keyframes traceModeDebugPortOn {
  100% {
    fill: #ff8c00; } }

@keyframes traceModePortOff {
  0% {
    fill: #009688; }

  100% {
    fill: #b2dfdb; } }

@keyframes traceModeDebugPortOff {
  0% {
    fill: #ff8c00; }

  100% {
    fill: #ffc782; } }

.sch-port .sch-reroute-handler {
  box-sizing: border-box;
  fill: white;
  stroke: black;
  stroke-width: 0.5px;
  stroke-linejoin: round; }
