<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
 <system.serviceModel>
  <services>
   <service behaviorConfiguration="personLicenseBehavior" name="com.dassault_systemes.vplm.posws.wcf.PersonLicenseService">
    <endpoint address="" binding="wsHttpBinding" contract="com.dassault_systemes.vplm.posws.wcf.IPersonLicenseService"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
   </service>
  </services>
  <behaviors>
   <serviceBehaviors>
    <behavior name="personLicenseBehavior">
     <serviceMetadata httpGetEnabled="true"/>
     <serviceDebug includeExceptionDetailInFaults="true"/>
    </behavior>
   </serviceBehaviors>
  </behaviors>
 </system.serviceModel>
</configuration>
