<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
 <system.serviceModel>
  <services>
   <service behaviorConfiguration="usersStateServiceBehavior" name="com.matrixone.vplm.posws.wcf.UsersStateService">
    <endpoint address="" binding="wsHttpBinding" contract="com.matrixone.vplm.posws.wcf.IUsersStateService"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
   </service>
  </services>
  <behaviors>
   <serviceBehaviors>
    <behavior name="usersStateServiceBehavior">
     <serviceMetadata httpGetEnabled="true"/>
     <serviceDebug includeExceptionDetailInFaults="true"/>
    </behavior>
   </serviceBehaviors>
  </behaviors>
 </system.serviceModel>
</configuration>
