.cut-item {
  opacity: 0.5 !important; }

.instance-tile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #f1f1f1;
  /** Style when item is main selection */
  /** Common style */
  /** Item 'isSelected' checkbox */
  /** Quantity section */
  /** Thumbnail section */
  /** Primary informations (reference name, instance name, effectivity) */
  /** Item attributes */
  /** Dropdown menu */ }
  .instance-tile-view.selected {
    border: 1px solid #368ec4;
    background-color: #d5e8f2;
    width: calc( 100% - 4px);
    margin-left: 1px; }
    .instance-tile-view.selected .instance-tile-view-expander {
      margin-left: -2px; }
  .instance-tile-view .instance-tile-view-dropdown-menu {
    position: absolute !important; }
  .instance-tile-view .instance-tile-view-checkbox-container, .instance-tile-view .instance-tile-view-quantity, .instance-tile-view .instance-tile-view-thumbnail, .instance-tile-view .instance-tile-view-primary-informations, .instance-tile-view .instance-tile-view-attributes, .instance-tile-view .instance-tile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top;
    /* font-family: '3ds';*/ }
  .instance-tile-view .instance-tile-view-expander.first-group-node {
    height: 50%;
    margin-top: 49%; }
  .instance-tile-view .instance-tile-view-expander.last-group-node {
    height: 50% !important;
    border-bottom: solid 1px black;
    width: 10px; }
  .instance-tile-view .instance-tile-view-expander.first-group-node.last-group-node {
    height: 0 !important;
    width: 0 !important; }
  .instance-tile-view .instance-tile-view-checkbox-container {
    width: 25px;
    padding-top: 1px;
    text-align: center; }
  .instance-tile-view .instance-tile-view-quantity-container {
    width: 59px;
    height: 100%;
    display: inline-block;
    position: relative; }
    .instance-tile-view .instance-tile-view-quantity-container .instance-tile-view-expander {
      height: 100%;
      border-left: solid 1px #000000;
      left: 50%;
      position: absolute; }
    .instance-tile-view .instance-tile-view-quantity-container .instance-tile-view-quantity {
      background-color: #ffffff;
      border: solid 1px #77797c;
      width: 40%;
      height: 45%;
      margin-top: 17%;
      margin-left: 33%;
      white-space: nowrap;
      overflow: visible;
      text-align: center;
      cursor: pointer;
      z-index: 10; }
    .instance-tile-view .instance-tile-view-quantity-container .instance-tile-view-quantity-label {
      color: #77797c;
      line-height: 1.5;
      font-size: small;
      position: relative;
      display: block;
      font-weight: bold; }
  .instance-tile-view .instance-tile-view-thumbnail {
    width: 4%;
    height: 100%;
    text-align: center; }
  .instance-tile-view .instance-tile-view-thumbnail-icon {
    position: relative;
    max-height: 100%;
    max-width: 100%; }
  .instance-tile-view .instance-tile-view-primary-informations {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 1.9;
    overflow: hidden;
    white-space: nowrap; }
  .instance-tile-view .instance-tile-view-display-name, .instance-tile-view .instance-tile-view-primary-more-informations {
    height: 47%;
    width: 100%; }
  .instance-tile-view .instance-tile-view-display-name {
    font-weight: bold;
    display: block; }
  .instance-tile-view .instance-tile-view-reference-name {
    overflow: hidden;
    text-overflow: ellipsis; }
  .instance-tile-view .fonticon.fonticon-attention {
    display: none; }
  .instance-tile-view .fonticon.fonticon-attention.not-last-version {
    color: #E87B00;
    display: inline; }
  .instance-tile-view .instance-tile-view-instance-name, .instance-tile-view .instance-tile-view-effectivity {
    display: inline-block; }
  .instance-tile-view .separator-marker {
    width: 2px;
    border-right: solid 1px #e2e4e3;
    height: 80%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px; }
  .instance-tile-view .instance-tile-view-effectivity {
    font-weight: 700;
    position: relative;
    float: right;
    width: auto;
    margin-right: 2px; }
  .instance-tile-view .instance-tile-view-instance-name {
    font-weight: lighter;
    font-style: italic;
    font-size: smaller; }
  .instance-tile-view .instance-tile-view-attributes {
    height: 100%;
    color: #77797c;
    text-align: left;
    line-height: 2.3; }
    .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attributes-column {
      height: 100%;
      width: 33%;
      display: inline-block;
      vertical-align: top; }
    .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attribute {
      height: 45%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attribute-name, .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attribute-value {
      display: inline-block;
      vertical-align: super;
      height: 100%;
      line-height: 0.9em;
      font-size: small; }
    .instance-tile-view .instance-tile-view-attributes .instance-tile-view-attribute-name {
      color: #d1d4d4; }
  .instance-tile-view .instance-tile-view-dropdown-menu {
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4;
    right: 10px;
    position: fixed; }

/** Responsiveness */
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-tile-view-primary-informations {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-tile-view-attributes {
  width: 67%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-tile-view-attributes-column {
  width: 33%; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-primary-informations {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-attributes {
  width: 62%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-attributes-column {
  width: 48%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-primary-informations {
  width: 35%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-attributes {
  width: 44%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-attributes-column {
  width: 100%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-attributes-column[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-tile-view-attributes-column[data-index="2"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-tile-view-primary-informations {
  width: 75%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-tile-view-attributes {
  width: 0%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-tile-view-attributes-column {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel.nothumbnail .instance-tile-view-thumbnail {
  visibility: hidden !important; }
