<a id="root-w-what" class="nav-item" predicate="ds6w:what">
    <div class="nav-item-circle"><span class="fonticon fonticon-3ds-what"></span></div>
    <div class="nav-item-label">What</div>
</a>
<a id="root-w-where" class="nav-item" predicate="ds6w:where">
  <div class="nav-item-circle"><span class="fonticon fonticon-3ds-where"></span></div>
  <div class="nav-item-label">Where</div>
</a>
<a id="root-w-who" class="nav-item" predicate="ds6w:who">
    <div class="nav-item-circle"><span class="fonticon fonticon-3ds-who"></span></div>
    <div class="nav-item-label">Who</div>
</a>
<a id="root-w-when" class="nav-item" predicate="ds6w:when">
  <div class="nav-item-circle"><span class="fonticon fonticon-3ds-when"></span></div>
  <div class="nav-item-label">When</div>
</a>
<a id="root-w-how" class="nav-item" predicate="ds6w:how">
    <div class="nav-item-circle"><span class="fonticon fonticon-3ds-how"></span></div>
    <div class="nav-item-label">How</div>
</a>
<a id="root-w-why" class="nav-item" predicate="ds6w:why">
    <div class="nav-item-circle"><span class="fonticon fonticon-3ds-why"></span></div>
    <div class="nav-item-label">Why</div>
</a>
