<div id="filter-tags" class="tagger-topbar-search add-tag-cont hide-filter-input" style="width:0px;">
    <input id="taginput" class="tagger-input searchbox">
    <i class="add-on tag-close clear-search-tag fonticon fonticon-cancel-circled"></i>
</div>
    <div id="tag-Controls" class="tagger-topbar-controls">
      <div class="search-tag tag-cntrl">
        <span class="fonticon fonticon-search"></span>
      </div>
      <!-- <div class="edit-tag tag-cntrl">
        <span class="fonticon fonticon-pencil"></span>
      </div> -->
      <div class="type-icon-cnt tag-cntrl">
        <span class="fonticon fonticon-eye"></span>
      </div>
      <div class="tag-settings-cnt tag-cntrl">
          <span class="tagger-settings fonticon fonticon-cog"></span>
      </div>
      <div class="tag-rootw-cnt tag-cntrl">
          <span class="tagger-rootws fonticon fonticon-tag-eye"></span>
      </div>
      <div class="tag-close-cnt tag-cntrl">
        <span class="tagger-close fonticon fonticon-cancel"></span>
      </div>
</div>
