<div id="im-call-collaboration">
  <im-call-whiteboard
    v-show="isWhiteboard"
    :featureData="featureData"
    :featureId="feature_id"
    :masterUser="masterUser"
    :active="isWhiteboard"
  />
  <im-call-ode
    v-show="isODE"
    :featureData="featureData"
    :featureId="feature_id"
    :active="isODE"
  />
  <im-call-confetti
    v-if="isConfetti"
    :featureData="featureData"
    :feature="feature"
    :masterUser="masterUser"
    :active="isConfetti"
  />
  <im-call-3dplay
    v-if="$store.getters.troisdplayFeature"
    v-show="is3DPlay"
    :featureData="featureData"
    :featureId="feature_id"
    :masterUser="masterUser"
    :active="is3DPlay"
    :feature="feature"
  />
</div>
