.instance-small-tile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #f1f1f1;
  /** Common style */
  /* Item 'isSelected' checkbox */
  /** Reference name and primary attribute (state by default) */
  /** Item attributes */
  /** Instance name and effectivity */
  /** Dropdown menu */ }
  .instance-small-tile-view.selected {
    border: 1px solid #368ec4;
    background-color: #d5e8f2;
    width: calc( 100% - 1px); }
  .instance-small-tile-view .instance-small-tile-view-checkbox-container, .instance-small-tile-view .instance-small-tile-view-reference-name, .instance-small-tile-view .instance-small-tile-view-reference-state, .instance-small-tile-view .instance-small-tile-view-attribute-name, .instance-small-tile-view .instance-small-tile-view-name, .instance-small-tile-view .instance-small-tile-view-effectivity, .instance-small-tile-view .instance-small-tile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top;
    font-family: '3ds'; }
  .instance-small-tile-view .instance-small-tile-view-checkbox-container {
    width: 2%;
    position: relative;
    left: 12px;
    top: 5px; }
  .instance-small-tile-view .instance-small-tile-view-reference-name, .instance-small-tile-view .instance-small-tile-view-reference-state {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .instance-small-tile-view .instance-small-tile-view-reference-name {
    font-weight: 700; }
  .instance-small-tile-view .instance-small-tile-view-attributes {
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    color: #77797c; }
    .instance-small-tile-view .instance-small-tile-view-attributes .instance-small-tile-view-attribute {
      overflow: hidden;
      display: inline-block;
      margin-right: 40px; }
    .instance-small-tile-view .instance-small-tile-view-attributes .instance-small-tile-view-attribute-name, .instance-small-tile-view .instance-small-tile-view-attributes .instance-small-tile-view-attribute-value {
      display: inline-block;
      vertical-align: top; }
    .instance-small-tile-view .instance-small-tile-view-attributes .instance-small-tile-view-attribute-name {
      color: #d1d4d4; }
  .instance-small-tile-view .instance-small-tile-view-name, .instance-small-tile-view .instance-small-tile-view-effectivity {
    height: 50%; }
  .instance-small-tile-view .instance-small-tile-view-name {
    font-weight: 700; }
  .instance-small-tile-view .instance-small-tile-view-dropdown-menu {
    width: 2%;
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4; }

/** Responsiveness */
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-small-tile-view-attributes {
  width: 54%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-small-tile-view-reference-name, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-small-tile-view-reference-state, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-small-tile-view-effectivity, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-small-tile-view-name {
  width: 10%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .instance-small-tile-view-attribute {
  width: 20%; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-small-tile-view-attributes {
  width: 46%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-small-tile-view-reference-name, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-small-tile-view-reference-state, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-small-tile-view-effectivity, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-small-tile-view-name {
  width: 12%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .instance-small-tile-view-attribute[data-index="3"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-small-tile-view-attributes {
  width: 22%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-small-tile-view-reference-name, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-small-tile-view-reference-state, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-small-tile-view-effectivity, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-small-tile-view-name {
  width: 18%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-small-tile-view-attribute[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-small-tile-view-attribute[data-index="2"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .instance-small-tile-view-attribute[data-index="3"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-attributes {
  width: 0%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-reference-name, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-reference-state, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-effectivity, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-name {
  width: 20%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-attribute[data-index="0"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-attribute[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-attribute[data-index="2"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .instance-small-tile-view-attribute[data-index="3"] {
  display: none; }
