@CHARSET "ISO-8859-1";


div.CR_MainContainer {
    background-color: white;
    display: flex;
	flex-flow: column;
}
@media(max-width:767px) {
    div.CR_MainContainer {
        display: block;
    }
	div.CR_Container{
		max-width: 100px;
	}
}

div.CR_Container {
    /*display: flex;*/
    margin: 15px 0px 15px 15px;
    width: fit-content;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
     /*align-items: center;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;*/
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    max-width: 200px;
}

div.CA_NameContainer {
        /*display: flex;*/
    padding: 0px 15px;
    text-align: left;
    color:#3d3d3d;
    font-size: 14px;
    font-family: Arial;
    font-size: 14px;
     align-items: center;
    -moz-box-flex: 1;
    -ms-flex: 2;
    -webkit-box-flex: 1;
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    width: 100%;
    position: relative;
    background: transparent;
    white-space: nowrap;
    /*text-align: right;
    /*width: 200px;*/
}

.hidden {
    display:none;
}

.CAIconContainer {
        margin-left: 5px;
    max-width: 20px;
    vertical-align: middle;
}

.GroupsContainer {
    height: 100%;
	overflow: auto;
    display: flex;
    flex-flow: column;
    /*flex:2;*/
}

.CR_MainContainer {
    flex: 0 1 auto;
    display: flex;
    /*height: 50px;*/
    /*flex:2;*/
}

.ApprovalSummaryGroup {
    flex: 1 1 auto;
    /*height: calc(100% - 50px);
    /*flex:2;*/
}

.ApprovalSummaryCATileMain {
    /*height: 30%;*/
    margin: 10px;
}

.ApprovalSummaryTable {
    height: 50%;
    position: relative;
    margin: 0px 15px 15px 15px;
}

.ApprovalSummaryGroupName{
    font-weight: bold;
    margin: 15px;
}
.ApprovalSummaryTable .table-container thead th {
    width: 85px !important;
}

.error-msg-div {
    margin: 15px;
    font-size: 14px;
    font-style: italic;
    color: rgb(255, 0, 0);
}
.CAGroupNameContainer {
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.CAChangeReqData {
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.ChangeReq_CheckBox {
    margin: 5px 15px;
}
.CANewTile-container {
    height: 122px;
    margin-left: -5px;
    position: relative;
}
.CANewReleaseAuthTile-container {
    height: 122px;
    position: relative;
}
/*severity icon color for tile status bar*/
.wux-controls-responsivetileview-statusbaricon.wux-ui-genereatedicon-fi.wux-ui-3ds.wux-ui-3ds-level-low.wux-ui-3ds-lg {
    color: green;
}
.wux-controls-responsivetileview-statusbaricon.wux-ui-genereatedicon-fi.wux-ui-3ds.wux-ui-3ds-level-medium.wux-ui-3ds-lg {
    color: orange;
}
.wux-controls-responsivetileview-statusbaricon.wux-ui-genereatedicon-fi.wux-ui-3ds.wux-ui-3ds-level-high.wux-ui-3ds-lg {
    color: red;
}
