	
<div class="selected-mask-type-view">
	<!-- Mask header
	<div class="maskHeader">			
		 
		<div class="mask_label"></div>		
	</div> 
	<div class="y-filler"></div>	-->
    <!-- Mask actions container  -->
	<div class="actionsContainer">		
		<div class="download"></div>
		<div class="x-filler"></div>
		<div class="y-filler"></div>
		<div class="upload"></div>
		<div class="input"></div>
		<div class="x-filler"></div>
		<div class="y-filler"></div>
		<div class="original"></div>
		<div class="x-filler"></div>
		<div class="y-filler"></div>
		<div class="backup"></div>	
	</div> 	
		
</div>	


