.waitBox {
    position:absolute;
    display:table;
    top:5px;
    right:5px;
    height:40px;
    color:white;
    /*border-style: solid;*/
    border-width: 4px;
    width: 110px;
    background-color: rgba(78, 78, 78, 0.66);
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px #4D9DE9;
    /*animation: waitanimation 4s;*/
    /*-webkit-animation: waitanimation 4s infinite;*/
}

.waitBox p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.waitanim{
    border-style: none;
    border-width: 4px;
    width: 25px;
    border-bottom-color: transparent;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #4D9DE9;
    /*animation: waitanimation 4s;*/
    /*-webkit-animation: waitanimation 4s infinite;*/
}
.waitslider{
    position:absolute;
    width:20px;
    height:4px;
    bottom:0px;
    background-color:white;
    border-radius:2px;
    -webkit-animation:slide 2s infinite;
    
}
@keyframes waitanimation
{
    0% { border-color: transparent transparent transparent transparent; box-shadow:0 0 20px rgba(84, 162, 236, 0)}
    12.5% { border-color: white transparent transparent transparent;}
    25% { border-color: white white transparent transparent;box-shadow:0 0 20px rgba(84, 162, 236, 1)}
    37.5% { border-color: white white white transparent;}
    50% { border-color: white white white white;box-shadow:0 0 20px rgba(84, 162, 236, 0)}
    62.5% { border-color: transparent white white white;}
    75% { border-color: transparent transparent white white;box-shadow:0 0 20px rgba(84, 162, 236, 1)}
    87.5% { border-color: transparent transparent transparent white;}
    100% { border-color: transparent transparent transparent transparent;box-shadow:0 0 20px rgba(84, 162, 236, 0)}
}
@-webkit-keyframes slide
{
    0% { left:0px; }
    50% { left:90px;}
    100% { left:0px;}
}
@-webkit-keyframes waitanimation
{
    0% { border-color: transparent transparent transparent transparent; }
    12.5% { border-color: white transparent transparent transparent;}
    25% { border-color: white white transparent transparent;}
    37.5% { border-color: white white white transparent;}
    50% { border-color: white white white white;}
    62.5% { border-color: transparent white white white;}
    75% { border-color: transparent transparent white white;}
    87.5% { border-color: transparent transparent transparent white;}
    100% { border-color: transparent transparent transparent transparent;}
}
/*
@-webkit-keyframes waitanimation
{
    0% { box-shadow:0 0 0px rgba(84, 162, 236, 0)}
    25% { box-shadow:0 0 20px rgba(84, 162, 236, 1)}
    50% { box-shadow:0 0 0px rgba(84, 162, 236, 0)}
    75% { box-shadow:0 0 20px rgba(84, 162, 236, 1)}
    100% { box-shadow:0 0 0px rgba(84, 162, 236, 0)}
}*/
/*
@-webkit-keyframes waitanimation
{
    0% { border-color: transparent transparent transparent transparent; box-shadow:0 0 20px rgba(84, 162, 236, 0)}
    12.5% { border-color: white transparent transparent transparent;}
    25% { border-color: white white transparent transparent;box-shadow:0 0 20px rgba(84, 162, 236, 1)}
    37.5% { border-color: white white white transparent;}
    50% { border-color: white white white white;box-shadow:0 0 20px rgba(84, 162, 236, 0)}
    62.5% { border-color: transparent white white white;}
    75% { border-color: transparent transparent white white;box-shadow:0 0 20px rgba(84, 162, 236, 1)}
    87.5% { border-color: transparent transparent transparent white;}
    100% { border-color: transparent transparent transparent transparent;box-shadow:0 0 20px rgba(84, 162, 236, 0)}
}
*/ 
