/* ====================================================================
// Discussion Stylesheet
// by Nicholas C. Zakas
// ==================================================================== */

/* --------------------------------------------------------------------
// Default Settings 
// -------------------------------------------------------------------- */

/* Background Appearance */
body { background-color: white; }

/* Font Appearance ---------------------------------------------------- */
body, th, td, p { font-family: verdana, helvetica, arial, sans-serif; font-size: 8pt; }

/* Default Links Appearance */
a { color: #003366; }
a:hover { }

/* --------------------------------------------------------------------
// Discussion Settings 
// -------------------------------------------------------------------- */

/* Author Appearance */
span.author { font-style: italic; }

/* Date Appearance */
span.date { font-style: italic; }

/* Subject Appearance */
span.subject { font-weight: bold; }

/* Message Appearance */
span.message { }

/* Reply Background Appearance */
table.reply { background-color: #EFF0E3; }
