<div class="architecture-number-wrapper">
	{{#if copyEff}}
	<div class="copy-effectivity">
	</div> <br>
	{{/if}}
	{{#if workUnderEvol}}
	<div class="config-selection">
		<span class="select-config-label">{{workUnderEvolTitle}}</span>
		<div class="autoCompleteSection"></div>
	</div> <br>
	{{/if}}
	<span class="identifier-msg"></span> <br>
	<div class="table-wrapper">
		<div class="table-responsive">
			<table class="table table-striped customtable">
				<thead class="columnHeader">
				</thead>
				<tbody class="itemDetails">
				</tbody>
			</table>
		</div>
	</div>
	<div class="wiw-footer">
	</div>
</div>
