/*  emxTreeTable.css

   Copyright Dassault Systemes, 1992-2007. All rights reserved.
   This program contains proprietary and trade secret information of
   Dassault Systemes and its subsidiaries. Copyright notice is precautionary only
   and does not evidence any actual or intended publication of such program

*/
/*=================================================================
 *  Details Tree Stylesheet for Windows/Mac Platforms
 *  emxTreeTable.css
 *  Version 1.0
 *  Requires: (nothing)
 *  Last Updated: 08-Nov-07 
 *
 *
 *
 *=================================================================
 */

/* --------------------------------------------------------------------
// Default Settings
// -------------------------------------------------------------------- */

/* Background Appearance */
body { 
    background-color:#d6dce9;
}

/* Font Appearance */
body, p, td { 
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 8pt; 
}

/* Link Appearance */
a { 
    color: #003366;
	text-decoration: none;
}

/* bar heading across top of both frames */
td.heading {
    background: -moz-linear-gradient(center top , #DEEFFF 0%, #98BEDE 100%) repeat scroll 0 0 transparent;   
    background-color: #DEEFFF;
	border-bottom: 1px solid #DCDCDC;
    font-weight: bold;
    height: 26px;
    padding: 3px 5px;
	text-align: left;
	color: #1A1A1A; 
	font-size: 11px;
}

/* text within cells not within links */
td.tableValue {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 8pt;color:#003366
}

/* selected row/table backcolor */
tr.selected {
	background-color: #ffffcc
}

table.selected {
	background-color: #ffffcc
}

a:hover { }

td.root { }

td.root a {
	font-weight: bold;
	text-decoration: underline;
}

td.root a:hover { }

/*td.line {
	background-color:#dedede
}*/


hr{
   margin-top:-1px;
   margin-bottom:-1px;
   border: 0.5px solid #dedede;

}

td.tab {
	background-color: #336699;
}

td.tabLineUnselected {
	background-color: #000000;
}

td.tabLineSelected {
	background-color: #9F9F9F;
}

a.tab { 
	color: #D7D7B8;
	font-weight: bold;
	text-decoration: none;
	font-size: 8pt
}

a.tab-inactive { 
    font-weight:bold;
	color:#5F5F5F;
	padding:6px 20px 0 16px;
	vertical-align:top; 
	white-space:nowrap !important; 
	overflow:hidden;
}

a.tab-active { 
	background:white;
	font-weight:bold;
	color:#333333;
	padding:7px 20px 0 16px;
	vertical-align:top;
	white-space:nowrap !important; 
	overflow:hidden;
}

a.sort {
	color:#ffffff;
	text-decoration: underline;
}

tr.odd  { 
	color:#13345a;
	background-color:#dbdbdb; 
}

tr.even {
	color:#13345a;
	background-color:#ffffff;
}

th {
    background-color:#B9B9B9;
    border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #ADCAED;
    font-weight: bold;
    height: 26px;
    padding: 3px 5px;
	text-align: left;
	color: white; 
	
	font-size: 10pt;
}

td.label {
	text-align: left;
	width: 45%;
	background-color: #e0e0e0;
	color: black;
	height: 24px;
}

td.inputField {
	text-align: left;
	background-color: #eef0f0;
	font-size: 11px;
}
