.x-app-kpi-embedded-view-container {
  /** 
     * Shared styles
     */
  /** Clickable element */
  /** Red text color when objective not achieved */
  /** 
     * Base element (always visible) 
     */
  /** 
     * Shared styles main and details view
     */
  /** 
     * Main view
     */
  /**
     * Details view
     */ }
  .x-app-kpi-embedded-view-container .clickable {
    cursor: pointer;
    transition: background-color 0.3s; }
  .x-app-kpi-embedded-view-container .clickable:hover {
    background-color: #f4f5f6; }
  .x-app-kpi-embedded-view-container .kpi-not-achieved {
    color: #ea4f37; }
  .x-app-kpi-embedded-view-container .kpi-outer {
    padding: 5px;
    border: solid 1px #e2e4e3;
    width: 100%;
    height: 100%;
    background-color: white; }
    .x-app-kpi-embedded-view-container .kpi-outer .kpi-value {
      font-size: 20px;
      text-align: center;
      position: relative; }
    .x-app-kpi-embedded-view-container .kpi-outer .kpi-name {
      font-weight: 700;
      text-align: center;
      font-size: 13px;
      color: #b4b6ba;
      position: relative;
      line-height: 16px;
      text-transform: uppercase; }
  .x-app-kpi-embedded-view-container .kpi-main-view, .x-app-kpi-embedded-view-container .kpi-details-view {
    top: 12px;
    left: -50px;
    background-color: #ffffff;
    width: 300px;
    box-shadow: 2px 2px 10px #d1d4d4;
    position: relative;
    z-index: 10000; }
  .x-app-kpi-embedded-view-container .kpi-main-view .kpi-scoring-section {
    width: 100%;
    border-bottom: solid 1px #e2e4e3;
    position: relative; }
    .x-app-kpi-embedded-view-container .kpi-main-view .kpi-scoring-section .close-icon {
      position: absolute;
      right: 0;
      color: #77797c;
      cursor: pointer;
      z-index: 10; }
    .x-app-kpi-embedded-view-container .kpi-main-view .kpi-scoring-section .kpi-scoring-value {
      font-size: 20px;
      text-align: center;
      position: relative;
      padding-top: 10px; }
    .x-app-kpi-embedded-view-container .kpi-main-view .kpi-scoring-section .kpi-scoring-label {
      font-weight: 700;
      text-align: center;
      font-size: 13px;
      color: #b4b6ba;
      position: relative;
      top: 4px;
      line-height: 16px;
      text-transform: uppercase;
      padding-bottom: 15px; }
  .x-app-kpi-embedded-view-container .kpi-main-view .kpi-infos {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
    .x-app-kpi-embedded-view-container .kpi-main-view .kpi-infos .kpi-value {
      font-size: 20px;
      text-align: center;
      position: relative;
      padding-top: 20px; }
    .x-app-kpi-embedded-view-container .kpi-main-view .kpi-infos .kpi-name {
      font-weight: 700;
      text-align: center;
      font-size: 13px;
      color: #b4b6ba;
      position: relative;
      top: 4px;
      line-height: 16px;
      text-transform: uppercase;
      padding-bottom: 20px; }
  .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-main {
    width: 100%;
    border-bottom: solid 1px #e2e4e3;
    position: relative; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-main .close-icon {
      position: absolute;
      right: 0;
      color: #77797c;
      cursor: pointer;
      z-index: 10; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-main .return-icon {
      width: 12%;
      height: 70px;
      color: #77797c;
      position: absolute;
      z-index: 10; }
      .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-main .return-icon .fonticon-open-left {
        top: 12px;
        position: relative;
        font-size: 2.5em;
        margin: 0; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-main .kpi-details-main-value {
      font-size: 20px;
      text-align: center;
      position: relative;
      padding-top: 10px; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-main .kpi-details-main-label {
      font-weight: 700;
      text-align: center;
      font-size: 13px;
      color: #b4b6ba;
      position: relative;
      top: 4px;
      line-height: 16px;
      text-transform: uppercase;
      padding-bottom: 15px; }
  .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-info {
    width: 50%;
    height: 84px;
    display: inline-block;
    vertical-align: top;
    text-align: center; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-info .kpi-details-value {
      font-size: 20px;
      text-align: center;
      position: relative;
      padding-top: 20px; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-info .kpi-details-label {
      font-weight: 700;
      text-align: center;
      font-size: 13px;
      color: #b4b6ba;
      position: relative;
      top: 4px;
      line-height: 16px;
      text-transform: uppercase;
      padding-bottom: 20px; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-info .kpi-open-in-icon {
      font-size: 2.5em; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-details-info .kpi-open-in-text {
      font-size: 13px;
      color: #b4b6ba;
      font-weight: 700; }
  .x-app-kpi-embedded-view-container .kpi-details-view .kpi-special-info {
    padding-top: 14px; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-special-info .fonticon-expand-right {
      margin-left: 10%;
      margin-right: 10%; }
    .x-app-kpi-embedded-view-container .kpi-details-view .kpi-special-info .more-info-value {
      display: inline-block;
      width: 35px; }

/** Little haXX for minified view */
.minified .kpi-outer {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%; }
  .minified .kpi-outer .kpi-value {
    top: 10px; }
  .minified .kpi-outer .kpi-name {
    visibility: hidden; }
.minified .kpi-main-view, .minified .kpi-details-view {
  left: -100px; }
.minified .to-hide-when-minified {
  display: none; }
