.sch-datagridview-debugconsole {
  box-sizing: border-box;
  font-family: Arial;
  cursor: default; }
  .sch-datagridview-debugconsole .wux-layouts-collectionview.wux-controls-abstract.wux-layouts-datagridview {
    user-select: text; }
  .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell .sch-inline-number-value, .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell .sch-inline-boolean-value, .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell .sch-value-evaluator {
    padding-left: 5px; }
  .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-info {
    background-color: #f2f5f7;
    border-bottom: 1px solid #e2e9ed; }
    .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-info.sch-dgv-column-severity .wux-ui-icon {
      color: #00b8de; }
  .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-warning {
    background-color: #fff3e9;
    border-bottom: 1px solid #ffe5cf; }
    .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-warning.sch-dgv-column-severity .wux-ui-icon {
      color: #e87b00; }
  .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-error {
    background-color: #fff0ee;
    border-bottom: 1px solid #ffd9d5; }
    .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-error.sch-dgv-column-severity .wux-ui-icon {
      color: #ea4f37; }
  .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-debug {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e4e4e4; }
    .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-debug.sch-dgv-column-severity .wux-ui-icon {
      color: #3d3d3d; }
  .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-success {
    background-color: #edf6eb;
    border-bottom: 1px solid #ddeed9; }
    .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-severity-level-success.sch-dgv-column-severity .wux-ui-icon {
      color: #009688; }
  .sch-datagridview-debugconsole .wux-layouts-collectionview-cell.wux-controls-abstract.wux-layouts-datagridview-cell.sch-dgv-column-message .sch-dgv-reusable {
    display: flex;
    align-items: center; }
