.sch-datagridview-dataport {
  box-sizing: border-box; }
  .sch-datagridview-dataport .sch-dgv-play-value {
    background-color: #b2dfdb; }
  .sch-datagridview-dataport .sch-dgv-debug-value {
    background-color: #ffc782; }
