.sch-datagridview-single-port {
  box-sizing: border-box;
  outline: 1px solid #d1d4d4;
  /*.wux-layouts-header {
        pointer-events: none;
    }*/ }
  .sch-datagridview-single-port.sch-datagridview-single-data-port .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon {
    display: flex;
    width: 100%;
    height: 100%; }
    .sch-datagridview-single-port.sch-datagridview-single-data-port .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon:active:hover .wux-button-icon-placeholder span {
      color: white; }
    .sch-datagridview-single-port.sch-datagridview-single-data-port .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon:hover:active {
      border: 1px solid #368ec4;
      background-color: #368ec4 !important; }
    .sch-datagridview-single-port.sch-datagridview-single-data-port .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon:hover:not(:active):not([checked]):not([disabled]):not([hasHoverPrevented]) {
      border: 1px solid #368ec4; }
      .sch-datagridview-single-port.sch-datagridview-single-data-port .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon:hover:not(:active):not([checked]):not([disabled]):not([hasHoverPrevented]) .wux-button-icon-placeholder span {
        color: #368ec4; }
  .sch-datagridview-single-port.sch-datagridview-single-data-port .sch-dgv-icon-reset.disabled .wux-tweakers {
    pointer-events: none;
    opacity: 0.5; }
  .sch-datagridview-single-port.sch-datagridview-single-data-port .sch-dgv-play-value {
    background-color: #b2dfdb; }
  .sch-datagridview-single-port.sch-datagridview-single-data-port .sch-dgv-debug-value {
    background-color: #ffc782; }
  .sch-datagridview-single-port.sch-datagridview-single-data-port .wux-layouts-datagridview .wux-layouts-datagridview-cell:not([is-editable]):not(.sch-dgv-node-root):not(.wux-layouts-datagridview-column-header-cell) {
    color: #b4b6ba; }
