.sch-datagridview-abstract-data-item {
  box-sizing: border-box; }
  .sch-datagridview-abstract-data-item .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon {
    display: flex;
    width: 100%;
    height: 100%; }
    .sch-datagridview-abstract-data-item .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon:active:hover .wux-button-icon-placeholder span {
      color: white; }
    .sch-datagridview-abstract-data-item .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon:hover:active {
      border: 1px solid #368ec4;
      background-color: #368ec4 !important; }
    .sch-datagridview-abstract-data-item .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon:hover:not(:active):not([checked]):not([disabled]):not([hasHoverPrevented]) {
      border: 1px solid #368ec4; }
      .sch-datagridview-abstract-data-item .sch-dgv-icon-reset .wux-tweakers .wux-controls-button.wux-tweaker-function.wux-ui-style-icon:hover:not(:active):not([checked]):not([disabled]):not([hasHoverPrevented]) .wux-button-icon-placeholder span {
        color: #368ec4; }
  .sch-datagridview-abstract-data-item .sch-dgv-icon-reset.disabled .wux-tweakers {
    pointer-events: none;
    opacity: 0.5; }
