.sch-datagridview-customtype {
  box-sizing: border-box; }
  .sch-datagridview-customtype .sch-datagridview-container {
    border-top: 1px solid #b4b6ba; }
    .sch-datagridview-customtype .sch-datagridview-container .wux-tweakers-object .wux-tweakers-multirep.wux-tweakers-multirep-inline-editor.wux-tweakers-object-inline-editor {
      display: flex;
      flex-direction: row;
      max-width: 100%; }
    .sch-datagridview-customtype .sch-datagridview-container .wux-layouts-datagridview-column-header-cell .wux-tweakers-icon {
      margin: 0;
      text-align: center;
      justify-content: center; }
