.calistview-container {
  position: relative;
  height: 100%; }
  .calistview-container .dropover-caview {
    border: 1px solid #42A2DA; }
  .calistview-container .cfgcalist-toolbaroontainer {
    display: flex;
    height: 38px;
    align-items: center; }
    .calistview-container .cfgcalist-toolbaroontainer .wux-tweakers.wux-tweakers-string-label {
      font-size: 12px;
      font-weight: bold;
      padding-left: 14px; }
    .calistview-container .cfgcalist-toolbaroontainer .wux-tweakers.wux-tweakers-string-label[touch-mode] {
      font-size: 14px;
      font-weight: bold;
      padding-left: 14px; }
  .calistview-container .wux-ui-3ds-level-high {
    color: red; }
  .calistview-container .wux-ui-3ds-level-low {
    color: green; }
  .calistview-container .wux-ui-3ds-level-medium {
    color: orange; }
  .calistview-container .cfgactive-floppy {
    color: #57b847 !important; }
  .calistview-container .cfgactive-search {
    color: #368ec4; }

.disablerow {
  opacity: 0.3 !important;
  pointer-events: none !important; }
