
div.CfgEditEvolutionDialog div.modal-body{
	padding: 0px !important;
}
div.CfgSessionEffectivityDialog div.modal-body{
	padding: 10px 10px 5px 10px;
}
div.CfgEditEvolutionDialog,div.CfgSessionEffectivityDialog, div.CfgITEOnDashboardDialog{  
	height: 100%;
    width: 800px;
	
}
.CfgEditEvolutionDialog-body {
padding:0px !important;
}
.CfgSessionEffectivityDialog.modal.floatingPanelComponent{
   position:fixed !important;   
   /*min-width:340px !important;*/
   
}
div.authoringpopover ~ div.dropdown-menu{
  z-index:4000 !important;
}
.CfgContainerView {
height:100%;
}


.CfgContainerView > *{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
