/* SCSS variables */
/* Mixin for adding margin top to the icon to align the icon with the other icons in the toolbar */
/* css class added when the user clicks the icon to make it appear blue in color */
.toggle-icon-active {
  margin-top: 0.5rem;
  color: #368ec4; }
  .toggle-icon-active.toggle-icon {
    width: 38px;
    text-align: center; }

/* css class added when the user clicks again the icon to make it appear grey in color */
.toggle-icon-inactive {
  margin-top: 0.5rem;
  color: #77797c; }
  .toggle-icon-inactive.toggle-icon {
    width: 38px;
    text-align: center; }
