@font-face {
	font-family: 'configtypo';
	src:url('../assets/fonts/configtypo.eot');
	src:url('../assets/fonts/configtypo.eot') format('embedded-opentype'),
		url('../assets/fonts/configtypo.ttf') format('truetype'),
		url('../assets/fonts/configtypo.woff') format('woff'),
		url('../assets/fonts/configtypo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-configtypo-transfertownership:before {
	content: "\e612";
}
.icon-configtypo-productstate:before {
	content: "\e608";
}
.icon-configtypo-cancel:before {
	content: "\e60e";
}
.icon-configtypo-flowdown:before {
	content: "\e60f";
}
.icon-configtypo-hold:before {
	content: "\e610";
}
.icon-configtypo-resume:before {
	content: "\e611";
}
.icon-configtypo-workunder:before {
	content: "\e613";
}
.icon-configtypo-availablebox:before {
	content: "\e600";
}
.icon-configtypo-availableradio:before {
	content: "\e601";
}
.icon-configtypo-checkedbox:before {
	content: "\e602";
}
.icon-configtypo-checkedradio:before {
	content: "\e603";
}
.icon-configtypo-exclamationmark:before {
	content: "\e604";
}
.icon-configtypo-feature:before {
	content: "\e605";
}
.icon-configtypo-infinity:before {
	content: "\e606";
}
.icon-configtypo-one:before {
	content: "\e607";
}
.icon-configtypo-rejectedbox:before {
	content: "\e609";
}
.icon-configtypo-rejectedradio:before {
	content: "\e60a";
}
.icon-configtypo-topleftarrow:before {
	content: "\e60b";
}
.icon-configtypo-unit:before {
	content: "\e60c";
}
.icon-configtypo-validation:before {
	content: "\e60d";
}
