.uwa-icon.options:before{content:'V'}.uwa-widget-menu-button{color:#330}.uwa-icon:before{font-size:20px}.uwa-accordion-content {background-color: #FFF;}

.uwa-widget-popup-menu-item {
display: block;
padding: 8px 10px;
color: #FFF;
border-bottom: 1px dotted #4a4a4a;
cursor: pointer;
border: 1px solid #bebebe;
background: #fff;
color: #777;
}
.uwa-widget-popup-menu-item:hover{background-color:#f4f4f4}
.uwa-widget-menu-button.active{

border: 1px solid #bebebe;
background: #f4f4f4;
color: #777;
}
.moduleHeader .uwa-widget-menu-button.active{
color:black;
}
.moduleEdit{
border: 0;
border-bottom: 1px solid #DDD;
background: #fff;
}
.module{
border: 0px solid #79a7e2;
}

.uwa-accordion .uwa-accordion-item.selected{
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ddd),color-stop(1,#f0f0f0));
}

.uwa-accordion .uwa-accordion-item.selected .uwa-accordion-item-title{

border: 1px solid #ddd;
border-bottom: 1px solid #fff;
background-position: 5px -24px;
color: grey;
}

.uwa-accordion{
padding:5px;
}

.uwa-accordion-item .uwa-accordion-item-title{
line-height: 1.5em;
display: block;

padding: 5px 0 5px 21px;
font-weight: bold;

cursor: pointer;

}

.uwa-accordion-content{
padding: 0px;
border: 1px solid #ddd;
border-top: 1px solid #fff;
}

.tile-title{
        font-size: 15px;
		font-family: '3dsregular' tahoma,serif;
		color: #368ec4;
        }
		
		
.tile-header{

width:0;
}

.list-container .tile-container.with-actions .tile-sub-container .tile-actions{
display: block;
}


/*//css for font icons*/ 

@font-face {
	font-family: 'configtypo';
	src:url('fonts/configtypo.eot?-mym3sf');
	src:url('fonts/configtypo.eot?#iefix-mym3sf') format('embedded-opentype'),
		url('fonts/configtypo.woff?-mym3sf') format('woff'),
		url('fonts/configtypo.ttf?-mym3sf') format('truetype'),
		url('fonts/configtypo.svg?-mym3sf#configtypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fonticon-configtypo-01:before {
	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e600";
}

.fonticon-configtypo-02:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e601";
}

.fonticon-configtypo-03:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e602";
}

.fonticon-configtypo-04:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e603";
}

.fonticon-configtypo-05:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e604";
}

.fonticon-configtypo-06:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e605";
}

.fonticon-configtypo-07:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e606";
}

.fonticon-configtypo-08:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e607";
}

.fonticon-configtypo-09:before {
	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e608";
}

.fonticon-configtypo-10:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e609";
}

.fonticon-configtypo-11:before {

	font-family: 'configtypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e60a";
}

/*//css for timeline milestone*/

div.timeline-frame {
    -moz-box-sizing: border-box;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

div.timeline-content {
    overflow: hidden;
    position: relative;
}

div.timeline-axis {
    -moz-box-sizing: border-box;
    border-color: #bebebe;
    border-top-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

div.timeline-axis-grid {
    -moz-box-sizing: border-box;
    border-left-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

div.timeline-axis-grid-minor {
    border-color: #e5e5e5;
}

div.timeline-axis-grid-major {
    border-color: #bfbfbf;
}

div.timeline-axis-text {
    color: #4d4d4d;
    padding: 3px;
    white-space: nowrap;
}

div.timeline-axis-text-minor {
}

div.timeline-axis-text-major {
}

div.timeline-event {
    -moz-box-sizing: border-box;
    background-color: #d5ddf6;
    border-color: #97b0f8;
    box-sizing: border-box;
    color: #1a1a1a;
    display: inline-block;
}

div.timeline-event-selected {
    background-color: #fff785;
    border-color: #ffc200;
    z-index: 999;
}

/* TODO: use another color or pattern? */
div.timeline-event-cluster {
    background: url('img/cluster_bg.png') #97b0f8;
    color: #ffffff;
}

div.timeline-event-cluster div.timeline-event-dot {
    border-color: #d5ddf6;
}

div.timeline-event-box {
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

div.timeline-event-dot {
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
}

div.timeline-event-range {
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}

div.timeline-event-line {
    -moz-box-sizing: border-box;
    border-left-style: solid;
    border-left-width: 1px;
    box-sizing: border-box;
}

div.timeline-event-content {
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
}

div.timeline-groups-axis {
    -moz-box-sizing: border-box;
    border-color: #bebebe;
    border-width: 1px;
    box-sizing: border-box;
}

div.timeline-groups-axis-onleft {
    border-style: none solid none none;
}

div.timeline-groups-axis-onright {
    border-style: none none none solid;
}

div.timeline-groups-text {
    color: #4d4d4d;
    padding-left: 10px;
    padding-right: 10px;
}

div.timeline-currenttime {
    -moz-box-sizing: border-box;
    background-color: #ff7f6e;
    box-sizing: border-box;
    width: 2px;
}

div.timeline-customtime {
    -moz-box-sizing: border-box;
    background-color: #6e94ff;
    box-sizing: border-box;
    cursor: move;
    width: 2px;
}

div.timeline-navigation {
    -moz-border-radius: 2px; /* For Firefox 3.6 and older */
    -moz-box-sizing: border-box;
    background-color: #f5f5f5;
    border: 1px solid #bebebe;
    border-radius: 2px;
    box-sizing: border-box;
    color: #808080;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
}

div.timeline-navigation-new,
div.timeline-navigation-delete,
div.timeline-navigation-zoom-in,
div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left,
div.timeline-navigation-move-right {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 36px;
    padding: 10px;
    text-decoration: none;
    width: 36px;
}

div.timeline-navigation-new {
    background: url('img/16/new.png') no-repeat center;
}

/* separator between new and navigation buttons */
div.timeline-navigation-new-line {
    border-right: 1px solid #bebebe;
}

div.timeline-navigation-delete {
    background: url('img/16/delete.png') no-repeat center;
}

div.timeline-navigation-zoom-in {
    background: url('img/16/zoomin.png') no-repeat center;
}

div.timeline-navigation-zoom-out {
    background: url('img/16/zoomout.png') no-repeat center;
}

div.timeline-navigation-move-left {
    background: url('img/16/moveleft.png') no-repeat center;
}

div.timeline-navigation-move-right {
    background: url('img/16/moveright.png') no-repeat center;
}

/*tooltip*/
.eventTooltip {
	border: 1px solid grey;
	border-radius:7px;
	box-shadow: 2px 2px 1px #d1d4d4;
	position: absolute;
	background:#5b5d5e;
	color: white;
	opacity: 0.9;
	text-align:left;
	padding: 5px;
	z-index: 1009;
	font-family: Arial, Helvetica, sans-serif;
} 

/*css for CF YUS*/


.attribute
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px;
    margin-left: 10px;
    resize: none;
    font-size: small;
    float: left;
    color: #8e8e8e;
}

.searchText
{
    border: 0px;/*border: 1px solid;*/
    border-color: #ccc;
    border-radius: 4px;
    margin-left: 10px;
    padding: 8px 4px 5px 12px;
    -webkit-transition: border-color; /* Safari 3.1 to 6.0 */
    transition: border-color;
    transition-duration: 2s;
    width:130px;
    font-size:inherit;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

    .searchText:hover
    {
        border-color: #368ec4;
    }

.searchButton
{
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
}
.clearButton
{
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
   color:lightgrey;
}
.tagsInputText
{
    border: 1px solid;
    border-color: #ccc;
    width: 100px;
    /*margin-bottom: 5px;*/
    font-size: smaller;
    box-shadow: none;
    -webkit-transition: border-color; /* Safari 3.1 to 6.0 */
    transition: border-color;
    transition-duration: 2s;
}

    .tagsInputText:hover
    {
        border-color: #368ec4;
    }

.selectionattribute
{
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    margin-left: 10px;
    padding: 6px 4px 4px 12px;
    -webkit-transition: border-color; /* Safari 3.1 to 6.0 */
    transition: border-color;
    transition-duration: 2s;
    width:130px;
}

    .selectionattribute:hover
    {
        border-color: #368ec4;
    }

.fonttransition
{
    color: lightgray;
    border-color: lightgray;
    -webkit-transition: color,border-color; /* Safari 3.1 to 6.0 */
    transition: color,border-color;
    transition-duration: 2s;
    border: 0px solid;/*1px solid;*/
}

    .fonttransition:hover
    {
        color: #368ec4;
        border-color: #368ec4;
    }


.FeatureNames
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    resize: none;
    color: #368ec4;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 3px;
}

.FeatureNode
{
    table-layout: fixed;
    background-color: white;
    cursor: pointer;
    border-top: 1px solid lightgrey;
    resize: none;
    width: 99%;
}

    .FeatureNode td
    {
        vertical-align: top;
    }

.optiontablenode td
{
    vertical-align: middle;
}

.FeatureImg
{
    width: 52px;
    height: 52px;
    cursor: pointer;
    resize: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ExclamationMarkImg
{
    width: 16px;
    height: 16px;
    resize: none;
}



.tooltipEC
{
    border: 1px solid grey;
    border-radius: 7px;
    box-shadow: 2px 2px 1px #999999;
    position: absolute;
    background: #5b5d5e;
    color: white;
    opacity: 0.9;
    text-align: left;
    padding: 5px;
    z-index: 1009;
    font-size: x-small;
}


.autocomplete-suggestions
{
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    z-index: 999;
}

.autocomplete-suggestion
{
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

.autocomplete-no-suggestion
{
    padding: 2px 5px;
}

.autocomplete-selected
{
    background: #F0F0F0;
}

.autocomplete-suggestions strong
{
    font-weight: bold;
    color: #000;
}

.autocomplete-group
{
    padding: 2px 5px;
}

    .autocomplete-group strong
    {
        font-weight: bold;
        font-size: 16px;
        color: #000;
        display: block;
        border-bottom: 1px solid #000;
    }

.optiontablenode:nth-child(odd)
{
    background: #FAFAFA;
}

.accordfilled > .item > .title
{
    background: #f6f6f6;
    border-radius: 10px;
    font-weight: 700;
    padding: 1em;
    padding: .6em!important;
    margin-top: .2em;
    font-size: 15px;
    color: rgba(0,0,0,0.4);
}

.accordion > .item:first-child > .title
{
    border-top: 0;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}

.accordion > .item:last-child > .title
{
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}

.accordion > .active > .title
{
    background: #f6f6f6!important;
    opacity: 1;
}

input
{
    box-shadow: none;
    font-size: x-small;
}

textarea:focus, input:focus{
    outline: 0;
}
.list-container .tile-container .tile-sub-container
{
    outline: 1px solid #e2e4e3!important;
    margin: 1px;
    margin-right: 3px;
}




div.tagsinput
{
    border: 0px solid #CCC;
    background: #FFF;
    padding-left: 2px;
    height: 15px;
    overflow-y: auto;
}

    div.tagsinput span.tag
    {
        border: 0px solid #a5d24a;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 5px;
        display: block;
        float: left;
        /*padding-left: 2px;*/
        padding-right: 3px;
        text-decoration: none;
        background: #cde69c;
        color: #638421;
        margin-right: 4px;
        margin-bottom: 2px;
        font-family: helvetica;
        font-size: 13px;
    }

        div.tagsinput span.tag a
        {
            font-weight: bold;
            color: #82ad2b;
            text-decoration: none;
            font-size: 12px;
        }

    div.tagsinput span.tag_not
    {
        border: 0px solid #a5d24a;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 5px;
        display: block;
        float: left;
        /*padding-left: 2px;*/
        padding-right: 3px;
        text-decoration: none;
        background: pink;
        color: red;
        margin-right: 4px;
        margin-bottom: 2px;
        font-family: helvetica;
        font-size: 13px;
    }

    div.tagsinput span.tag_not a
    {
        font-weight: bold;
        color: red;
        text-decoration: none;
        font-size: 12px;
    }


    div.tagsinput input
    {
        width: 80px;
        margin: 0px;
        font-family: helvetica;
        font-size: 13px;
        border: 0px solid transparent;
        padding: 2px;
        background: transparent;
        color: #000;
        outline: 0px;
        margin-right: 2px;
        margin-bottom: 2px;
    }

    div.tagsinput div
    {
        display: block;
        float: left;
    }

.tags_clear
{
    clear: both;
    width: 100%;
    height: 0px;
}

.not_valid
{
    background: #FBD8DB !important;
    color: #90111A !important;
}

.attributebold
{
font-weight:bold;
}

