.sch-script-block-dialog .wux-windows-docking-element-docking-zone.wux-docking-element-useBorders.wux-docking-element-left {
  padding: 5px; }
.sch-script-block-dialog .sch-codemirror-editor {
  height: 100%; }
  .sch-script-block-dialog .sch-codemirror-editor .CodeMirror {
    line-height: 1em;
    font-family: monospace;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .sch-script-block-dialog .sch-codemirror-editor .CodeMirror .CodeMirror-scroll {
      overflow-x: hidden !important;
      height: 100%;
      width: 100%;
      position: relative;
      outline: none;
      padding: 0; }
  .sch-script-block-dialog .sch-codemirror-editor > .CodeMirror-cursor {
    width: 5px; }
