.sch-dialog-iotest {
  box-sizing: border-box; }
  .sch-dialog-iotest .sch-dialog-content {
    display: flex;
    flex-direction: column; }
    .sch-dialog-iotest .sch-dialog-content .sch-top-container {
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      .sch-dialog-iotest .sch-dialog-content .sch-top-container .wux-controls-button {
        margin-right: 10px; }
    .sch-dialog-iotest .sch-dialog-content .sch-bottom-container {
      flex-grow: 1; }
