.sch-dialog-editor-settings {
  box-sizing: border-box; }
  .sch-dialog-editor-settings .sch-datagridview {
    box-sizing: border-box;
    border: 1px solid #d1d4d4;
    border-top: 4px solid #368ec4;
    border-radius: 4px 4px 0px 0px; }
