.reference-small-subtile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #d1d4d4;
  /** Common style */
  /** Item 'isSelected' checkbox */
  /** Expander */
  /** Primary informations (reference name and effectivity) */
  /** Dropdown menu */ }
  .reference-small-subtile-view .reference-small-subtile-view-checkbox-container, .reference-small-subtile-view .reference-small-subtile-view-expander, .reference-small-subtile-view .reference-small-subtile-view-name, .reference-small-subtile-view .reference-small-subtile-view-effectivity, .reference-small-subtile-view .reference-small-subtile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top;
    font-family: '3ds'; }
  .reference-small-subtile-view .reference-small-subtile-view-checkbox-container {
    width: 25px;
    padding-top: 5px;
    padding-left: 12px; }
  .reference-small-subtile-view .reference-small-subtile-view-expander {
    width: 3%;
    height: 100%; }
    .reference-small-subtile-view .reference-small-subtile-view-expander .reference-small-subtile-view-expander-upper-section, .reference-small-subtile-view .reference-small-subtile-view-expander .reference-small-subtile-view-expander-lower-section {
      height: 50%;
      left: 48%;
      position: relative;
      border-left: solid 3px #77797c; }
    .reference-small-subtile-view .reference-small-subtile-view-expander .reference-small-subtile-view-expander-upper-section {
      width: 40%;
      border-bottom: solid 3px #77797c; }
  .reference-small-subtile-view.last-subtile .reference-small-subtile-view-expander .reference-small-subtile-view-expander-lower-section {
    display: none; }
  .reference-small-subtile-view .reference-small-subtile-view-name, .reference-small-subtile-view .reference-small-subtile-view-effectivity {
    width: 10%; }
  .reference-small-subtile-view .reference-small-subtile-view-name {
    font-weight: 700; }
  .reference-small-subtile-view .reference-small-subtile-view-dropdown-menu {
    right: 1%;
    width: 2%;
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4;
    position: absolute; }
