.reference-small-tile-view {
  width: 100%;
  height: 100%;
  border-top: solid 1px #f1f1f1;
  cursor: pointer;
  /** Common style */
  /** Item 'isSelected' checkbox */
  /** Quantity section */
  /** Small expander visible when expanded */
  /** Primary informations (reference name and state) */
  /** Item attributes */
  /** Dropdown menu */ }
  .reference-small-tile-view .reference-small-tile-view-checkbox-container, .reference-small-tile-view .reference-small-tile-view-quantity, .reference-small-tile-view .reference-small-tile-view-reference-name, .reference-small-tile-view .reference-small-tile-view-reference-state, .reference-small-tile-view .reference-small-tile-view-attributes, .reference-small-tile-view .reference-small-tile-view-dropdown-menu {
    display: inline-block;
    vertical-align: top;
    font-family: '3ds'; }
  .reference-small-tile-view .reference-small-tile-view-checkbox-container {
    width: 25px;
    padding-top: 5px;
    padding-left: 12px; }
  .reference-small-tile-view .reference-small-tile-view-quantity {
    width: 3%;
    cursor: pointer; }
    .reference-small-tile-view .reference-small-tile-view-quantity .reference-small-tile-view-quantity-label, .reference-small-tile-view .reference-small-tile-view-quantity .reference-small-tile-view-expander {
      width: 36%;
      display: inline-block;
      vertical-align: top; }
    .reference-small-tile-view .reference-small-tile-view-quantity .reference-small-tile-view-quantity-label {
      font-weight: 700;
      text-align: center; }
  .reference-small-tile-view .reference-small-tile-view-expander {
    position: relative; }
  .reference-small-tile-view .reference-small-tile-view-expander-lower-section {
    height: 25%;
    left: 36%;
    bottom: 0;
    position: absolute;
    border-left: solid 3px #77797c;
    display: none; }
  .reference-small-tile-view.expanded .reference-small-tile-view-expander-lower-section {
    display: block; }
  .reference-small-tile-view .reference-small-tile-view-reference-name, .reference-small-tile-view .reference-small-tile-view-reference-state {
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .reference-small-tile-view .reference-small-tile-view-reference-name {
    font-weight: 700; }
  .reference-small-tile-view .reference-small-tile-view-attributes {
    height: 100%;
    color: #77797c;
    white-space: nowrap; }
    .reference-small-tile-view .reference-small-tile-view-attributes .reference-small-tile-view-attribute {
      display: inline-block;
      overflow: hidden;
      margin-right: 40px; }
    .reference-small-tile-view .reference-small-tile-view-attributes .reference-small-tile-view-attribute-name, .reference-small-tile-view .reference-small-tile-view-attributes .reference-small-tile-view-attribute-value {
      display: inline-block;
      vertical-align: top; }
    .reference-small-tile-view .reference-small-tile-view-attributes .reference-small-tile-view-attribute-name {
      color: #d1d4d4; }
  .reference-small-tile-view .reference-small-tile-view-dropdown-menu {
    width: 2%;
    font-size: 1.5em;
    cursor: pointer;
    color: #d1d4d4; }

/** Responsiveness */
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .reference-small-tile-view-attributes {
  width: 72%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .reference-small-tile-view-attribute {
  width: 16%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .reference-small-tile-view-reference-name, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="3"] .reference-small-tile-view-reference-state {
  width: 10%; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-small-tile-view-attributes {
  width: 56%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-small-tile-view-attribute {
  width: 25%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-small-tile-view-reference-name, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-small-tile-view-reference-state {
  width: 15%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-small-tile-view-attribute[data-index="3"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-small-tile-view-attribute[data-index="4"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="2"] .reference-small-tile-view-attribute[data-index="5"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-attributes {
  width: 36%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-attribute {
  width: 100%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-reference-name, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-reference-state {
  width: 24%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-attribute[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-attribute[data-index="2"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-attribute[data-index="3"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-attribute[data-index="4"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="1"] .reference-small-tile-view-attribute[data-index="5"] {
  display: none; }

.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-attributes {
  width: 0%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-reference-name, .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-reference-state {
  width: 40%; }
.wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-attribute[data-index="0"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-attribute[data-index="1"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-attribute[data-index="2"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-attribute[data-index="3"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-attribute[data-index="4"], .wux-layouts-gridengine-poolcontainer-rel[data-visible-attributes-columns="0"] .reference-small-tile-view-attribute[data-index="5"] {
  display: none; }
