.adminSettingApplyResetDiv {
  background-color: white;
  float: right;
  right: 0.5em;
  bottom: 0.5em;
  padding: 5px;
  color: black;
  position: relative;
  width: 290px;
  height: 45px;
  font-size: 100%;
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-family: helvetica;
  -webkit-box-shadow: inset 0 1px #fbfbfb;
  box-shadow: inset 0 1px #fbfbfb;
  -o-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.xcadAdminSettingViewClass {
  overflow-y:auto;
  width:100%;
  height:100%;
  font-size:100%;
}

.adminSettingsDivClass {
  overflow: auto;
  height: 300px;
  width: 100%;
  margin-bottom:12px;
  max-height: 300px;
}

.adminSetttingsTable {
  table-layout: relative;
  min-width: 600px;
  /* margin-top : 10px; */
  margin-bottom: 0px !important;
}
