
div.dropArea, div.dropTarget, div.dropProgress {
    background-image            : none;
    cursor                      : default;
    font-size                   : 9px;
    line-height                 : 14px;
    height                      : 120px;
    margin                      : auto;
    padding                     : 0px;
    position                    : relative;
    text-align                  : center;
    vertical-align              : middle;
    line-height: 12px;
}
div.dropArea, div.dropTarget, div.dropProgress {
    border-radius               : 4px;
    width                       : 120px;
}
div.dropArea {
    border                      : 1px dashed #aaa;
    color                       : #aaa;
}
div.dropTarget {
    border                      : 1px solid #e87722;
    color                       : #e87722;
}
div.dropProgress {
    border                      : 1px solid #aab8be;
    color                       : transparent;
}
div.dropStatusDone {
    animation: keyDone;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    -moz-animation: keyDone;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1s;
    -webkit-animation: keyDone;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1s;
}
div.dropStatusCurrent {
    animation: keyCurrent;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    -moz-animation: keyCurrent;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1s;
    -webkit-animation: keyCurrent;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1s;
}


@keyframes keyDone {
    from {background: #009c00;}
    to {background: #74b31f;}
}

@-moz-keyframes keyDone {
    from {background: #009c00;}
    to {background: #74b31f;}
}
@-webkit-keyframes keyDone {
    from {background: #009c00;}
    to {background: #74b31f;}
}
@keyframes keyCurrent {
    from {background: #ffcc00;}
    to {background: #ff7f00;}
}
@-moz-keyframes keyCurrent {
    from {background: #ffcc00;}
    to {background: #ff7f00;}
}

@-webkit-keyframes keyCurrent {
    from {background: #ffcc00;}
    to {background: #ff7f00;}
}

