

/*------------------------------------------------------------------------------*/
/* SECTION::Pop Up Windows  */
.popUpWindow {
	margin-bottom:			0px;
	border:					1pt solid #55636B;
	/*border-radius:			5px;*/
	background:				#FFF;
	box-shadow:				2px 2px 4px #888;
	text-align:				left;
    font-family: 			Arial,Helvetica,sans-serif;
    font-size: 				11px;	
	color: 					#666666;
}
.popUpWindow .titleBar {
	border:					1pt solid #55636B;
	position:				relative;
	padding:				1px 10px 7px 10px;
	height:					14px;
    font-family: 			Arial,Helvetica,sans-serif;
	font-size:				12px;
	font-weight:			bold;
	text-shadow:#333333 1px 1px;	
	background:				#5f747d;	
	color:					#FFF;
	/*border-radius:			8px 8px 0 0;*/
}
.popUpWindow .titleBar span.theTitle {
	display:				block;
	margin-left:			7px;
	padding-right:			9px;
	font-weight:			900;
	padding-bottom:			4px;
}

.popUpWindow .titleBar span.closeIcon {
	position:				absolute;
	top:					5px;
	right:					7px;
	background:				url(../images/buttonMiniCancel.png) no-repeat;
	height:					23px;
	width:					23px;
	cursor:					pointer;
}



.popUpWindow div.content {
	padding:				5px 10px;
	position:				relative;
	margin:					0;
	padding:				8px;
	overflow:				auto;
}
	.popUpWindow div.content span.resizeIcon {
		position:				absolute;
		right:					1px;
		bottom:					1px;
		height:					16px;
		width:					16px;
		background:				transparent url(../images/resize.gif) no-repeat;
		cursor:					se-resize;
	}

.assignee-allocation-img {
  height: 40px;
  width: 40px;  
  border:1px solid grey; 
  margin-right: -4px !important; 
  margin-top:-10px !important; 
  margin-left:5px;
}

/*
.assignee-allocation-initials{
  background-color: #007DA3;
  color:white;
  text-align:center;
  padding-top:10px;
  display:inline-block;
  position: relative;
  top:-3px !important;
  right: -4px !important;
}
*/

.assignee-allocation-cancel-btn {
  margin:2px;
  height:19px;
  float:right;
  cursor:pointer;
}

.assignee-allocation-container {
  width:190px !important;
  height:27px !important;
  display:inline-block;
  padding:3px 5px 3px 5px;
  border:1px solid grey;
  margin:5px;
  margin-top:10px;
  margin-left:0px;
  border-left:none;
  border-radius:0px 20px 20px 0px;
}

.assignee-allocation-progress-bar-container {
  display:inline-block;
  width:160px !important;
  overflow:hidden;
}
