html{
  height: 100%;
}

body {
  min-height: 100%;
}

* {
	margin: 0;
    padding: 0;        
}

h1.statusTile{
	font-weight: bold;
    font-size:130%;
    font-align:center;
    vertical-align:middle;
    padding-top:30%;
}

span.statusTile{
	font-size:65%;
}

table.statusTile{	
}

div.outerTileContainer{
	overflow-x:auto;
	overflow-y:auto;
}

div.innerTileContainer{
	#display:table;
}

div.spacer{
	width: 0.4%;
    display: inline-block;
}

div.statusTileHeader {
	border-radius: 5px;
	font-weight: bold;
	font-size:70%;
    width: 12%;
    max-width: 100px;
    margin-top: 1px;
    display: inline-block;
}

div.statusTile{
	border-radius: 5px;
    width: 12%;
    height: 55%;
    max-width: 100px;
    margin-top: 1%;
    max-height: 120px;
    display: inline-block;	
	background: rgb(240,249,255);
    background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1)));
    background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );    
}

.fonticon.assessment.increasing {
  transform: rotate(-90deg);
}
.fonticon.assessment.decreasing {
  transform: rotate(90deg);
}
.fonticon.assessment[class*=trending-critical] {
  color: #f93d05;
}
.fonticon.assessment[class*=trending-caution] {
  color: #f8db39;
}
.fonticon.assessment[class*=trending-good] {
  color: #43a220;
}
