BODY { 
  background-color:white;
 }

.css { 
  vertical-align:top; 
}

.padding-bottom {
  padding-bottom : 3px;
}

.padding-right {
  padding-right : 3px;
}


.link {
  text-decoration:none;
  color:blue;
}

.link:hover {
  text-decoration:underline;
  color:blue;
}

a.link{
  text-decoration: none;
}

a.link:hover{
  text-decoration: underline;
}

.tdc {
  vertical-align:middle;
}

tr {
  vertical-align: top;
  margin: 0px;
  padding: 0px; 
}

.padding-bottom {
  padding-bottom:3px;
}

.padding-right {
  padding-right:3px;
}

.text {
   font-family: Arial, Verdana, Helvetica,  sans-serif; 
   font-size: 13px; font-style: normal; font-weight: normal; color: #000000; 
   letter-spacing: normal; text-align: left; word-spacing: normal;}


.border {
  border-color:#3b619c;
  border-style:solid;
  border-width:1px;
}

.button16 {
  width:16px;
  height:16px;
}
.button20 {
  width:20px;
  height:20px;
}
.button22 {
  width:22px;
  height:22px;
}

.toolbar { 
  border-collapse: collapse;
  padding: 5px;
  border: 1px solid #3b619c;
  background-color: #c4dafa;
}

.psheet { 
  font-size : 8pt;
  font-family: sans-serif;
  border-collapse: collapse;
  border: 1px solid #3b619c;
}

.psheet-cell { 
  background-color: #ECE9D8;
  border: 1px solid #7a8a99;
  padding: 5px;
  width: 70px;
}

.psheet-cell-title { 
  background-color: #ECE9D8;
  border: 1px solid #7a8a99;
  padding: 5px;
  width: 250px;
}

.psheet-cell-value { 
  background-color: white;
  border: 1px solid #7a8a99;
  padding: 5px;
  cursor: text;  
  width: 80px;
}

.psheet-cell-selected { 
  background-color: #bcd7ff;
  border: 1px solid #7a8a99;
  padding: 5px;
  width: 70px;
}

.psheet-text { 
  font-size : 8pt;
  font-family: sans-serif;
}

.textfield {
  font-size : 8pt;
  font-family: sans-serif;
  color: black;
}

.textfield-highlighted {
  font-size : 8pt;
  font-family: sans-serif;
}

.textfield-changed {
  font-size : 8pt;
  font-family: sans-serif;
  color: blue;
}

.textfield-error {
  font-size : 8pt;
  font-family: sans-serif;
  color: red;
}

