.label.ui-state-active span.ui-button-text { 
	color: #FFF; 
}
.tdHiddenWorkingHours{
}

/* Workweek summary tabs*/
.tabs { 
    background: transparent; 
    border: none; 
    font-weight: bold;
} 
.tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
.tabs .ui-tabs-nav .ui-state-active { 
    #background: transparent url(img/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
.tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
.tabs .ui-tabs-nav .ui-state-active a { 
    color: #1684C2; 
}	

/*	Working and Lunch Hours: Start*/
.slider-space{
	height:13px;
	visibility:hidden;
}
.ui-slider, .tabs .ui-slider{
    background: #D6DAD7 repeat-x bottom left;
}
.ui-slider-range, .tabs .ui-slider-range {
    background: #535C65 repeat-x bottom left;
    border-bottom: 1px solid #EBEAE5;
    height: 15px;
    margin: 0;
    padding: 0px;
}
/* working hours tooltip for slider 10am -12am */
.tooltip {
	position: absolute;
	bottom:120%;
	left: -120%;
	display: block;
	padding: 2px;
	font-size: 5px;
	visibility: visible;
	margin-top: -2px;
}

/* recess hours tooltip for slider 10am -12am */
.tooltip-range {
	position: absolute;
	bottom:120%;
	left: -200%;
	display: block;
	padding: 2px;
	font-size: 5px;
	visibility: visible;
	margin-top: -2px;
}
/*
.tooltip-lunchHour-range {
	position: absolute;
	bottom:120%;
	left: -160%;
	display: block;
	padding: 2px;
	font-size: 5px;
	visibility: visible;
	margin-top: -2px;
}
*/
.tooltip .tooltip-arrow {
}

/* tooltip black background and white text */
.tooltip-inner {
	font-size: 2em;
	#width: 50px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 5px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #535C65;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: nowrap;		
}
/*	Working and Lunch Hours: End*/


/*	Radio Button */
.label.ui-state-active { 
	background: #1684C2; 
}
.label.ui-state-active span.ui-button-text { 
	color: #FFF; 
}

/*	Calendar Date Picker:Start	*/
a.ui-state-default {
    font-weight:bold;
    background-color: yellow;
    background-image: none;
}
.ExceptionWorking a{
   #background-color : #ced0fb !important;
   background-color : #1684C2 !important;
   background-image : none !important;
   color: #fff !important;	
}
.ExceptionNonWorking a{
   #background-color : #c2eedc !important;
   background-color : #FF8000 !important;
   background-image : none !important;
   color: #fff !important;	  	   
}
.WorkWeekWorking a{		
   background-color : #fff !important;
   background-image : none !important;
   #color: #fff !important;	  	   
}
.WorkWeekNonWorking a{
   background-color : #E6E6E6 !important;
   background-image : none !important;
   #color: #fff !important;	  	   
}
.ui-datepicker-header {
	background: transparent;
	border: 0px solid;
}
.ui-state-highlight {
    background: #E6E6E6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50%;
    color: #555555;
    border: 1px solid #D3D3D3;
}
.ui-datepicker div.ui-datepicker-buttonpane button.ui-datepicker-current {
	border: 1px solid #E6E6E6;
	background: #FFFFFF;
}
.ui-datepicker-today {
    background: cyan;
    font-weight: bold;
    outline: none;
}
/*	Calendar Date Picker:End	*/

.trHiddenWorkingHours, 
.trHiddenRecurrencePatternWeekly, 
.trHiddenRecurrencePatternMonthly, 
.trHiddenRecurrencePatternYearly{
	display:none;
}
.recessRow{
   border: none; 	   
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ffffff;
   color: white;
   text-align: right;
   z-index: 2;
}

.save {
  background-color: #1684C2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;

}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
	background-image: url(../images/ui-icons_454545_256x240.png);
}

