.sch-inline-boolean-value {
  color: #0d22aa; }

.sch-inline-number-value {
  color: #1c00cf; }

.sch-inline-string-value {
  color: #c41a16; }
  .sch-inline-string-value .sch-inline-string-quote {
    color: #222222; }

.sch-inline-object-value {
  color: #212121; }
  .sch-inline-object-value .sch-inline-object-property-name {
    color: #565656; }

.sch-inline-object-null-value {
  color: #808080; }
