@keyframes pulse-animation {
  0% {
    transform: scale(1); }

  50% {
    transform: scale(1.2); }

  100% {
    transform: scale(1); } }

.sch-drop-zone {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 10px dashed #368ec4;
  border-radius: 20px;
  opacity: 0.8; }
  .sch-drop-zone > span {
    box-sizing: border-box;
    color: #368ec4;
    font-size: 130px;
    pointer-events: none;
    animation: pulse-animation 3s infinite ease-in-out; }
