.sch-value-evaluator {
  box-sizing: border-box;
  font-family: Consolas, Lucida Console, Courier New, monospace;
  font-size: 12px;
  cursor: default;
  line-height: 16px; }
  .sch-value-evaluator .sch-object-keyvalue {
    white-space: nowrap; }
    .sch-value-evaluator .sch-object-keyvalue .sch-object-key {
      color: #881391; }
  .sch-value-evaluator > .sch-object-tree-root > .sch-object-tree-parent {
    overflow: hidden;
    text-overflow: ellipsis; }
  .sch-value-evaluator .sch-object-tree-children {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 12px; }
    .sch-value-evaluator .sch-object-tree-children.sch-object-tree-root {
      padding-left: 0px; }
    .sch-value-evaluator .sch-object-tree-children li {
      white-space: nowrap; }
      .sch-value-evaluator .sch-object-tree-children li::before {
        content: '\25B6';
        display: inline-block;
        color: #727272;
        margin-right: 3px; }
      .sch-value-evaluator .sch-object-tree-children li.expanded::before {
        transform: rotate(90deg); }
      .sch-value-evaluator .sch-object-tree-children li.sch-object-tree-parent:hover {
        cursor: pointer;
        background-color: rgba(150, 150, 150, 0.2); }
    .sch-value-evaluator .sch-object-tree-children .sch-object-tree-leaf::before {
      content: ''; }
