.sch-contextual-bar {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.90196);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.43) 0 0 0 1px inset, rgba(255, 255, 255, 0.56863) 0 0 0 2px inset;
  padding: 5px; }
  .sch-contextual-bar .sch-command-button {
    margin-right: 5px; }
    .sch-contextual-bar .sch-command-button:last-of-type {
      margin-right: 0px; }
