<section class="flweb-cockpit-export-csv">
	<section class="line line-attributes-more-options">
		<section class="label-attributes">{{NLS.label_copy_attributes}}</section>
		<section class="fonticon fonticon-cog"></section>
	</section>
	<section class="line line-nb-exported-levels">
		<section class="nb-exported-level-label">{{NLS.label_number_of_exported_levels}} :</section>
		<section class="checkbox-export-all-levels">
			<div class="toggle">
				<input type="checkbox" id="export-all-levels" checked> <label
					class="control-label" for="export-all-levels">{{NLS.label_export_all_levels}}</label>
			</div>
			<input type="number" class="form-control" value="2" min="0" step="1" required
				id="input-nb-level-exported" disabled>
		</section>
	</section>
	<section class="line additional-options">
		<div class="toggle">
			<input type="checkbox" id="export-proposed-solution" checked>
			<label class="control-label" for="export-proposed-solution">{{NLS.label_export_proposed_solutions}}</label>
		</div>
		<div class="toggle">
			<input type="checkbox" id="export-specification-documents" checked>
			<label class="control-label" for="export-specification-documents">{{NLS.label_export_specification_documents}}</label>
		</div>
		<div class="toggle">
			<input type="checkbox" id="export-discipline-references" checked>
			<label class="control-label" for="export-discipline-references">{{NLS.label_export_discipline_references}}</label>
		</div>
	</section>
	<section class="line line-file-name">
		<section class="file-name-label">{{NLS.label_filename}} :</section>
		<section class="file-name-input">
			<input type="text" class="form-control file-name-user-input"
				value="{{defaultFileName}}"
				placeholder="{{NLS.ph_enter}} {{NLS.label_name}}...">
		</section>
		<section class="file-extension-label">.csv</section>
	</section>
</section>
