<section class="lines">
    <section class="line">
    	<section class="name">{{NLS.label_export_format_version}}</section>
    	<section class="value">SE1.1</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_filename}}</section>
    	<section class="value">{{infos.fileName}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_export_datetime_utcformat}}</section>
    	<section class="value italic">{{NLS.label_computed_at_exported}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_exported_by}}</section>
    	<section class="value">{{infos.exportedBy}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_applied_product_configuration}}</section>
    	<section class="value">{{infos.appliedConfiguration}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_number_of_exported_levels}}</section>
    	<section class="value">{{infos.expandLevels}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_export_proposed_solutions}}</section>
    	<section class="value">{{infos.exportProposedSolutions}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_export_specification_documents}}</section>
    	<section class="value">{{infos.exportSpecDocs}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_export_discipline_references}}</section>
    	<section class="value">{{infos.exportDiscRef}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_number_of_exported_items}}</section>
    	<section class="value italic">{{NLS.label_computed_at_exported}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_number_of_exported_logical_instances_in_structure}}</section>
    	<section class="value italic">{{NLS.label_computed_at_exported}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_number_of_exported_proposed_solutions}}</section>
    	<section class="value italic">{{NLS.label_computed_at_exported}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_number_of_exported_spec_docs}}</section>
    	<section class="value italic">{{NLS.label_computed_at_exported}}</section>
    </section>
    <section class="line">
    	<section class="name">{{NLS.label_number_of_exported_piloting_disc_ref}}</section>
    	<section class="value italic">{{NLS.label_computed_at_exported}}</section>
    </section>
</section>
<section class="dgv-container"></section>
