<div class='ENORipe-leftside-content'>
  <div class="ENORelCC-ActionContainer">
    <div id = "ENORipe-RelSetDef" class="action-btn selected" title={{relSetDef}}>
      <span class="fonticon fonticon-object-related-cog"></span>
      <div class="action-text">{{relSetDef}}</div>
    </div>

    <div id = "ENORipe-RelDef" class="action-btn" title={{relDef}}>
      <span class="fonticon fonticon-object-related-cog"></span>
      <div class="action-text">{{relDef}}</div>
    </div>

  </div>
</div>
