<div class='relSetsCommands-container'>
  <div class='relSetscombobox-container'>
  <p class="relSetsCombobox-label relset-labeltext">{{relationsset}}</p>
  </div>
  <div class='relSets-iconbar-container'>
  </div>
</div>
  <div class='relSetsAutocomplete-container'>
  <p class="relsetAutocomplete-label relset-lesstoppadding relset-labeltext">{{includedrelations}}</p>
  </div>

  <div class='roleUsrGrp-container'>
    <p class="relsetAutocomplete-label relset-labeltext">{{availableFor}}</p>
    <div class='roles-container'>
    <p class="relsetAutocomplete-label relset-labeltext">{{availableFor_Roles}}</p>
    </div>
    <div class='usrGrp-container'>
    <p class="relsetAutocomplete-label relset-labeltext">{{availableFor_UserGroups}}</p>
    </div>
    <div class='applications-container'>
    <p class="relsetAutocomplete-label relset-labeltext">{{applications}}</p>
    </div>
  </div>

  <div class='footer-container footer-style'>
  </div>
