<div>
  <!-- <div id='temp-switch'>
  <img src='../../3DPlay/assets/images/I_CldSwapGlobal.png' >
</div> -->
<!-- <div class='proj-type-selector'>
  <div id='equirectangular' >
    Equirectangular
  </div>
  <div id='cylindrical' >
     Cylindrical
   </div>
  <div id='planer' >
     Planer
   </div>
</div> -->
<!-- <div class='arrow-for-indicators'>
</div> -->
<!-- <div class='vl'>
</div> -->
<div id='indicatorOuterContainer'>
  <div id='north' class='north'>
  </div>
  <div id='light'>
  </div>
  <div id='indicatorContainer'>
  </div>
</div>
</div>
