.url-column a{
  color: rgb(54, 142, 196) !important;
}
.url-column a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.icon-text-column a {
  color: inherit;
}
.icon-text-column a:hover {
  color: inherit;
  cursor: default;
  text-decoration: none;
}



.url-column span{
  /* top: 50%;
  transform: translateY(-50%); */
}

.biessentials .wux-tweakers-color-square{
  border-radius: 50%;
  width: 16px !important;
  height: 16px !important
}
.doc-column a{
  cursor: pointer;
  color: inherit;
}
