.unitseditor-input-group {
  height: 100%;
  width: 100%;
}

.unitseditor-input-group input {
  height: 100%;
  width: 100%;
}

.unitseditor-group-addon {
  height: 100%;
  border-left: 0;
}

/*While displayed in TreeListView*/
.wux-datagrid-cell .unitseditor-group-addon , .wux-layouts-treeview-cell  .unitseditor-group-addon  {
    border: 0px;
}

/*While displayed in Edit Selected Object Form*/
.form-group > .custom-controls-unitseditor {
    height: 38px;
}

.form-group .unitseditor-input-group input {
    border-right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
