<div class="enx-droptarget hover">
      <div class="enx-drop-default">
            <div class="enx-open">
                  <div class="enx-icon-drop">
                        <i class="wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-open"></i>
                  </div>
                  <div class="enx-icon-txt">{{openTitle}}</div>
            </div>
      </div>
      <div class="enx-drop-zones">
            <div class="enx-drop-zone enx-open-ctx">
                  <div class="enx-icon-drop">
                        <i class="wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-open"></i>
                  </div>
                  <div class="enx-icon-txt">{{openInCtxTitle}}</div>
            </div>
            <div class="enx-drop-zone enx-open-filter">
                  <div class="enx-icon-drop">
                        <i class="wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-filter"></i>
                  </div>
                  <div class="enx-icon-txt">{{openAndFilterTitle}}</div>
            </div>
      </div>
</div>
