<div class="enx-wizard-steps">
      <div class="enx-wizard-rope-container">
            <div class="enx-wizard-rope-placeholder"></div>
            <div class="enx-wizard-rope"></div>
      </div>
      <nav class="enx-view-navigator">
        {{#each steps}}
            <a id="{{id}}" class="nav-item {{status}}" title="{{#getlabel}}{{label}}{{/getlabel}}">
          <div class="nav-item-active-indicator">
            <span class="enx-icon wux-ui-3ds wux-ui-3ds-1x wux-ui-3ds-expand-down"></span>
          </div>
          <div class="nav-item-circle">
            <span class="view-icon enx-icon wux-ui-3ds wux-ui-3ds-1x wux-ui-3ds-{{fonticon}}"></span>
          </div>
          <div class="nav-item-label">{{#getlabel}}{{label}}{{/getlabel}}</div>
        </a>
        {{/each}}
      </nav>
</div>
