.empty-view {
    text-align: center;
    color: #B4B6BA !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: -moz-flex;
    display: flex;

    .empty-view-infos {
        display: inline-block;
        vertical-align: middle;
        margin: auto;
    }

    .empty-view-title {
        font-size: 2.0em;

        ul {
            list-style-position: unset;
            padding: 0 40px;
            li {
                list-style-type: disc;
                font: 1em Arial;
            }
        }
    }

    .empty-view-subtitle {
        font-size: 1.30em;
        font-weight: bold;
        width: 70%;
    }

    &.not_visible {
        display: none;
    }
}
