.information-zone {
  height: 100%;
  width: 100%;

  .information-noselection {
    //display: none;
    font-size: 20px;
    text-align: center;
    color: #cfcfcf;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    user-select: none;
  }

  .information-container {
    width: 100%;
  }
}
