//colors
$color_celeste_approx: #ccc;
$black_7_5: rgba(0, 0, 0, .075);
$color_gallery_approx: #eee;
/*
.properties-body {
    dt {
        clear: left;
        text-align: left;
        font-weight: bold;
        word-wrap: break-word;
    }
    dd {
        margin-bottom: 4px;
        padding: 6px 12px;
        //Instead of the line below you could use @includeword-break($value)
        word-break: keep-all;
        border: 1px solid $color_celeste_approx;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 4px;
        //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 1px 1px $black_7_5;
        background-color: $color_gallery_approx;
    }

}
*/
div.onesearch_skeleton {
  div.title-section, span.tw_ROValue_content {
    user-select: all;
  }
}

/*
IR-427529-3DEXPERIENCER2016x: specific Firefox: not possible to edit the old attribute values in properties panel when launched on any object in dashboard search results 
div.properties-sub-container { 
    width: 98%;
    -webkit-user-select: all;
    //-moz-user-select: all; //<- Enough to comment but better to have same behavoir everywhere
    -ms-user-select: all; 
    user-select: all; 
}
*/
/*
dl.properties-body {
    padding: 0.5em;
}
dd.multiVal {
    margin-bottom: 4px;
    display: list-item;
    padding: 6px 12px;
    //Instead of the line below you could use @includeword-break($value)
    word-break: keep-all;
    border: 1px solid $color_celeste_approx;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 4px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 1px 1px $black_7_5;
    background-color: $color_gallery_approx;
}
.editproperties-sub-container{
    height: 100%;
}
.editproperties-body{
    height: 100%;
}

.properties-sub-container{
  height: 100%;
}

.properties-sub-container-std {
  height: initial;
  -webkit-user-select: text;//IR-376379-3DEXPERIENCER2017x Impossible to copy the attributes of properties after a search 
  -ms-user-select: element; //IR-376379-3DEXPERIENCER2017x Impossible to copy the attributes of properties after a search  
  -moz-user-select: text;   //IR-376379-3DEXPERIENCER2017x Impossible to copy the attributes of properties after a search 
  //-moz-user-select: all;  //IR-427529-3DEXPERIENCER2016x: specific Firefox: not possible to edit the old attribute values in properties panel when launched on any object in dashboard search results
}

.properties-body{
    height: 100%;
}
*/
