.search-content-set-contents.content-set-contents.set-contents {
  // .wux-ui-3ds-open-down:before {
  //   cursor: pointer;
  // }
}

.onesearch_results .onesearch_skeleton .search-content-set-container .search-content-set-contents .DataGridView {
  align-self: stretch;
  flex: 1 1 auto;
  display: flex;
  height: 100%;

  .wux-layouts-collectionview {
    width: inherit;
  }
}

.onlyDisplayInLargeTileView {
  display: none;
}

.RespLargeTileGridView .onlyDisplayInLargeTileView {
  display: inline;
}

.onlyDisplayInLargeTileView.largeView_label {
  font-weight: bold;
}

.highlightedSearchCriteria {
  font-weight: bold;
  background-color: rgba(232,123,0,0.5);
  color: rgba(0,0,0,1);
}
