.onesearch_results .onesearch_skeleton .search-content-set-container .search-content-set-contents .RespTextualTileGridView {
  align-self: stretch;
  flex: 1 1 auto;
  display: flex;
  height: 100%;

  .wux-layouts-collectionview {
    width: inherit;
  }

  .wux-controls-responsivetextualtileview-icon {
    background-size: auto;
  }
}

// IR-636155-3DEXPERIENCER2020x
.wux-ui-state-prehighlighted .searchItemSpan,
.wux-ui-state-prehighlighted .wux-controls-responsivetextualtileview-subtitle,
.wux-ui-state-prehighlighted .wux-controls-responsivetextualtileview-description {
  /*cursor: help;*/ // IR-723632-3DEXPERIENCER2020x
}

// IR-689136-3DEXPERIENCER2019x
.wux-controls-responsivetextualtileview-menu {
  cursor: pointer;
}

// IR-763344-3DEXPERIENCER2021x - format label size.
// IR-856170-3DEXPERIENCER2022x.
.wux-controls-responsivetextualtileview-title {
  width: fit-content;
  max-width: calc(100% - 35px);
}
