.onesearch_results .onesearch_skeleton .search-content-set-container .search-content-set-contents .RespThumbnailGridView {
  align-self: stretch;
  flex: 1 1 auto;
  display: flex;
  height: 100%;

  .wux-layouts-collectionview {
    width: inherit;
  }
}

// IR-636155-3DEXPERIENCER2020x
.wux-ui-state-prehighlighted .wux-controls-responsivethumbnailview-title,
.wux-ui-state-prehighlighted .wux-controls-responsivethumbnailview-subtitle {
  /*cursor: help;*/ // IR-723632-3DEXPERIENCER2020x
}

// IR-689136-3DEXPERIENCER2020x
.wux-controls-responsivethumbnailview-menu {
  cursor: pointer;
}

// IR-763344-3DEXPERIENCER2021x - format label size.
.wux-controls-responsivethumbnailview-title {
  right: auto !important;
  left: auto !important;
  max-height: 16px !important;
  height: 16px !important;
}
