
// Multisort component

.global-multisort-div > .footer > button.btn-primary {
  float: right;
}

.global-multisort-div > .footer > button#search_multisort_btn_valid {
  margin-left: 10px;
}

.global-multisort-div > div {
  margin-top: 10px;
  clear: both;
}

.global-multisort-div > div:first-child {
  margin-top: 0;
}
