.onesearch_results .onesearch_skeleton .search-content-set-container .search-content-set-contents .RespLargeTileGridView {
  align-self: stretch;
  flex: 1 1 auto;
  display: flex;
  height: 100%;

  .wux-layouts-collectionview {
    width: inherit;
  }
}

.wux-layouts-gridengine-poolcontainer-rel { 
  /*.wux-controls-responsivetileview-checkbox {display:none;} IR-726286-3DEXPERIENCER2020x - remove useless class */
  .wux-controls-responsivetextualtileview-icon {
      background-size: 16px 16px !important;
  }

  .wux-controls-responsivetileview-checkbox.wux-ui-state-highlighted {
    display: block;
  }

  .wux-controls-responsivetileview-checkbox.wux-ui-state-prehighlighted {
    display: block;
  }
}

// IR-636155-3DEXPERIENCER2020x
.wux-ui-state-prehighlighted .searchItemSpan,
.wux-ui-state-prehighlighted .wux-controls-responsivetileview-description,
.wux-ui-state-prehighlighted .wux-controls-responsivetileview-subtitle {
  /*cursor: help;*/ // IR-723632-3DEXPERIENCER2020x
}

// IR-689136-3DEXPERIENCER2020x
.wux-controls-responsivetileview-menu {
  cursor: pointer;
}
