/* COLORS ==================================== */
/* MAIN COLORS ------------------ */
/* BACKGROUND GREY */
/* SECTION GREY */
/* FOOTER GREY */
/* OUTLINE GREY */
/* OUTLINE DARK GREY */
/* ICON GREY */
/* COPY GREY */
/* DARK GREY */
/* LIGHT STEEL */
/* LIGHT BLUE */
/* MEDIUM BLUE */
/* DARK BLUE */
/* 3DS CORPORATE STEEL BLUE */
/* DARK STEEL */
/* LIGHT GREEN */
/* MEDIUM GREEN */
/* DARK GREEN */
/* LIGHT RED */
/* MEDIUM RED */
/* DARK RED */
/* LIGHT ORANGE */
/* MEDIUM ORANGE */
/* DARK ORANGE */
/* LIGHT CYAN */
/* MEDIUM CYAN */
/* DARK CYAN */
/* DATA VISUALIZATION COLORS ------------------ */
/* BRAND COLORS ------------------ */
/* TYPOGRAPHY ==================================== */
/* FONT FAMILY ------------------ */
/* FONT SIZE ------------------ */
/* ~18px */
/* ~12px */
/* LINE HEIGHT ------------------ */
/* http://stackoverflow.com/questions/19982651/why-does-bootstrap-set-the-line-height-property-to-1-428571429 */
/* 20/14 */
/* RESPONSIVE ==================================== */
/* BREAKPOINTS ------------------ */
/* MAX BREAKPOINTS ------------------ */
/* Define maximum range, useful when doing sm only for example */
/* Z-INDEX SCALE ==================================== */
/* GLOBALS ====================================== */
/* COMPONENTS ==================================== */
/* OVERFLOW ==================================== */
/* OPACITY ==================================== */
/* VENDOR PREFIXES ==================================== */
/* Animations ------------------ */
/* Backface visibility ------------------ */
/* Drop shadows ------------------ */
/* Box sizing ------------------ */
/* CSS3 Content Columns ------------------ */
/* Hyphenation ------------------ */
/* Transformations ------------------ */
/* Transitions ------------------ */
/* User select ------------------ */
/* Clearfix ---------------------*/
/* Appearance -------------------- */
/* COMPONENTS ==================================== */
/* Dropdown --------------------- */
/* Card ------------------ */
/* Tooltip ---------------- */
/* Popover ---------------- */
/* Progress --------------- */
/* Avoid bad event.target while dragging (needed for Firefox) */
/* Used for drag and drop of floating widget preview. */
.app-content.events-disabled {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none; }

body.swym-im[data-swym-page^="east/cockpit/app"] .preview-header {
  font-size: 14px;
  /* To avoid the scroll bar */ }
body.swym-im[data-swym-page^="east/cockpit/app"] .preview-content {
  margin-top: 68px; }
  body.swym-im[data-swym-page^="east/cockpit/app"] .preview-content .moduleWrapper {
    background-color: transparent; }
@media screen and (max-width: 799.95px) {
  body.swym-im[data-swym-page^="east/cockpit/app"] .preview-content {
    margin-top: 43px;
    padding-bottom: 43px; } }
@media screen and (max-width: 958px) {
  body.swym-im[data-swym-page^="east/cockpit/app"] .preview-content {
    margin-top: 43px; } }

/* All kind of widget preview */
.preview-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  /* Regular widget preview (no Multi-App) */
  /* MultiApp widget preview */
  /* Floating widget preview */ }
  .preview-content.preview-content-nominal {
    margin-top: 25px; }
    .ifwe-has-fullscreen-widget .preview-content.preview-content-nominal {
      height: 100% !important;
      /* Important to override direct element style */
      margin-top: 0; }
      .ifwe-has-fullscreen-widget .preview-content.preview-content-nominal .moduleWrapper.environment-preview > .module.r2g-widget {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .preview-content.preview-content-multiapp {
    margin-top: 25px; }
  .preview-content.preview-content-float .moduleWrapper.environment-preview > .module.r2g-widget {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25); }
  .preview-content.preview-content-float .resize-active {
    border: 2px dashed #B4B6Ba;
    z-index: 20; }
  .preview-content.preview-content-float .r2g-resize-transient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .preview-content.preview-content-float .r2g-resize-transient {
    width: 20px;
    height: 20px;
    right: -8px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=");
    background-position: top left;
    background-repeat: no-repeat;
    cursor: se-resize;
    z-index: 20;
    position: absolute;
    opacity: 1;
    /* Necessary for resizing to work on IE11 for MS Surface */
    -ms-touch-action: none; }
    .preview-content.preview-content-float .r2g-resize-transient.r2g-resize-top-right-both {
      top: -8px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      cursor: sw-resize; }
    .preview-content.preview-content-float .r2g-resize-transient.r2g-resize-bottom-right-both {
      bottom: -8px; }
  .preview-content.preview-content-float .leaf-widget {
    background: transparent; }
    .preview-content.preview-content-float .leaf-widget .moduleHeader .moduleHeader__title {
      /* Necessary for repositioning to work on IE11 for MS Surface */
      -ms-touch-action: none; }
  .preview-content > .module.moduleLayout.wi-preview {
    width: 100%;
    height: 100% !important;
    /* Important to override direct element style */ }
  .preview-content .leaf-widget {
    height: 100%;
    /*
     * WARNING: all .r2g-widget style from dashboard environment will not be apply
     *          to widget preview because .r2g-widget is not as same level as
     *          .leaf-widget class.
     */ }
    .preview-content .leaf-widget.hide-ctn-before-onviewchange {
      visibility: hidden; }
    .preview-content .leaf-widget > .moduleEdit {
      /*
       * Makes space with transparent border, but keeps style consistent with
       * the front of the widget by adding a grey 1px border with box-shadow
       * trick
       */
      box-shadow: 0 0 0 1px #E2E4E3; }
    .preview-content .leaf-widget .moduleHeader .fonticon-hide {
      display: none; }

/* Actions bar for Multi-App widget preview. */
/* Note: Outside of .preview-content (above & at same DOM level) */
/* Not related with floating preview at all! */
/* TODO: Should be renamed in multiapp actions bar ctn */
.preview-header-float {
  position: absolute;
  top: 1px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
  padding: 0 8px;
  /* TODO: Should be renamed in actions bar wrapper */ }
  .preview-header-float.search-in-multiapp-widget-displayed .search-ctn {
    display: block; }
  .preview-header-float.search-in-multiapp-widget-displayed .moduleHeader__right .search-icon {
    display: none; }
  .preview-header-float .search-ctn {
    display: none;
    width: 100%;
    max-width: 300px;
    min-width: 220px;
    margin-right: 1px; }
  .preview-header-float .moduleHeader__right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #E2E4E3;
    height: 100%;
    min-width: auto;
    position: relative;
    line-height: initial;
    top: initial;
    right: initial; }
  .preview-header-float .ifwe-action-icon {
    position: relative;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E2E4E3;
    cursor: initial;
    height: 100%; }
    .preview-header-float .ifwe-action-icon.clickable {
      cursor: pointer;
      color: #77797C; }
      .preview-header-float .ifwe-action-icon.clickable:hover {
        color: #3D3D3D; }
      .preview-header-float .ifwe-action-icon.clickable.active {
        color: #368EC4; }
        .preview-header-float .ifwe-action-icon.clickable.active:hover {
          color: #005686; }
    .preview-header-float .ifwe-action-icon.disabled {
      cursor: default;
      color: #E2E4E3; }
      .preview-header-float .ifwe-action-icon.disabled:hover {
        color: #E2E4E3; }
      .preview-header-float .ifwe-action-icon.disabled.active {
        color: #E2E4E3; }
        .preview-header-float .ifwe-action-icon.disabled.active:hover {
          color: #E2E4E3; }
