<div class="bulk-edition-line"><section class="bulk-edition-title">{{labelCopiedSource}} :</section><section class="bulk-edition-value">{{itemName}}</section></div>
<div class="bulk-edition-line"><section class="bulk-edition-title">{{labelNbColumnsToBeCopied}} :</section><section class="bulk-edition-value">{{nbCopiedColumns}}</section></div>
<div class="bulk-edition-line"><section class="bulk-edition-title">{{labelNbObjectsToBePasted}} :</section><section class="bulk-edition-value bulk-edition-nb-items-pasted">{{labelNone}}</section></div>
