<div class="left_ctn_search ctn_search"></div>
<div class="input_ctn_search ctn_search search_css_temp">
    <div class="input_search_div" id="input_search_div">
        <!-- autocomplete -->
    </div>
    <div class="right_search">
        <!-- do not insert spaces/indent between div -->
        <div class="clear_ctn_search ctn_search">
        	<div data-rec-id="clear_btn_search" class="clear_btn_search fonticon fonticon-cancel-circled" style="display:none;"></div>
        </div>
        <div class="run_ctn_search ctn_search">
        	<div data-rec-id="run_btn_search" class="run_btn_search fonticon fonticon-search"></div>
        </div>
    </div>
</div>
