.enox-arch-number-dynamic-content{
  height: 100px;
}

.enox-arch-number-content {
    margin-bottom: 2%;
}


.formats-arch {
    display: inline-flex;
    width: 100%;
    border-top: 1px solid #e2e4e3;
        padding: 1%;
}
.formats-arch:hover {
background-color:#f4f5f6;
}

.formats-arch-label{
  width: 50%;
  color: #3d3d3d;


}
.formats-arch-tbox{
    width: 50%;
}


#information-arch{
  width: 8%;
}

#sampleValue-arch{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.label-counter-arch {
    display: inline-flex;
    width: 100%;
}

.label-text-arch {
    width: 92%;
}

.formats-arch-sample{
  display: inline-flex;
  width: 100%;
  padding: 1%;
}

.formats-arch-sample-label {
    width: 50%;
}

.formats-arch-sample-value {
    width: 50%;
}
.labels {
    width: 60% ; 
    padding: 8px ;
}

.information {
    padding: 8px;
    vertical-align: middle;
}

.bubble-info {
    padding: 8px;
    vertical-align: middle;
    width: 5%
}

.validation {
    padding: 8px;
    vertical-align: middle;
}

.validation  span {
    float: right;
}

.validation  div {
    float: right;
   
}

.Config_error {
    color : #f00 ;
}
.Config_valid {
    color: #008000;
}

.checkboxCase {
    padding: 8px;
    display:flex;
    justify-content:flex-end;
}
.checkboxContainer {
    position: relative ; 
    top: -10px ;
}

#configurationParamContainer {
    margin: 14px ;
}
#configurationParamTitle {
    margin-bottom: 10px ;
}

.configurationParamTable {
    width: 100%;
}

.configurationTableCase {
    border-top : 1px solid #e2e4e3
}

.colored {
    background-color: #f4f5f6 ;
}

.configurated-structure-main {
    overflow-y: auto!important;
}
#TNSDataDiv {
  height: calc(100% - 90px);
  width: 100%;
  overflow: hidden;
}

.TNSMappingLine {
  border-top: 1px solid #f4f5f6;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 6fr auto;
  -ms-grid-columns: 1fr 6fr auto;
  padding: 5px;
  margin-top: 5px;
}

.TNSMappingLineHeader {
  margin-top: 10px;
}

.TNSMappingLineHeader div {
  text-align: left;
  color: #b4b6ba;
  padding-left: 5px;
}

/* TNS type name related classes */
.TNSTypeName {
  color: #42a2da;
  font-size: 1em;
  display: table;
  -ms-grid-column: 1;
  grid-column: 1;
}

.TNSTypeName span {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

/* TNS badges related classes */
.TNSBadgeRootContainer {
	-ms-grid-column: 2;
	grid-column: 2;
}

.TNSBadgeContainer {
    padding: 5px;
}

.TNSBadgeRootContainer .TNSBadgeContainerMsg {
  color: #77797c;
  font-size: 0.9em;
  padding: 5px;
}

.TNSBadgeRootContainer .TNSBadgeContainerMsg i {
  margin-right: 5px;
}

.TNSBadge {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid;
  margin-right: 10px;
  margin-bottom: 5px;
}

.TNSBadge span.TNSBadgeLabel {
  color: #77797c;
}

.TNSBadgeLabel {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9em;
}

.TNSBadge.TNSBadgeDefault {
  border-color: #b4b6ba;
}

/* As a default value can't be modified, it can be only deployed  */
.TNSBadgeDefault i.fonticon.TNSBadgeStatus {
  color: #57B847;
}

.TNSBadge.TNSBadgeStored {
  border-color: #ffc52b;
}

.TNSBadgeStored i.fonticon.TNSBadgeStatus {
  color: #ffc52b;
}

.TNSBadge.TNSBadgeAdded {
  border-color: #42a2da;
}

.TNSBadgeAdded i.fonticon.TNSBadgeStatus {
  color: #3d3d3d;
}

.TNSBadge.TNSBadgeDeployed {
  border-color: #57B847;
}

.TNSBadgeDeployed i.fonticon.TNSBadgeStatus {
  color: #57B847;
}

.TNSBadge.TNSBadgeDeleted {
  border-color: #EA4F37;
}

.TNSBadge.TNSBadgeStoredDeleted {
  border-color: #ffc52b;
}

.TNSBadgeDeleted i.fonticon.TNSBadgeStatus {
  color: #EA4F37;
}

.TNSBadgeStoredDeleted i.fonticon.TNSBadgeStatus {
  color: #ffc52b;
}

.TNSBadgeDeletedError {
  border-color: #EA4F37;
}

.TNSBadgeDeletedError i.fonticon.TNSBadgeStatus {
  color: #EA4F37;
}

.TNSBadgeDeletedError {
  border-color: #EA4F37;
}

.TNSBadgeStoredDeletedError i.fonticon.TNSBadgeStatus {
  color: #ffc52b;
}

.TNSBadgeStoredDeletedError {
  color: #ffc52b;
}

.TNSBadge.TNSBadgeDefault .TNSBadgeAction {
  color: #b4b6ba;
}

.TNSBadge.TNSBadgeDeletedError .TNSBadgeAction {
  color: #b4b6ba;
}

.TNSBadge.TNSBadgeStoredDeletedError .TNSBadgeAction {
  color: #b4b6ba;
}

i.fonticon.TNSBadgeAction:hover {
  cursor: pointer;
}

.TNSBadge.TNSBadgeDefault .TNSBadgeAction:hover {
  cursor: not-allowed;
}

.TNSBadge.TNSBadgeDeletedError .TNSBadgeAction:hover {
  cursor: not-allowed;
}

.TNSBadge.TNSBadgeStoredDeletedError .TNSBadgeAction:hover {
  cursor: not-allowed;
}



/* TNS Specialization type selector */
.TNSSpecTypeSelectorContainer {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 4fr auto 2fr;
  -ms-grid-columns: 4fr auto 2fr;
  font-size: 0.9em;
  margin-bottom: 5px;
  padding-left: 5px;
}

.TNSSpecTypeSelectorContainer select {
  height: 100%;
  font-size: 1em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -ms-grid-column: 1;
  grid-column: 1;
}

.TNSSpecTypeSelectorContainer button {
  font-size: 1em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -ms-grid-column: 2;
  grid-column: 2;
}

/* TNS status related classes */
.TNSStatus {
  display: table;
   -ms-grid-column: 3;
   grid-column: 3;
}

.TNSStatus i {
  display: table-cell;
  vertical-align: middle;
}

.TNSDeployedStatus {
  color: #57B847;
}

.TNSModifiedStatus {
  color: #3d3d3d;
}

.typeHeader {
   -ms-grid-column: 1;
   grid-column: 1;
}
.specTypeHeader {
   -ms-grid-column: 2;
   grid-column: 2;
}
.statusHeader {
   -ms-grid-column: 3;
   grid-column: 3;
}

.rule1{
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
}

#titleMainDiv #ApplyResetDiv{
    position: relative;
    left: calc(100% - 21em);
}

.downloadRulesParent .wux-controls-buttongroup{
    display: inline;
}
.downloadRulesParent .wux-controls-buttongroup .wux-controls-radio{
    padding-left: 120px;
    padding-top: 10px;
}
.downloadRulesDivScroll {
    overflow: auto;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;
}

.downloadRulesParent .wux-controls-radio .wux-label{
    font-size: 14px;
}


.architectureNumberingDiv{
    margin-bottom:20px;
}

.architectureNumberingDivScroll {
    overflow: auto;
    height: 100%;
    width: 97%;
    margin-bottom:20px;
    overflow-x: auto;
}

.architectureNumberingField{
  /*text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;*/
}

.UnicitySubDivScroll {
    width: 97%;
}


.architectureNumberingContent{
    height: 100%;
}

.architectureNumbering {
    height: 85%;
    width: 100%;
    overflow-y: auto;
}

.unicitySubContent {
    /* height: 250px; */
}

.unicitySubstitute{
    /* height: 100%; */
    min-height: 60px;
    max-height: 250px;
    margin-top: -25px;
    margin-left: -15px;
    margin-right: -10px;
}

/*.alternateSubstituteContent {
    height: 100%;
}*/

.architectureNumberingContent #ApplyResetDiv {
    float: right;
    display: block;
}
.archNumCollabUnicityContainer #ApplyResetDiv {
    float: right;
    display: block;
}
.canvas {
  display: inline-block;
  position: absolute;/**/
  left: 50;/*100*/
  right: 0;
  top: 0;
  bottom: 0;
  height: 80%;
  background: #fff;
  overflow: hidden;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.graphPlaceholder {
  min-height: 540px;
}

.my-node_x {
    font-weight: bold;
    font-size: 200%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.14);
    cursor: default;
    text-align: center;
    vertical-align: middle;
    width : 200px;
    height : 120px;
    line-height: 120px;
}


.my-node-header {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    background: #4d4d4d;
    border-bottom-width: 0;
    color: #f9f9f9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 15px;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.my-node { 
   border:3px solid #99CCFF;
   box-shadow: 2px 2px 19px #aaa;
   box-sizing: border-box;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-border-radius:0.5em;
   border-radius:0.2em;
   opacity:1.0;
   filter:alpha(opacity=80);
   width:7em; 
   height:2.7em;
   line-height:2em;
   text-align:center;
   z-index:20; 
   position:absolute;
   background:#f6f6f6; /* Old browsers */
   background:-moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
   background:-webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
   background:-o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
   background:-ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
   background:linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
   filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
   color:black;
   font-family:helvetica;
   padding:0.5em;
   font-size:0.8em;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}

.my-node.selected {
   background: -moz-linear-gradient(center top , #7DB9E8 0%, #2B88D9 50%, #207CCA 51%, #4FA0E2 100%) repeat scroll 0 0 transparent;
   background: -webkit-linear-gradient(center top, #7DB9E8 0%, #2B88D9 50%, #207CCA 51%, #4FA0E2 100%); /* Chrome10+,Safari5.1+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#2B88D9), color-stop(51%,#207CCA), color-stop(100%,#4FA0E2)); /* Chrome,Safari4+ */
   box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
   color:#9DD0CE;
   opacity:0.9;
   filter:alpha(opacity=90);
}

.my-error-node {
  background: rgb(94,40,8); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(94,40,8,1) 0%, rgba(120,43,10,1) 52%, rgba(182,60,16,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(94,40,8,1)), color-stop(52%,rgba(120,43,10,1)), color-stop(100%,rgba(182,60,16,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(94,40,8,1) 0%,rgba(120,43,10,1) 52%,rgba(182,60,16,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(94,40,8,1) 0%,rgba(120,43,10,1) 52%,rgba(182,60,16,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(94,40,8,1) 0%,rgba(120,43,10,1) 52%,rgba(182,60,16,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(94,40,8,1) 0%,rgba(120,43,10,1) 52%,rgba(182,60,16,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e2808', endColorstr='#b63c10',GradientType=1 ); /* IE6-9 */
   box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
   color:#9DD0CE;
   opacity:0.9;
   filter:alpha(opacity=90);
}

.my-error-node.selected {
    background: rgb(153,5,12); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(153,5,12,1) 0%, rgba(196,6,28,1) 52%, rgba(249,59,87,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(153,5,12,1)), color-stop(52%,rgba(196,6,28,1)), color-stop(100%,rgba(249,59,87,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(153,5,12,1) 0%,rgba(196,6,28,1) 52%,rgba(249,59,87,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(153,5,12,1) 0%,rgba(196,6,28,1) 52%,rgba(249,59,87,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(153,5,12,1) 0%,rgba(196,6,28,1) 52%,rgba(249,59,87,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(153,5,12,1) 0%,rgba(196,6,28,1) 52%,rgba(249,59,87,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99050c', endColorstr='#f93b57',GradientType=1 ); /* IE6-9 */
   box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
   color:#9DD0CE;
   opacity:0.9;
   filter:alpha(opacity=90);
}

.arrow-edge {
    stroke: #b3b3b3;
    stroke-width: 3px;
    fill : none;
    marker-end: url(#arrow-edge-end-marker);
}

.arrow-edge:hover {
    stroke: #288FD1;
    stroke-width:3.5px;
}

.arrow-edge.selected {
    stroke: orange;
    stroke-width:3px;
}

.arrow-edge.selected:hover  {
    stroke: green;
    stroke-width:3.5px;
}

text.edge-text {
    display: block;
}

text.edge-text:hover {
    display: none;
}

.my-node-extended { 
   border:3px solid #99CCFF;
   box-shadow: 2px 2px 19px #aaa;
   box-sizing: border-box;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-border-radius:0.5em;
   border-radius:0.2em;
   opacity:0.9;
   filter:alpha(opacity=80);
   width:7em; 
   height:2.7em;
   line-height:2em;
   text-align:center;
   z-index:20; 
   position:absolute;
   background:#f6f6f6; /* Old browsers */
   background:-moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
   background:-webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
   background:-o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
   background:-ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
   background:linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
   filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
   color:black;
   font-family:helvetica;
   padding:0.5em;
   font-size:0.8em;
}


/* Restore States modal */
.restore-sts-modal .modal-wrap {
  padding-top: 90px;
}

.restore-sts-modal .modal-content,
.restore-sts-modal .skeleton {
  height: 100%;
}

.restore-sts-modal .modal-body {
  height: calc(100% - 5em);
}


#controlBoxDiv { 
  background-color:white;
  color:black;  
  border:1px solid #ddd; 
  margin:5px; 
  position:relative;
  left:1em;
  top:18em;
  width:95%;
  height:25%;
  min-width:50%;
  font-size:100%;
  -moz-border-radius:1em; 
  border-radius:1em;
  padding:1em;
  opacity:0.9;
  filter:alpha(opacity=90); 
  font-family:helvetica;
  box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}


#controlBoxDiv2 { 
  background-color:white;
  color:black;  
  border:1px solid #ddd; 
  margin:5px; 
  position:relative;
  left:1em;
  top:18em;
  width:400px;
  height:250px;
/*  min-width:50%;*/
  font-size:100%;
  -moz-border-radius:1em; 
  border-radius:1em;
  padding:1em;
  opacity:0.9;
  filter:alpha(opacity=90); 
  font-family:helvetica;
  box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}


#controlBoxDivRed { 
  background-color:white;
  color:black;  
  border:1px solid #ddd; 
  margin:5px; 
  position:relative;
  left:1em;
  top:18em;
  width:400px;
  height:70px;
/*  min-width:50%;*/
  font-size:100%;
  -moz-border-radius:1em; 
  border-radius:1em;
  padding:1em;
  opacity:0.9;
  filter:alpha(opacity=90); 
  font-family:helvetica;
  box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}


#propsTransitionDiv { 
  background-color:white;
  color:black;  
  border:1px solid #ddd; 
 /* margin:5px; */
  position:absolute;
  left:90em;
  top:2em;
  width:180px;
  height:40px;
/*  min-width:50%;*/
  font-size:100%;
/*  -moz-border-radius:1em; 
  border-radius:1em;
  padding:1em;*/
  opacity:0.7;
  filter:alpha(opacity=70); 
  font-family:helvetica;
  box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}


#ApplyResetDivLC { 
    background-color: white;/*#f0f0f0;*/
    right:0em;
  bottom:0em;
  padding: 5px;
/* border-top: 1px solid #dbdbdb;
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;*/
  color:black;  
/*  border:1px solid #ddd; */
  position:absolute;
  width:250px;
  height:45px;/* 55px*/
/*  min-width:50%;*/
  font-size:100%;
/*  -moz-border-radius:1em; 
  border-radius:1em;*/
  opacity:0.9;
  filter:alpha(opacity=90); 
  font-family:helvetica;
    -webkit-box-shadow: inset 0 1px #fbfbfb;
     box-shadow: inset 0 1px #fbfbfb;
    -o-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}


#AlreadySetRules { 
  background-color:white;
  color:black;
  border:1px solid #ddd; 
  margin:5px; 
  position:absolute;
  overflow-y:auto;
  /*position:relative;*/
  left:0.5em;/*3em*/
  top:18em;
  width:99%;/*67% 75%*/
  height:30%; 
  font-size:100%;
  /*-moz-border-radius:1em;
  border-radius:1em;*/
  padding:1em;
  opacity:0.8;
  filter:alpha(opacity=80); 
  font-family:helvetica;
 /* box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;*/
    -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}

#IndicatorDiv { 
  background-color:white;
  color:black;
  /*border:1px solid #ddd; */
  margin:5px; 
  position:absolute;
  /*overflow-y:auto;*/
  /*position:relative;*/
  right:0.5em;/*3em*/
  top:0em;
  width:5%;
  height:5%; 
  font-size:100%;
  padding:1em;
  opacity:0.8;
  filter:alpha(opacity=80); 
  font-family:helvetica;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#DescriptionMainDiv { 
  /*background-color:white;*/
  margin:10px; 
  position:absolute;
  overflow-y:auto;
  /*position:relative;
  left:0.5em;
  top:19em;*/
  width:100%;
  height:100%; 
  font-size:100%;
  padding:1em;
}
.customTypeParentDiv{
  height: 200px;
}

.customTypeContentDiv #ApplyResetDiv {
    position: relative;
    left: calc(100% - 21em);
}

.customTypeDivScroll { 
	 overflow: auto;
	 height: 100%; 
	 width: 100%; 
 	 margin-bottom:20px;
	 overflow-x: auto;
}

.customTypeContentDiv {
    height: 100%;
    width: 100%
}

.basicDivScroll {
    width: 97%;
}

.basicParentDiv {
    height: 250px;
}

.basicDiv{
    height: 100%;
    margin-top: -25px;
    margin-left: -30px;
    margin-right: -30px;
}

.basicConfigDiv {
    height: 100%;
}

.customTypeMappingTable {
	 padding-left:5px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#parameterizationSkeleton-widget-empty-content{
    height: 100%;
}

#optionstable{ 
  /*background-color:white;*/
  margin:10px; 
  position:relative;
  border:1px solid #ddd; 
  left:4em;
  top:2em;
  width:30%;
  height:20%; 
  font-size:100%;
  padding:1em;
}

#titleMainDiv {
  margin:2px; 
  position:absolute;
  width:100%;
  height:100%; 
  font-size:100%;
  padding:1em;
}

#mainParamDiv { 
  /*background-color:white;*/
  margin:2px; 
  position:absolute;
  /*overflow-y:auto;
  position:relative;
  left:0.5em;
  top:19em;*/
  width:100%;
  height:100%; 
  font-size:100%;
  padding:1em;
}

#parametersDiv { 
  /*background-color:white;*/
  /*IR-772364-3DEXPERIENCER2021x*/
  height: calc(100% - 80px);
  margin:1px; 
  /*position:absolute;*/
  overflow-y:auto;
  /*position:relative;
  left:0.5em;
  top:19em;*/
  width:100%;
  height:80%; 
  font-size:100%;
  padding:1em;
}

#ApplyResetDiv { 
    background-color: white;/*#f0f0f0;*/
    right:0.5em;
    bottom:0.5em;
    padding: 5px;
    color:black;
    position:absolute;
    width:290px;
    height:45px;/* 55px*/
  /*  min-width:50%;*/
    font-size:100%;
    opacity:0.9;
    filter:alpha(opacity=90); 
    font-family:helvetica;
    -webkit-box-shadow: inset 0 1px #fbfbfb;
     box-shadow: inset 0 1px #fbfbfb;
    -o-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}

/*
* Gestion des erreurs
*/

.alert.param-alert {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2100;
}

.alert.param-alert .alert-message {
  position: relative;
  left: -50%;
  margin-bottom: -19px;
}

.pmask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}

.pmask-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}

.pmask-content {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}

.pmask-content .text {
  vertical-align: middle;
  display: inline-block;
}

.pmask-content .text {
  padding: 5px;
  color: $grey-7;
  font-family: '3ds';
}

#typeMainDiv { 
  /*background-color:white;*/
  margin:2px; 
  position:absolute;
  /*overflow-y:auto;
  position:relative;
  left:0.5em;
  top:19em;*/
  width:100%;
  height:100%; 
  font-size:100%;
  padding:1em;
}

/* auto complete control */

.autoCompleteSearch {
  
  position: absolute;
  right: 90px;
  /*vertical-align: baseline;*/
  
}
.panel.left.active .autoCompleteSearch {
  width: 60%
}
.panel.right.active .autoCompleteSearch {
  width: 30%;
}

/* Restore States modal */
.add-attr-modal .modal-wrap {
  width : 600px;
  padding-top: 10px;
  top: 30px;
}

.add-attr-modal .modal-content {
  width : 600px;
  top: 30px;
}

.add-attr-modal .skeleton {
  height: 100%;
}

.add-attr-modal .modal-body {
  height: calc(100% - 5em);
}

.skeleton .panel:first-child .skeleton-ctrl-back {
  display: none;
}

/*.delAttrModal .modal-body {
  height: 100px; 
}

.delAttrModal .modal-wrap {
  width: 470px; 
}*/
.delAttrModal .modal-body {
  height: 20%; 
}

.delAttrModal .modal-wrap {
  width: 50%; 
}

.longAttrModal .modal-body {
  height: 20%; 
}

.longAttrModal .modal-wrap {
  width: 60%; 
}
.successfullyApplied {
  color:#57B847;;
}
/* IR-772352-3DEXPERIENCER2021x*/
.tooltipStyle {
  color:#b4b6ba;
  font-size:25px;
}
.partNumberingDiv{
	margin-bottom:20px;
}

.partNumberingDivScroll { 
	 overflow: auto;
	 height: 100%; 
	 width: 100%; 
 	 margin-bottom:20px;
	 overflow-x: auto;
}

.partNumberingField{
  /*text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;*/
}

/*** start newly added for altsub ****/
.altSubDivScroll {
    width: 97%;
}

.partNumberingContent{
  height: 200px;
}
.partNumbering {
    height: 100%;
    width: 100%
}

.altSubContent {
    height: 250px;
}

.alternateSubstitute{
    height: 100%;
    margin-top: -25px;
    margin-left: -30px;
    margin-right: -30px;
}

.alternateSubstituteContent {
    height: 100%;
}

.altSubContent #ApplyResetDiv {
  margin-right: 10px;
}

.partNumberingContent #ApplyResetDiv {
    position: relative;
    left: calc(100% - 20.5em);
   /* right: -42em;*/
}
.update-highest-counter {
    margin-left: 20px;
    display: inline-flex;
    margin-top: -60px;
}

.update-highest-counter-info {
    align-self: center;
    margin-top: -6px;
    margin-left:5px;
}

.part-number-modal {
    top: 30px !important;
}

/*** end newly added for altsub ****/

.enox-part-number-dynamic-content{
   height: 165px;
}

.enox-part-number-content {
    margin-bottom: 2%;
}


.formats {
    display: inline-flex;
    width: 100%;
    border-top: 1px solid #e2e4e3;
        padding: 1%;
}
.formats:hover {
background-color:#f4f5f6;
}

.formats-label{
  width: 50%;
  color: #3d3d3d;


}
.formats-tbox{
    width: 50%;
}


#information{
  width: 8%;
}

#sampleValue{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.label-counter {
    display: inline-flex;
    width: 100%;
}

.label-text {
    width: 92%;
}

.formats-sample{
  display: inline-flex;
  width: 100%;
  padding: 1%;
}

.formats-sample-label {
    width: 50%;
}

.formats-sample-value {
    width: 50%;
}
.colMappingType {
  align: left;
  width: 20%;
  padding: 5px 5px 5px 5px;
  min-width: 44px;
  font-weight: bold;
}

.colMappingSide {
  align: left;
  width: 20%;
  padding: 5px 5px 5px 5px;
  min-width: 48px;
  font-weight: bold;
}

.colMappingVPMObject {
  align: left;
  width: 25%;
  padding: 5px 5px 5px 5px;
  min-width: 135px;
  font-weight: bold;
}

.colMappingMatrixObject {
  align: left;
  width: 25%;
  padding: 5px 5px 5px 5px;
  min-width: 135px;
  font-weight: bold;
}

.colMappingDeleteAction{
  align: left;
  width: 10%;
  padding: 5px 5px 5px 5px;
  min-width: 48px;
}

.tableMapping{
	margin-left:20px;
	width: 85%;
}

.AddMapping{
	margin-top:5px;
	width:400px;
}

.AddMappingButton{
	width:50px;
	margin-left:3px;
	margin-bottim:3px;
}


.SelectTypeMapping{
	width:310px;
}

.labelMapping{
	background-color:#368ec4;
	color: white;
	border-width: 1;
	min-height: 5%;
	width:100%;
	display:block;
	font-size:large;
	text-indent: 10px;
}

.DivMapping{
	margin-bottom:20px;
}

 .DivMappingScroll { 
 overflow: auto; 
 height: 70%; 
 width: 100%; 
margin-bottom:20px;
 }

.attrTableMapping{
 table-layout: fixed; 
 min-width: 600px;
}

.attrTableMappingNew{
 table-layout: fixed; 
 min-width: 600px;
 margin-top : 20px;
}


.attributeMappingField{
	overflow: hidden;
    text-overflow: ellipsis;
}


.ListAddMappingMessage{
	list-style:circle;
	white-space: normal;
}

.divAddMappingMessage{
	display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 20px;
    min-height: 25px;
    min-width:20px;
	
}

}
.colXCADMappingType {
  align: left;
  width: 20%;
  padding: 5px 5px 5px 5px;
  min-width: 44px;
  font-weight: bold;
}

.colXCADMappingSide {
  align: left;
  width: 20%;
  padding: 5px 5px 5px 5px;
  min-width: 48px;
  font-weight: bold;
}

.colXCADMappingVPMObject {
  align: left;
  width: 25%;
  padding: 5px 5px 5px 5px;
  min-width: 135px;
  font-weight: bold;
}

.colXCADMappingCADType {
  align: left;
  width: 25%;
  padding: 5px 5px 5px 5px;
  min-width: 135px;
  font-weight: bold;
}

.colXCADMappingDeleteAction {
  align: left;
  width: 10%;
  padding: 5px 5px 5px 5px;
  min-width: 48px;
}

.tableXCADMapping {
  margin-left: 20px;
  width: 85%;
}

.AddXCADMapping {
  margin-top: 5px;
  width: 400px;
}

.AddXCADMappingButton {
  width: 50px;
  margin-left: 3px;
}

.SelectTypeXCADMapping {
  width: 310px;
}

.labelXCADMapping {
  background-color: #368ec4;
  color: white;
  border-width: 1;
  min-height: 5%;
  width: 100%;
  display: block;
  font-size: large;
  text-indent: 10px;
}

.DivXCADMapping {
  margin-bottom: 20px;
}

.DivXCADScroll {
  overflow: auto;
  /* height: 90%; */
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.attrTableXCADMapping {
  table-layout: relative;
  min-width: 600px;
  /* margin-top: 10px; */
}

.attributeXCADMappingField {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ListAddXCADMappingMessage {
  list-style: circle;
  white-space: normal;
}

.divAddXCADMappingMessage {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-right: 20px;
  min-height: 25px;
  min-width: 20px;
}

/* tabbar styles */
.generic-detail .wux-controls-tabBar-tabs-container.wux-controls-tabbar-strip {
  display: flex
}

.generic-detail .tabContainer.wux-controls-tab-container.wux-controls-tab-strip {
  font-size: 14px
}

.generic-detail .wux-controls-tabBar-tabs-container.wux-controls-tabbar-strip>.wux-controls-buttongroup>.wux-controls-button {
  font-size: 14px;
}

/* Below font size will change the text size in the tabs */
.generic-detail .wux-controls-tabBar-tabs-container.wux-controls-tabbar-strip>.wux-controls-buttongroup>.wux-controls-button>span {
  font-size: 14px;
}

.generic-detail .wux-controls-tabBar-tabs-container.wux-controls-tabbar-strip>.wux-controls-buttongroup>.wux-controls-button:focus:not([disabled]), .generic-detail .wux-controls-tabBar-tabs-container.wux-controls-tabbar-strip>.wux-controls-buttongroup>.wux-controls-button[checked]:hover:not([disabled]), .generic-detail .wux-controls-tabBar-tabs-container.wux-controls-tabbar-strip>.wux-controls-buttongroup>.wux-controls-button[checked]:not([disabled]), .generic-detail .wux-controls-tabBar-tabs-container.wux-controls-tabbar-strip>.wux-controls-buttongroup>.wux-controls-button[checked]:active:not([disabled]) {
  background: #368ec4 !important;
  color: #FFFFFF !important;
}

.generic-detail div.wux-controls-button.wux-controls-abstract.wux-ui-state-secondary.wux-ui-style-normal[checked]>div.wux-button-icon-placeholder>span.wux-button-icon-fi.wux-ui-3ds {
  color: #FFFFFF !important;
  padding: 3px;
}

.generic-detail span.wux-button-icon-fi.wux-ui-3ds {
  padding: 3px !important;
}

.generic-detail .wux-controls-tabBar.wux-controls-tabbar-strip {
  height: 35px !important;
  padding: 2px;
}

.generic-detail .wux-layouts-collectionview.wux-controls-abstract {
  position: relative !important;
  width: 100%;
}

.generic-detail .wux-layouts-datagridview-cell .wux-tweakers {
  font-size: 14px;
}
