.bookmarklet.alert.alert-root {
  height: auto;
  text-align: center;
}

.bookmarklet.alert .alert-message {
  position: relative;
  margin-bottom: 0;
}

.bookmarklet .draggableBookmarklet.btn {
  color: white;
  cursor: move;
  font-weight: bold;
  margin-top: 5px;
}

.bookmarklet .do-not-show-again-ctn {
  margin-top: 8px;
}
.bookmarklet .do-not-show-again {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  color: #3d3d3d;
}
