<div class="ENORipeCustomizeAttr-MainToolBar">
  <div class="ENORipeCustomizeAttr-ToolBar">
    <div class="ENORipeCustomizeAttr-TypeContainer">
      <div id="ENORipeCustomizeAttr-comboboxContainer" class="ENORipeCustomizeAttr-comboboxContainer">
      </div>
    </div>
  </div>


</div>

<div id="ENORipeCustomizeAttr-TableContainer">
  <div id="ENORipeCustomizeAttr-MainTable" class="ENORipeCustomizeAttr-MainTable">
  </div>
  <div id="ENORipeCustomizeAttr-Movementctrls" class="ENORipeCustomizeAttr-Movementctrls">
    <ul>
      <li><span id="ENORipeCustomizeAttr-Movementctrlsright" class="fonticon fonticon-right"></span></li>
      <li><span id="ENORipeCustomizeAttr-Movementctrlsleft" class="fonticon fonticon-left"></span></li>
    </ul>
  </div>
  <div id="ENORipeCustomizeAttr-SelectedTable" class="ENORipeCustomizeAttr-SelectedTable">

  </div>
</div>
