<div class="toggle toggle-primary">
  {{#if thumbnailscbValue}}
    <input class="globalPref" type="checkbox" id="thumbnails2d-cb" value="false" checked />
  {{else}}
    <input class="globalPref" type="checkbox" id="thumbnails2d-cb" value="false" />
  {{/if}}
  <label class="control-label customize-display-icon-check-label" for="thumbnails2d-cb"><img src="{{thumbnailsIcon}}" /> {{thumbnails2DNls}}</label>
</div>

<div class="toggle toggle-primary">
  {{#if recomputecbValue}}
  <input class="globalPref" type="checkbox" id="recompute-cb" value="false" checked />
  {{else}}
  <input class="globalPref" type="checkbox" id="recompute-cb" value="false"/>
  {{/if}}
  <label class="control-label" for="recompute-cb">{{recumputeNls}}</label>
</div>
<div class="toggle toggle-primary customize-hidden">
  {{#if showpubValue}}
    <input class="globalPref" type="checkbox" id="showpub" value="false" checked />
  {{else}}
    <input class="globalPref" type="checkbox" id="showpub" value="false" />
  {{/if}}
  <label class="control-label" for="showpub">{{showpubnls}}</label>
</div>
<!--
<h6 class="h6">{{graphOrientationNls}}</h6>

<div class="toggle toggle-primary">
  <input type="radio" name="graph-orientation" id="ltr-radio" value="ltr" checked="">
  <label class="control-label" for="ltr-radio">{{ltrNls}}</label>
</div>
<div class="toggle toggle-primary">
  <input type="radio" name="graph-orientation" id="rtl-radio" value="rtl">
  <label class="control-label" for="rtl-radio">{{rtlNls}}</label>
</div>
<div class="toggle toggle-primary">
  <input type="radio" name="graph-orientation" id="tb-radio" value="tb">
  <label class="control-label" for="tb-radio">{{tbNls}}</label>
</div>
<div class="toggle toggle-primary">
  <input type="radio" name="graph-orientation" id="bt-radio" value="bt">
  <label class="control-label" for="bt-radio">{{btNls}}</label>
</div>
-->
