<div class='ENORipe-leftside-content'>
  <div class="ENORipe-homepage-header">
    <p class="ENORipe-homepage-headertext">{{header1}} <br /> {{header2}} </p>
  </div>
  <div class="ENORipe-ActionContainer">

    <div class="action-text">{{quickAccess}}</div>

    <div id = "ENORipe-Favorite" class="action-btn" title={{favorite}}>
      <span class="fonticon fonticon-favorite-on"></span>
      <div class="action-text">{{favorite}}</div>
    </div>

    <div id = "ENORipe-Recents" class="action-btn selected" title={{recents}}>
      <span class="fonticon fonticon-clock"></span>
      <div class="action-text">{{recents}}</div>
    </div>

  </div>
</div>
