<div class='ENORipe-rightside-content'>
  <div class="ENORipe-rightside-header-container">
    <div class="ENORipe-rightside-header">
      <span class="fonticon fonticon-2x fonticon-open-left openicon"></span>
      <span class="fonticon fonticon-2x fonticon fonticon-menu display-none"></span>
    </div>
    <p class="ENORipe-rightside-headertext">{{header}}</p>
  </div>
  <div class="ENORipe-View-Container">
    <div id="ENORipe-Favorite-Container" title="">
    </div>
    <div id="ENORipe-Recents-Container" title="">
    </div>
  </div>
</div>
