<div class="ENORIPEPagerContainer">
  <span class="ENORIPESelectionNavigatiorTopBar">
    <span class="ENORIPEPagerPreviousButton" data-toggle="tooltip" data-placement="bottom"  title = "{{previousTitle}}"></span>
    <div class="ENORIPEPagerLabel wux-afr-label"></div>
    <span class="ENORIPEPagerNextButton" data-toggle="tooltip" data-placement="bottom" title = "{{nextTitle}}"></span>
    <span class="fonticon fonticon-wrong ENORIPEPagerCloseButton" data-toggle="tooltip" data-placement="top"  title = "{{closeTitle}}"></span>
  </span>
</div>
