    <div class="enoripe_search_autocomplete_container">
    </div>
    <div class="enoripe_right_search">
        <!-- do not insert spaces/indent between div -->
        <div id = "enoripe_clear_search" class = "enoripe_clear_search" title = "{{clearSearch}}">
        	<div id="enoripe_clear_btn_search" class="enoripe_clear_btn_search fonticon fonticon-cancel-circled" style="display: inline-block;"></div>
        </div>
        <div id="enoripe_run_search"class="enoripe_run_search" title = "{{runSearch}}" >
        	<div id="enoripe_run_btn_search" class="enoripe_run_search fonticon fonticon-filter"></div>
        </div>
  </div>
