body, html {
	height					: 100%;
}
body {
	margin					: 0;
	background				:     -ms-linear-gradient(top , #FFFFFF 0%, #F5F5F5 90%);
	background				:    -moz-linear-gradient(top , #FFFFFF 0%, #F5F5F5 90%);
	background				: -webkit-linear-gradient(top , #FFFFFF 0%, #F5F5F5 90%);
	font-family				: Arial, Helvetica, sans-serif;
	overflow				: hidden;
	-webkit-touch-callout	: none;
	-webkit-user-select		: none;
	-khtml-user-select		: none;
	-moz-user-select		: none;
	-ms-user-select			: none;
	user-select				: none;		
}
a {
	color					: #207cca;
	text-decoration			: none;
}
div.link:hover,
a:hover {
	text-decoration			: underline;
}

div.header {
	background				:     -ms-linear-gradient(left,  #5f747d 0% , #7e929a 50%, #5f747d 100%);	
	background				:    -moz-linear-gradient(left,  #5f747d 0% , #7e929a 50%, #5f747d 100%);	
	background				: -webkit-linear-gradient(left,  #5f747d 0% , #7e929a 50%, #5f747d 100%);	
	border					: 1px solid #5f747d;			
	border-radius			: 4px 4px 0px 0px;		
	cursor					: pointer;
	color					: #FFFFFF;
	font-weight				: bold;
	line-height				: 19px;
	background-color		: #5f747d;
	text-align				: center;
	vertical-align			: middle;
	text-shadow				: #333333 1px 1px;
}	
div.header:hover {
	background 				: #207cca;				
	background				:     -ms-linear-gradient(left,  #207cca 0%, #4fa0e2 50%, #207cca 100%);	
	background				:    -moz-linear-gradient(left,  #207cca 0%, #4fa0e2 50%, #207cca 100%);	
	background				: -webkit-linear-gradient(left,  #207cca 0%, #4fa0e2 50%, #207cca 100%);	
	border					: 1px solid #207cca;									
}
div.header,
div.filter,
div.chart,
div.info {
	border-left				: 1pt solid #5f747d;
	border-right			: 1pt solid #5f747d;
	-moz-box-shadow			: 2px 2px 3px #aaa;
	box-shadow				: 2px 2px 3px #aaa;		
}
div.filter:hover {
	text-decoration			: underline;
}
div.chart {
	background-color		: #FFFFFF;
	text-align 				: center;
	padding-bottom			: 1px;
	cursor					: pointer;
}
div.chartBorder {
	border-bottom			: 1pt solid #5f747d;
}
div.info {
	background-color		: #FFF;
	border-bottom			: 1px solid #5f747d;
	border-top				: 1px solid #bababa;
	border-radius			: 0px 0px 4px 4px;	
	margin-bottom			: 5px;			
	padding-bottom			: 1px;
}
div.info table {
	height					: 22px;
}

