div.italic {
	font-style				: italic;
}
div.title {
	margin-left				: 15px;
	margin-top				: 5px;
	margin-right			: 15px;
	text-align				: right;
	cursor					: pointer;
	float					: left;
}
div.posLeft {
	margin-left				: 15px;
	margin-right			:  4px !important;
}
div.posRight {
	margin-left				:  4px !important;
	margin-right			: 15px;
}
div.header,
div.filter,
div.chart,
div.info {
	margin-left				: 15px;
	margin-right			: 15px;	
}
div.header {
	margin-top				: 10px;
}
div.filter {
	display					: false;
	height					: 0px;
	visibility				: hidden;
	background				: #FFFFFF;
	line-height				: 20px;
	vertical-align			: middle;
	text-align				: center;
	font-size				: 10px;
	cursor					: pointer;
	color					: #207cca;
}
div.info {
	margin-bottom			: 5px;			
	padding-bottom			: 1px;
}
div.small {
	width					: 254px;
}
img.hide {
	height					: 10px;
	margin-bottom			: 2px;
	vertical-align			: middle;
}
img.removeFilter {
	background				: #cc0000;
	border					: 2px solid #cc0000;
	border-radius			: 2px;
	height					: 6px;
	vertical-align			: middle;
}
img.unhide {
	display					: block;
	height					: 10px;
	margin					: auto;
	margin-top				: 5px;
	-ms-transform			: rotate(180deg);
	-moz-transform			: rotate(180deg);
	-webkit-transform		: rotate(180deg);
}
td, th, caption {
	padding					: 1px;
	vertical-align			: middle;
}

/* ---------------------------------------------------- */
/* Clickable counters in dashbaords */
td.counter:hover,
td.counterCell:hover {
	color					: #207cca !important;
}
td.counterCell {
	font-size				: 11px;
	vertical-align			: top;
	text-align				: center;
	width					: 20%;
}
span.counterText {
	font-size				: 48px;
	font-weight				: bold;
	line-height				: 56px;
}
span.counterTextMRU:hover {
	text-decoration			: underline;
}
td.mruCell {
	color					: #207cca;
	cursor					: pointer;
	text-align				: center;
	vertical-align			: middle;
	width					: 20%;
}
/* ---------------------------------------------------- */

td.red    { 
	color					: #cc0000; 
}
td.yellow { 
	color					: #ff7f00; 
}
td.green  { 
	color					: #009c00; 
}
td.gray   { 
	color					: #5f747d; 
}
td.grayBright   { 
	color					: #aab8be; 
}
div.hidden {
	color					: transparent;
}
.link {
	color					: #207cca;
}
#details , #left {
	float					: left;
	margin-right			: 550px;
	height					: 100%;
	margin 					: 0px;
}
#details {
	display 				: none;
	width					: 0px;
	float					: left;
}
#middle{
	background				:     -ms-linear-gradient(left,  #f1f1f1 0% , #FFF 100%);
	background				:    -moz-linear-gradient(left,  #f1f1f1 0% , #FFF 100%);
	background				: -webkit-linear-gradient(left,  #f1f1f1 0% , #FFF 100%);
	/* border-left				: 1px solid #bababa; */
	cursor					: pointer;				
	display					: none;
	float					: left;
	height					: 100%;
	width					: 0px;
}
#middle:hover {
	background				:     -ms-linear-gradient(top,  #207cca 0%, #4fa0e2 50%, #207cca 100%);
	background				:    -moz-linear-gradient(top,  #207cca 0%, #4fa0e2 50%, #207cca 100%);
	background				: -webkit-linear-gradient(top,  #207cca 0%, #4fa0e2 50%, #207cca 100%);
}
#right {
	background				:     -ms-linear-gradient(top,  #FFF 0% , #eaeaea 50%, #FFF 100%);
	background				:    -moz-linear-gradient(top,  #FFF 0% , #eaeaea 50%, #FFF 100%);
	background				: -webkit-linear-gradient(top,  #FFF 0% , #eaeaea 50%, #FFF 100%);
	/* border-left				: 1px solid #bababa;*/
	height					: 100%;
	overflow-y				: scroll;				
	overflow-x				: hidden;				 
	width					: 570px;
	float					: left;
	display 				: block;
}	

.ui-icon { width: 16px; height: 16px; background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
		.ui-resizable { position: relative;}
		.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
		.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
		.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
		.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
		.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
		.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
		.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
		.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
		.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
		.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
		.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
