.descriptionCard {
    background-color: rgba(255,255,255,0.8) !important;
    border: solid 1px rgb(61, 61, 61);
    padding: 5px;
    border-radius: 10px;
    color: #3d3d3d;
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    backdrop-filter: blur(1px);
    /* color:green; */
}

.descriptionCardfadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
  }

.descriptionCardfadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ;
}
